 <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>
    <h1>User Location</h1>
    <p>Click the button to get your location:</p>
    <button onclick="getLocation()">Get Location</button>

    <p id="demo"></p>



  
  {% require_js %}
 
  
     <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getCityName, showError);
            } else {
                document.getElementById("demo").innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function getCityName(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            // Use Google Maps Geocoding API to get city name
            var geocodingApiUrl = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${latitude},${longitude}&key=&callback=initMap`;
            
            fetch(geocodingApiUrl)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'OK') {
                        var city = null;
                        for (var component of data.results[0].address_components) {
                            if (component.types.includes('locality')) {
                                city = component.long_name;
                                break;
                            }
                        }
                        if (city) {
                            document.getElementById("demo").innerHTML = "City: " + city;
                        } else {
                            document.getElementById("demo").innerHTML = "City information not available.";
                        }
                    } else {
                        document.getElementById("demo").innerHTML = "Failed to fetch city information.";
                    }
                })
                .catch(error => {
                    document.getElementById("demo").innerHTML = "Error fetching city information: " + error.message;
                });
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    document.getElementById("demo").innerHTML = "User denied the request for Geolocation.";
                    break;
                case error.POSITION_UNAVAILABLE:
                    document.getElementById("demo").innerHTML = "Location information is unavailable.";
                    break;
                case error.TIMEOUT:
                    document.getElementById("demo").innerHTML = "The request to get user location timed out.";
                    break;
                case error.UNKNOWN_ERROR:
                    document.getElementById("demo").innerHTML = "An unknown error occurred.";
                    break;
            }
        }
    </script>
  {% end_require_js %}