.ui-tab li a input{pointer-events: none;}

.ui-tab-item {
  display: block;
  position: relative;
}

.ui-tab-item input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.ui-tab-item label {
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding-right: 25px;
}

.ui-tab-item label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: absolute;
  top:50%;
  right:0;
  vertical-align: middle;
  cursor: pointer;
  transform: translateY(-50%);
}

.ui-tab-item input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 44%;
    right: 14px;
  width: 6px;
  height: 14px; 
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translateY(-50%);
}
.fitab-left.ui-tab--checkbox{background:#140a9a;padding:35px 35px 45px;}
.fitab-left.ui-tab--checkbox ul li a{background: transparent;
    margin: 0;
    border-bottom: 1px solid;padding: 13px 0px;}
.fitab-block.fitab-block-image{
display:flex;
  gap:20px;
}
.fitab-block.fitab-block-image .fitab-block-image-added{width:60%;}
.fitab-block.fitab-block-image .fitab-image{width:40%;display:flex;flex-direction:column;gap:25px;}

@media(min-width: 1440px){
  .ui-tab-item input:checked + label:after{
  top: 38%;
  }
}
@media (max-width: 991px){
.ui-tab-item input:checked + label:after{
  top: 35%;
  }
}
@media (max-width: 670px){
  .fitab-block.fitab-block-image{flex-direction:column;}
  .fitab-block.fitab-block-image .fitab-block-image-added,.fitab-block.fitab-block-image .fitab-image{width:100%;}
  
}
@media (max-width: 370px){
.ui-tab-item input:checked + label:after{
  top: 40%;
  }
}

.fitab-block.ui-content--new ul,.fitab-block.ui-content--new ol{list-style:inherit;margin-left: 30px;}