{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color fitab-section">
  <div class="content-wrapper">    
    <div class="page-wrap fullwidth fitab-outer">
      <div class="fitab-left ui-tab ui-tab--checkbox">
        <div class="title-color text-yellow">
      <h2>{{ module.tab_title }}</h2>
    </div>
        <ul>
          {% for item in module.tabs %}
           <li><a href="#{{ name }}_{{ item.tab_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
             <div class="ui-tab-item">
               <input type="checkbox" id="checkbox-{{ loop.index }}" >
                <label for="{{ item.tab_category }}">{{ item.tab_category }}</label>
                  </div></a></li>
          {% endfor %}
        </ul>  
      </div>
      <div class="fitab-right">
        {% for item in module.tabs %}
          <div class="fitab-block ui-content ui-content--new  {% if item.add_image %}fitab-block-image{% endif %}" id="{{ name }}_{{ item.tab_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
       {% if item.add_image %}   <div class="fitab-block-image-added">{% endif %} 
              {% if item.tab_title %}
            <div class="title-color">
            <h3>{{ item.tab_title }}</h3>
            </div>  
            {% endif %}
            {% if item.tab_content %}
            <div class="fitab-text text-color">
              {{ item.tab_content }}
            </div>
            {% endif %}
            {% if item.add_image %}  </div>{% endif %} 
            {% if item.add_image %}
	           <div class="fitab-image">
              	{% for item2 in item.image_field %}
		{% if item2.src %}
			{% set sizeAttrs = 'width="{{ item2.width }}" height="{{ item2.height }}"' %}
			{% if item2.size_type == 'auto' %}
				{% set sizeAttrs = 'width="{{ item2.width }}" height="{{ item2.height }}" style="max-width: 100%; height: auto;"' %}
			{% elif item2.size_type == 'auto_custom_max' %}
				{% set sizeAttrs = 'width="{{ item2.max_width }}" height="{{ item2.max_height }}" style="max-width: 100%; height: auto;"' %}
			{% endif %}
			 {% set loadingAttr = item2.loading != 'disabled' ? 'loading="{{ item2.loading }}"' : '' %}
			<img src="{{ item2.src }}" alt="{{ item2.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
		{% endif %}
	{% endfor %}
            </div>
	          {% endif %}
          </div> 
        {% endfor %}
      </div>  
    </div>  
  </div>  
</div>  
{% endif %}
  

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.content_title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.content_title_color.color|convert_rgb }}, {{ module.style.color_settings.content_title_color.opacity ~ '%' }}); }
  {% endif %}
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .fitab-left.ui-tab--checkbox .title-color h2{color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }});}
    {% endif %}
  #hs_cos_wrapper_{{ name }} .ui-tab li a { color: rgba({{ module.style.color_settings.tab_text_color.color|convert_rgb }}, {{ module.style.color_settings.tab_text_color.opacity ~ '%' }}); }
  #hs_cos_wrapper_{{ name }} .ui-tab li.active a, #hs_cos_wrapper_{{ name }} .ui-tab li a:hover {  color: rgba({{ module.style.color_settings.tab_active_color.color|convert_rgb }}, {{ module.style.color_settings.tab_active_color.opacity ~ '%' }}); }
  #hs_cos_wrapper_{{ name }} .ui-tab li.active a .ui-tab-item label:before{ border:2px solid {{ module.style.color_settings.tab_active_color.color }};}
  .ui-tab-item input:checked + label:after{border:solid {{ module.style.color_settings.tab_active_color.color }};border-width: 0 2px 2px 0;}
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}

