.pro-tab-desc table,
.pro-tab-desc table td {
	width: 100%;
}

.noResult {
	display: none;
	text-align: center;
	padding: 200px 0;
}

.text-color.spec {
	/*     align-items: center; */
	border-bottom: 2px dotted #000;
	font-size: 14px !important;
	line-height: 25px;
}

.form-header {
	background: rgba(20, 10, 154, 100%);
}

.form-header h2 {
	color: white;
}

.form-main form {
	text-transform: none;
}

@media (max-width: 370px) {
	.grecaptcha-badge {
		transform: scale(0.8) !important;
		margin: 0 -20px !important;
	}
}

#doc-target .pdf-content {
	padding: 50px;
	position: relative;
}

#doc-target .pdf-content .background-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#doc-target .pdf-content .background-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#doc-target h3 {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1.1;
	margin: 0 auto;
	color: #ffc82f;
}

#doc-target h3 {
	font-family: sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #ffc82f;
}

#doc-target h1 {
	font-family: sans-serif;
	font-size: 30px;
	text-transform: capitalize;
	color: #fff;
}

#doc-target .pdf-content .pdf-sub {
	color: #fff !important;
	border: none;
  font-size:12px;
  width:185px;
  font-family: sans-serif;
}

#doc-target .pdf-content .pdf-sub h3 {
	border: none;
    color: #fff!important;
    font-size: 12px;
    width: 185px;
   font-family: sans-serif;
    margin: 0 0 8px;
    padding: 0 0 2px;
  font-weight: 400;
}
#doc-target .pdf-featured-image{padding-bottom:50px;}
#doc-target .pdf-featured-image img {
	width: 100%;
	max-width: 700px;
	height: 485px;
	object-fit: fill;
}

#outer {
	position: absolute;
	left: -9999px;
	top: -9999px;
	padding: 25px 25px 25px 25px;
	border: 1px solid #000;
	margin: 0 auto;
	width: 750px;
}

.pdf-image {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 25px;
	padding-bottom: 55px;
}


.pdf-image img {
	height: 190px;
	width: 215px;
	object-fit: cover;
}

.pdf-spec-card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;
}

.pdf-spec-card {
	width: 100%;
	max-width: 185px;
	position: relative;
  min-height:52px;
}

.pdf-spec-card.card-fullwidth {
	max-width: 85%;
}

.pdf-logo {
	position: absolute;
	bottom: 50px;
	right: 50px;
	background: #140a9a;
}

.pdf-logo img {
	background: #140a9a;
	mix-blend-mode: inherit;
}

.pdf-spec {
	margin-top: 50px;
  
}

.pdf-spec h3 {
	color: #140a9a !important;
}

.pdf-desc {
	margin-bottom: 50px;
}

.pdf-desc p {
	margin: 0;
}

.pdf-spec table,
.pdf-spec table td {
	width: 100%;
	border: none !important;
	padding: 0;
}

.border-line {
	border-bottom: 5px solid #140a9a;
}

#myCarousel {
	max-width: 640px;
	margin: 0 auto;
}

#myCarousel .f-carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 800px;
}

#myCarousel .f-carousel__slide a {
	height: 100%
}

#myCarousel .f-carousel__slide a img {
	object-fit: contain;
	height: 100%;
	width: 100%;
	padding: 0 50px;
}

@media (max-width: 1220px) {
	#myCarousel .f-carousel__slide {

		max-height: 500px;
	}
}



.pro-tab-specs.news-crnRcls {
	border-radius: 7px;
	margin: 17px 0px;
  
}

.pro-tab-specs.news-crnRcls h4 {
	position: relative;
	cursor: pointer;
	margin-bottom: 0;
	padding: 16px;
	padding-right: 50px;
	background: #fff;
	font-size: 20px;
	text-transform: uppercase;
	background: #f6f6f6;
	color: #2a2a2a;
  font-family: Roboto Condensed,sans-serif;
  font-weight:bold;
}


.ews-crnRctxt.ews-crnRctxt {
	display: none;
	padding: 20px;
background-color:#f6f6f6;
  line-height: 2;
}

.ews-crnRctxt.ews-crnRctxt p img {
	float: left;
	max-width: 90px !important;
	margin-top: 6px;
	margin-right: 28px;
}

.pro-tab-specs.news-crnRcls h4.active {
	background-color: #140a9a;
	color: #fff;
  font-weight: bold;
}

.pro-tab-specs.news-crnRcls h4:before {
	right: 0px;
	left: auto;
	position: absolute;
	content: '';
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	height: 54px;
	width: 54px;
	background-color: #140a9a;
}
.pro-tab-specs.news-crnRcls h4.active:before{
background-color: #f6f6f6;
}
.pro-tab-specs.news-crnRcls h4:after {
	position: absolute;
	content: '';
	right: 21px;
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	height: 2px;
	width: 10px;
	background-color: #fff;
}

.pro-tab-specs.news-crnRcls h4 span {
	position: absolute;
	right: 25px;
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 2px;
	height: 10px;
	background-color: #fff;
  
}
.pro-tab-specs.news-crnRcls h4.active:after{
background-color:#2a2a2a;
}
.pro-tab-specs.news-crnRcls h4.active span {
	display: none;
}

.news-crnInner {
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
	padding: 50px 0;
}

.pro-tab-content .pro-tab-desc.tab-content{display:none;}
.pro-tab-content .pro-tab-desc.tab-content.active{display:block}