{% if module.style.section_show_hide_ %}
<div class="fullwidth slider-container hero-section">
  {% for item in module.slides %}
    <div class="fullwidth sec-space sec-bg-color slide-bg-{{ loop.index }}">
      <div class="content-wrapper">
        <div class="slide-max">
          <div class="title-color text-yellow">
            <h2>{{ item.title }}</h2>
          </div>
          <div class="text-color">
            {{ item.subtitle }}
          </div> 
          {% if item.button_text %}
          <div class="btn-yellow btn-color">
            {% set href = item.button_link.url.href %}
            {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
               {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
               >
              {{ item.button_text }}
            </a>
          </div>  
          {% endif %}
        </div>   
      </div>  
    </div>
  {% endfor %}
</div>  
{% endif %}

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% for item in module.slides %}
  {% if item.overlay_show_hide_ %}
  #hs_cos_wrapper_{{ name }} .slide-bg-{{ loop.index }} { background: linear-gradient(91deg, #000000F2 0%, #020202D9 48%, #01010196 77%, #00000000 100%), url({{ item.background_image_slide_.src }}) no-repeat center top/cover; }
  {% else %}
  #hs_cos_wrapper_{{ name }} .slide-bg-{{ loop.index }} { background: url({{ item.background_image_slide_.src }}) no-repeat center top/cover; } 
  {% endif %}
  {% endfor %}
    
   {# #hs_cos_wrapper_{{ name }} .slide-bg-{{ loop.index }} .btn-color a { {% if item.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ item.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ item.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
   #hs_cos_wrapper_{{ name }} .slide-bg-{{ loop.index }} .btn-color a:hover { {% if item.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ item.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ item.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} } #}
   
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*** Button Color ***/
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}