<!-- module html  -->
{% if module.styles.section_show_hide_ %}
<div class="fullwidth sec-space ">
    <div class="content-wrapper">
      <div class="card-content">
        {% if module.title %}
        <h2>
          {{ module.title }}
      </h2>
      {% endif %}
    </div>
    <div class="cards-block-wrapper">
      {% for item in module.card_section %}
      <div class="cards-block-container">
        <div class="cards-block">
          <div class="cards-block-top d-flex align-items-center">
            {% if item.card_title %}
            <div class="col-9" >
              <h4>{{ item.card_title }}</h4>
          </div>
          {% endif %}
        </div>
        {% if item.card_description  %}
        <div class="cards-block-content">
          {{ item.card_description }}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
  </div>
  {% endif %}
  
  {% require_css %}
  <style>
    {% scope_css %}
    .sec-space {
    {% if module.styles.background.background_type == "gradient" %}
       background: {{ module.styles.background.background_gradient.css }};
    {% elif module.styles.background.background_type == "color" %}
        background-color:rgb({{ module.styles.background.background_color.color |convert_rgb }}, {{ module.styles.background.background_color.opacity/100}});
    {% endif %}
    {{ module.styles.desktop_spacing.css }}
    
    }
    {% if module.styles.color_settings.title_color.color %}
    .card-content h2{
        color: rgba({{ module.styles.color_settings.title_color.color|convert_rgb }}, {{ module.styles.color_settings.title_color.opacity  ~ '%' }})
    }    
    {% endif %}

    .col-9 h4{
        color: rgba({{ module.styles.color_settings.Card_title_color.color |convert_rgb }}, {{ module.styles.color_settings.Card_title_color.opacity  ~ '%' }})
      
    }
    .cards-block-content {
      line-height: 1.5;
        color: rgba({{ module.styles.color_settings.card_content_color.color |convert_rgb }}, {{  module.styles.color_settings.card_content_color.opacity  ~ '%' }})
    }
    .cards-block-content p {
      line-height: 1.5;

      
}
   
    .cards-block-wrapper {
      justify-content:{{ module.cards_alignment }} ;
    }
    .card-content {  
    text-align: {{ module.title_alignment }};
    }
  
 
    @media(max-width: 991px){
   .sec-space { {{ module.styles.tablet_spacing.css }} }

  }
  
  @media(max-width: 767px){
   .sec-space { {{ module.styles.mobile_spacing.css }} }
  }
  

     {% end_scope_css %}
  </style>
  {% end_require_css %}
