.cards-block-container {
    width: 30%;
}

.cards-block-wrapper {
    padding: 20px 0 0;
    flex-wrap: wrap;
    display: flex;
    gap: 5%;
    row-gap: 40px;
}
.col-9 h4{
    margin-bottom: 15px !important;
    letter-spacing: 1.7px;
}
.cards-block-container p{
    margin-bottom: 10px;
}
.cards-block-container ul{
    list-style: initial !important;
    margin-left: 20px;
}

@media (max-width:999px) {
    .cards-block-container {
        width: 45%;
    }

}


@media (max-width:742px) {
    .cards-block-container {
        width: 60%;
    }
}

@media (max-width:742px) {

    .cards-block-container {
        width: 100%;
    }
}