{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color hero-others">
  <div class="content-wrapper">
    <div class="hs-max-others">
    {% if module.title %}
    <div class="title-color text-yellow">
      {% if module.is_heading_h1 %}
        <h1>{{ module.title }}</h1>
      {% else %}
        <h2>{{ module.title }}</h2>
      {% endif %}
    </div>
    {% endif %}
    {% if module.content %}
    <div class="text-color">
      {{ module.content }}
    </div>
    {% endif %}
     <div class="btn-row">
       {% for item in module.buttons %}
       <div class="btn-yellow btn-color">
         {% set href = item.button_link.url.href %}
         {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
         {% set href = "mailto:" + href %}
         {% endif %}
         <a href="{{ href }}"
            {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
            {% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
            >
           {{ item.button_text }}
         </a>
       </div>  
       {% endfor %}
     </div>  
    </div>  
  </div>  
</div>  
 
{% endif %}
 

{% require_css %}
<style>
  
  {% if module.style.section_background.background_image.src %}  
    {% if module.style.section_background.overlay_show_hide_ %}
    #hs_cos_wrapper_{{ name }} .sec-bg-color { background: linear-gradient(91deg, #000000 0%, #090909 51%, #00000000 100%), url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover;  }
    {% else %}
     #hs_cos_wrapper_{{ name }} .sec-bg-color { background: url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover;  }
    {% endif %}
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  {% if module.style.content_max_width_px_ %}
  #hs_cos_wrapper_{{ name }} .hs-max-others { max-width: {{ module.style.content_max_width_px_ ~ 'px' }}; }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /* Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  /* Button Style */
  {% for item in module.buttons %}
  #hs_cos_wrapper_{{ name }} .btn-row .btn-color:nth-child({{ loop.index }}) a { {% if item.button_color_settings.button_default_state.button_background_color.color %}background: rgba({{ item.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_default_state.button_text_color.color %}color:	rgba({{ item.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_default_state.button_border_color.color %} border-color: rgba({{ item.button_color_settings.button_default_state.button_border_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_border_color.opacity ~ '%' }});{% endif %} {% if item.button_radius_px_ %}border-radius: {{ item.button_radius_px_ ~ 'px' }};{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-row .btn-color:nth-child({{ loop.index }}) a:hover { {% if item.button_color_settings.button_hover_state.button_background_color.color %} background:	rgba({{ item.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ item.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_hover_state.button_border_color_hover_.color %} border-color: rgba({{ item.button_color_settings.button_hover_state.button_border_color_hover_.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_border_color_hover_.opacity ~ '%' }});{% endif %} }
  {% endfor %}
  
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}