.dnd-section .dnd-column {
    padding: 0 1rem;
}
.header-top {
    background: #fff;
    padding: 24px 0;
}

.header-logo.page-wrap {
    flex-flow: column;
}

.header-logo.page-wrap p {
    margin: 0!important;
    font-size: 14px;
    line-height: initial;
}

.header-logo-container img{max-width:125px!important;width:100%;}

.header-logo.page-wrap{flex-flow:column;}

@media (max-width: 767px){
.header-logo.page-wrap p {
    font-size: 12px;
}
.tagline {
    display: none;
}

.header-logo-container img {
    max-width: 75px!important;
}
}
