<!-- module html  -->
<header class="fullwidth site-header">
    <!-- <a href="#main-content" class="header__skip">Skip to content</a> -->
    <div class="header-top">
        <div class="content-wrapper">
            <div class="page-wrap align-center">
                <div class="header-logo page-wrap">
                    <div class="header-logo-container">
                        {% set href = module.logo_link.url.href %}
                        {% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
                        {% set href = "mailto:" + href %}
                        {% endif %}
                        <a href="{{ href }}" {% if module.logo_link.open_in_new_tab %}target="_blank" {% endif %} {% if
                            module.logo_link.rel %}rel="{{ module.logo_link.rel }}" {% endif %}>
                            {% if module.logo_image.src %}
                            {% set sizeAttrs = 'width="{{ module.logo_image.width }}" height="{{
                            module.logo_image.height }}"' %}
                            {% if module.logo_image.size_type == 'auto' %}
                            {% set sizeAttrs = 'width="{{ module.logo_image.width }}" height="{{
                            module.logo_image.height }}" style="max-width: 100%; height: auto;"' %}
                            {% elif module.logo_image.size_type == 'auto_custom_max' %}
                            {% set sizeAttrs = 'width="{{ module.logo_image.max_width }}" height="{{
                            module.logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                            {% endif %}
                            {% set loadingAttr = module.logo_image.loading != 'disabled' ? 'loading="{{
                            module.logo_image.loading }}"' : '' %}
                            <img src="{{ module.logo_image.src }}" alt="{{ module.logo_image.alt }}" {{ loadingAttr }}
                                {{ sizeAttrs }}>
                            {% endif %}
                        </a>
                    </div>
                    <p class="tagline">EQUIPMENT SALES &amp; SERVICE LIMITED</p>
                </div>
                <div class="header-top-links text-upper">
                    <div class="header-top-inner">
                        <ul>
                            <li>
                                <a href="{{module.menu_list.contact.link.url.href}}" {% if
                                    module.menu_list.contact.link.open_in_new_tab %}target="_blank" {% endif %}>
                                    <span id="hs_cos_wrapper_module_16560550768722_"
                                        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon"
                                        data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" aria-hidden="true">
                                            <g id="Alternate Map Marker1_layer">
                                                <path
                                                    d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
                                                </path>
                                            </g>
                                        </svg></span>
                                    {{ module.menu_list.contact.contact_text }}
                                </a>
                            </li>

                            <li>

                                <a href="{{module.menu_list.phone.link.url.href}}" {% if
                                    module.menu_list.phone.link.open_in_new_tab %}target="_blank" {% endif %}>
                                    <span id="hs_cos_wrapper_module_16560550768722_"
                                        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon"
                                        data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true">
                                            <g id="Alternate Phone3_layer">
                                                <path
                                                    d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z">
                                                </path>
                                            </g>
                                        </svg></span>
                                    {{ module.menu_list.phone.phone_number }}
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

