{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color job-section">
  <div class="content-wrapper">
    <div class="fullwidth page-wrap">
      <div class="product-left">  
        <div class="product-filter">
          {% if module.filter_title %}
          <div class="title-color text-yellow">
            <h3><span>{{ module.filter_title }}</span></h3>
          </div>
          {% endif %}
          <div class="filters">
            {% for item in module.filter_dropdowns %}
            <!--  Types -->
            <div class="ui-group">
              <span>{{ item.dropdown_title }}</span>
              <ul class="button-group js-radio-button-group" data-filter-group="{{ item.dropdown_title }}">
                <li><a class="is-checked is-first" data-filter="">All</a></li> 
                {% for item2 in item.filters_category_list %}
                <li class="filter-con"><a data-filter=".{{ item2.add_category|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ item2.add_category }}</a></li> 
                {% endfor %}
              </ul>  
            </div>  
            {% endfor %}

          </div> 
        </div>
        <div class="">
        </div>  
      </div> 
      <div class="product-list-right">
        <div class="breadcrumb-menu fullwidth">
          {% menu "breadcrumb" id=module.menu_field, site_map_name='Breadcrumb Menu ESS - 2022', overrideable=False, root_type='breadcrumb', flyouts='false', max_levels='8', flow='horizontal', label='Breadcrumb Menu ESS - 2022' %} 
        </div> 
        <div class="job-list-layout fullwidth grid"> 
          {% for item in module.listing_items %}
          <div class="job-listing {% for item2 in item.assign_filter_category %} {{ item2.add_category|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}{% endfor %}">
            <div class="title-color">
              <h3>{{ item.title }}</h3>
            </div>
            <div class="btn-yellow btn-color">
              {% set href = item.button_link.url.href %}
              {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href }}"
                 {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
                 {% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
                 >
                {{ item.button_text }}
              </a>
            </div>  
          </div>
          {% endfor %}
        </div>

        <div class="fullwidth" id="custom-pagination"></div>
      </div>  
    </div>  
  </div>  
</div>  
{% endif %}

{% require_js %}
 
<script src="{{ get_asset_url('/ESS LTD - Theme 2022/js/isotope.js') }}"></script>

<script>
  $(document).ready(function(){
    
    if ($('.ui-group ul li').hasClass("filter-con")) {
      $('li.filter-con').parents('.ui-group').addClass('add-sec');
    }
    
    
     var seen = {};
     $('.ui-group ul li.filter-con a').each(function() {
      var txt = $(this).text();
      if (seen[txt])
          $(this).parent().remove();
      else
          seen[txt] = true;
     });
    
    
    
    
    if($('.grid').length > 0){ 
     
   //   let companyList = $('.grid .job-listing'); 

      // init Isotope
    
      var $grid = $('.grid').isotope({
        layoutMode: 'fitRows',
        itemSelector:  '.job-listing',
      
      });


      

      // store filter for each group
      var filters = {};

      $('.filters').on( 'click', 'a', function( event ) {
        var $button = $( event.currentTarget );

        // get group key
        var $buttonGroup = $button.parents('.button-group');
        var filterGroup = $buttonGroup.attr('data-filter-group');

        // set filter for group
        filters[ filterGroup ] = $button.attr('data-filter');
 
        // combine filters
        var filterValue = concatValues( filters );
         
        // set filter for Isotope
        $grid.isotope({ filter: filterValue });
        

      });

        
      
      
      // change is-checked class on buttons
      $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'a', function( event ) {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          var $button = $( event.currentTarget );
          $button.addClass('is-checked');
 
        });

      });

      // flatten object by concatting values
      function concatValues( obj ) {
        var value = '';
        for ( var prop in obj ) {
          value += obj[ prop ];
        }
        return value;
      }
 

      //****************************
      // Isotope Load more button
      //****************************
      var initShow = 5; //number of items loaded on init & onclick load more button
      var counter = initShow; //counter for load more button
      var iso = $grid.data('isotope'); // get Isotope instance

      loadMore(initShow); //execute function onload

      function loadMore(toShow) {
        $grid.find(".hidden").removeClass("hidden");

        var hiddenElems = iso.filteredItems.slice(toShow, iso.filteredItems.length).map(function(item) {
          return item.element;
        });
        $(hiddenElems).addClass('hidden');
        $grid.isotope('layout');

        //when no more to load, hide show more button
        if (hiddenElems.length == 0) {
          jQuery("#load-more").hide();
        } else {
          jQuery("#load-more").show();
        };

      }

      //append load more button
      $grid.after('<div class="fullwidth loadmore-listing"><a class="button" id="load-more"> Load More</a></div>');

      //when load more button clicked
      $("#load-more").click(function() {
        if ($('.filters').data('clicked')) {
          //when filter button clicked, set initial value for counter
          counter = initShow;
          $('.filters').data('clicked', false);
        } else {
          counter = counter;
        };

        counter = counter + initShow;

        loadMore(counter);
      });

      //when filter button clicked
      $(".filters").click(function() {
        $(this).data('clicked', true);

        loadMore(initShow);
      });
        
    }

      
  });
</script>  
{% end_require_js %}

{% require_css %}
<style>

  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}

  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}

  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  {% for item in module.listing_items %}
  #hs_cos_wrapper_{{ name }} .job-listing:nth-child({{ loop.index }}) .btn-color a { {% if item.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ item.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ item.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ item.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .job-listing:nth-child({{ loop.index }}) .btn-color a:hover { {% if item.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ item.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if item.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ item.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ item.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  {% endfor %}

  #hs_cos_wrapper_{{ name }} .ui-group ul li a, #hs_cos_wrapper_{{ name }} .ui-group > span  { color: rgba({{ module.style.color_settings.filter_text_color.color|convert_rgb }}, {{ module.style.color_settings.filter_text_color.opacity ~ '%' }}); }

  /***  Responsive Media Query ***/
  @media(max-width: 991px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }

</style>  
{% end_require_css %}