.pro-tab-desc table,
.pro-tab-desc table td {
	width: 100%;
}

.noResult {
	display: none;
	text-align: center;
	padding: 200px 0;
}

.text-color.spec {
	/*     align-items: center; */
	border-bottom: 2px dotted #000;
	font-size: 14px !important;
	line-height: 25px;
}

.form-header {
	background: rgba(20, 10, 154, 100%);
}

.form-header h2 {
	color: white;
}

.form-main form {
	text-transform: none;
}

@media (max-width: 370px) {
	.grecaptcha-badge {
		transform: scale(0.8) !important;
		margin: 0 -20px !important;
	}
}

#doc-target .pdf-content{
padding:50px;
position:relative;
  min-height:330px;
}
#doc-target .pdf-content .background-image{
position:absolute;
top:0;
  left:0;
  height:100%;
  width:100%;
z-index:-1;
  
}
#doc-target .pdf-content .background-image img{
height:100%;
  width:100%;
  object-fit:fill;
}
#doc-target h3 {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1.1;
	margin: 0 auto;
color:#ffc82f;
}

#doc-target h3 {
	font-family: sans-serif;
	font-size: 20px;
	text-transform: capitalize;
color:#ffc82f;
}

#doc-target h1 {
	font-family: sans-serif;
	font-size: 42px;
	text-transform: capitalize;
color:#fff;
}

#doc-target .pdf-content .pdf-sub{color:#fff!important;border:none;}
#doc-target .pdf-featured-image img {width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 480px;
    object-fit: cover;}

#outer {
	position: absolute;
	left: -9999px;
	top: -9999px;
	padding: 25px 25px 25px 25px;
	border: 1px solid #000;
	margin: 0 auto;
	width: 750px;
}

.pdf-image {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 25px;
}

.pdf-image img {
	height: 200px;
	width: 200px;
	object-fit: fill;
}
.pdf-spec-card-container{display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;}
.pdf-spec-card{width: 100%;
    max-width: 150px;
    position: relative;}
.pdf-spec-card.card-fullwidth{max-width:100%;}

.pdf-logo{
position: absolute;
    bottom: 50px;
    right: 50px;
  background:#140a9a;
}

.pdf-logo img{
  background:#140a9a;
    mix-blend-mode: inherit;}
.pdf-spec,
#lipsum {
	margin-top: 50px;
}
.pdf-spec h3{
color:#140a9a!important;
}
.pdf-desc p{margin:0;}
.pdf-spec table,
.pdf-spec table td {
	width: 100%;
	border: none !important;
  padding:0;
}
.border-line{border-bottom:5px solid #140a9a;padding: 25px 0;}
#myCarousel {
	max-width: 640px;
	margin: 0 auto;
}

#myCarousel .f-carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
  max-height: 800px;
}

#myCarousel .f-carousel__slide a {
	height: 100%
}

#myCarousel .f-carousel__slide a img {
	object-fit: contain;
	height: 100%;
	width: 100%;
  padding:0 50px;
}

@media (max-width: 1220px) {
#myCarousel .f-carousel__slide {

  max-height: 500px;
}
}