<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% set dynamic_listing = 5500043 %}
{% if module.style.section_show_hide_ %}

<header id="sticky-header" class="fullwidth site-header main-header-province">
  <a href="#main-content" class="header__skip">Skip to content</a>
  <div class="header-top">
    <div class="content-wrapper">
      <div class="page-wrap align-center">
        <div class="header-logo page-wrap">
              <div class="header-logo-container">
          {% set href = module.logo_link.url.href %}
          {% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a class="first-logo" href="{{ href }}"
             {% if module.logo_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.logo_link.rel %}rel="{{ module.logo_link.rel }}"{% endif %}
             >
            {% if module.logo_image.src %}
            {% set sizeAttrs = 'width="{{ module.logo_image.width }}" height="{{ module.logo_image.height }}"' %}
            {% if module.logo_image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.logo_image.width }}" height="{{ module.logo_image.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.logo_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.logo_image.max_width }}" height="{{ module.logo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.logo_image.loading != 'disabled' ? 'loading="{{ module.logo_image.loading }}"' : '' %}
            <img src="{{ module.logo_image.src }}" alt="{{ module.logo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </a>
          </div>
          <p class="tagline">EQUIPMENT SALES & SERVICE LIMITED</p>
        </div>  
        <div class="header-top-links text-upper">
          <div class="header-top-inner">
            <ul>
              
              <li>
                
                <a href="{{ module.menu_links.contact.link_field.url.href }}" {% if module.menu_links.contact.link_field.open_in_new_tab %}target="_blank"{% endif %}>
                  <span id="hs_cos_wrapper_module_16560550768722_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon" style="" data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" aria-hidden="true"><g id="Alternate Map Marker1_layer"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></g></svg></span>
                 {{ module.menu_links.contact.contact_text }}
                </a>
              </li>
                {% for row in hubdb_table_rows(module.hubdbtable_field) %}
   
              {%  if request.cookies.name == row.province.name %}
              {% if row.login_menu %}
              <li class="login">          
                
                <a >
                  <span id="hs_cos_wrapper_module_16560550768722_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon" style="" data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" aria-hidden="true"><g id="User Circle2_layer"><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></g></svg></span>
                  Login
                </a>
                
                <ul class="login-dropdown" >
                  {% for item in row.login_menu_link %}
                  <li>
                  <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
                  </li>
                  {% endfor %}
                
                </ul>
              </li>
             {% endif %}
              {% endif %}
               {% endfor %}
                <li>
  
                <a href="{{ module.menu_links.phone.link_field_1.url.href }}" {% if module.menu_links.phone.link_field_1.open_in_new_tab %}target="_blank"{% endif %}>
                  <span id="hs_cos_wrapper_module_16560550768722_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_icon" style="" data-hs-cos-general-type="widget" data-hs-cos-type="icon"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><g id="Alternate Phone3_layer"><path d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"></path></g></svg></span>
                 {{ module.menu_links.phone.phone_number }}
                </a>
              </li>
              <li>
              <div id="google_translate_element"></div>
              </li>
            </ul>

          </div>

        </div>  
      </div>  
    </div>  
  </div>
  <div  class="header-menu-section sec-bg-color">
    <div class="content-wrapper">
      <div class="page-wrap align-center">
        <div class="header-menu">
          <div class="menu-trigger text-upper">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Menu
          </div>
          <div class="menu-popup menu-active-not text-upper">
            
            <div id="hs_menu_wrapper_module_16560550768722_" class="new-menu hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="default" data-menu-id="77357874795" aria-label="Navigation Menu">
         <ul role="menu">
   
        
   <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Equipment</a>
   <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
      {% for row in hubdb_table_rows(module.hubdbtable_field) %}
   {% if request.cookies.name == row.province.name %}
   
     {% if row.oem_new %}
      <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">New Equipment</a>   
    <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">

     
      
        {% if row.oem_new_equipment_brands %}
   {% for item in row.oem_new_equipment_brands %}
      {% if item.link  %}
       <li class="hs-menu-item hs-menu-depth-3 {% if item.filter_option_1 %}hs-item-has-children{% endif %}" role="none"><a {% if item.filter_option_1 %}href="javascript:;"{% else if %}href="{{ item.link }}"{% endif %} role="menuitem">{{ item.name }}</a>
     {% if item.filter_option_1 %}
         <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
        {% if item.filter_option_1 %}
      <li class="hs-menu-item hs-menu-depth-4" role="none"><a class="data-option" data-option="{{ item.filter_option_1|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" {% if item.filter_link_1 %}  href="{{ item.filter_link_1 }}" {% else if%}href="{{ item.link }}"{% endif %} role="menuitem">{{ item.filter_option_1 }}</a></li>
     {% endif%}
        {% if item.filter_option_2 %}
      <li class="hs-menu-item hs-menu-depth-4" role="none"><a class="data-option" data-option="{{ item.filter_option_2|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" {% if item.filter_link_2 %}  href="{{ item.filter_link_2 }}" {% else if%}href="{{ item.link }}" {% endif %} role="menuitem">{{ item.filter_option_2 }}</a></li>
     {% endif%}
        {% if item.filter_option_3 %}
      <li class="hs-menu-item hs-menu-depth-4" role="none"><a class="data-option" data-option="{{ item.filter_option_3|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" {% if item.filter_link_3 %}  href="{{ item.filter_link_3 }}" {% else if%}href="{{ item.link }}" {% endif %} role="menuitem">{{ item.filter_option_3 }}</a></li>
     {% endif%}
        {% if item.filter_option_4 %}
      <li class="hs-menu-item hs-menu-depth-4" role="none"><a class="data-option" data-option="{{ item.filter_option_4|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" {% if item.filter_link_4 %}  href="{{ item.filter_link_4 }}" {% else if%}href="{{ item.link }}" {% endif %} role="menuitem">{{ item.filter_option_4 }}</a></li>
     {% endif%}
        {% if item.filter_option_5 %}
      <li class="hs-menu-item hs-menu-depth-4" role="none"><a class="data-option" data-option="{{ item.filter_option_5|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" {% if item.filter_link_5 %}  href="{{ item.filter_link_5 }}" {% else if%}href="{{ item.link }}" {% endif %} role="menuitem">{{ item.filter_option_5 }}</a></li>
     {% endif%}
        {% if item.filter_option_6 %}
      <li class="hs-menu-item hs-menu-depth-4" role="none"><a class="data-option" data-option="{{ item.filter_option_6|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" {% if item.filter_link_6 %}  href="{{ item.filter_link_6 }}" {% else if%}href="{{ item.link }}" {% endif %} role="menuitem">{{ item.filter_option_6 }}</a></li>
     {% endif%}
        {% if item.filter_option_7 %}
      <li class="hs-menu-item hs-menu-depth-4" role="none"><a class="data-option" data-option="{{ item.filter_option_7|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" {% if item.filter_link_7 %}  href="{{ item.filter_link_7 }}" {% else if%}href="{{ item.link }}" {% endif %} role="menuitem">{{ item.filter_option_7 }}</a></li>
     {% endif%}
        
         </ul>
         {% endif %}
      
      </li>
     {% endif %}
   {% endfor %}
     {% endif %}

       </ul></li>  
   {% endif %}
     {% endif %}
    {% endfor %} 
 
     
    <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Used Equipment</a>
     <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="grp1all" href="{{ module.menu_links.used_inventory.see_all.link_field_11.url.href }}" {% if module.menu_links.used_inventory.see_all.link_field_11.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.used_inventory.see_all.see_all_text }}</a></li>
       
        {% set types = hubdb_table_column(5500043, "main_category").options %} 
              {% for choice in types %} 
              {% set type_list = type_list~choice.id|list%} 
         {% if choice.id == request.query_dict.pubtype %}
                <option selected="selected" value="{{ choice.id }}">{{ choice.name }}</option>
                {% else %}
            <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="{{ choice.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}"  href="{{ module.menu_links.used_inventory.see_all.link_field_11.url.href }}" {% if module.menu_links.used_inventory.see_all.link_field_11.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ choice.name }}</a></li>
       {% endif %}         
       {% endfor %}
       
<!--        
       
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="excavatorscrawler" href="{{ module.menu_links.used_inventory.excavators.link_field_4.url.href }}" {% if module.menu_links.used_inventory.excavators.link_field_4.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.used_inventory.excavators.excavators_text }}</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="dozerscrawler" href="{{ module.menu_links.used_inventory.dozers.link_field_5.url.href }}" {% if module.menu_links.used_inventory.dozers.link_field_5.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.used_inventory.dozers.dozers_text }}</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="wheelloaders" href="{{ module.menu_links.used_inventory.wheel_loaders.link_field_6.url.href }}" {% if module.menu_links.used_inventory.wheel_loaders.link_field_6.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.used_inventory.wheel_loaders.wheel_loaders_text }}</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="cranetruckcranestelescopicboom" href="{{ module.menu_links.used_inventory.off_highway_trucks.link_field_7.url.href }}" {% if module.menu_links.used_inventory.off_highway_trucks.link_field_7.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.used_inventory.off_highway_trucks.truks_text }}</a></li> 
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="motorgraders" href="{{ module.menu_links.used_inventory.motor_graders.link_field_8.url.href }}" {% if module.menu_links.used_inventory.motor_graders.link_field_8.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.used_inventory.motor_graders.motor_graders_text }}</a></li> 
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="cranes" href="{{ module.menu_links.used_inventory.cranes.link_field_9.url.href }}" {% if module.menu_links.used_inventory.cranes.link_field_9.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.used_inventory.cranes.cranes_text }}</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a class="data-option" data-option="drillsvertical" href="{{ module.menu_links.used_inventory.drills.link_field_10.url.href }}" {% if module.menu_links.used_inventory.drills.link_field_10.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.used_inventory.drills.drills_text }}</a></li> -->

</ul></li>
     
      {% if request.cookies.name == "alberta" || request.cookies.name == "northwest-territories" || request.cookies.name == "yukon" || request.cookies.name == "saskatchewan" %}
             <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ module.menu_links.new_equipment_in_stock.link_field_3.url.href }}" {% if module.menu_links.new_equipment_in_stock.link_field_3.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.new_equipment_in_stock.new_equipment_text }}</a></li>
              {% endif %}
     
   </ul></li>
           <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">{{ module.menu_links.attachments.attachments_text }}</a>
            <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
              <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ module.menu_links.attachments.text.link_field_2.url.href }}" {% if module.menu_links.attachments.text.link_field_2.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.attachments.text.link_text }}</a></li>
              {% if request.cookies.name == "alberta" || request.cookies.name == "northwest-territories" || request.cookies.name == "yukon" || request.cookies.name == "saskatchewan" %}
              <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ module.menu_links.attachments.new_attachements_in_stock.link_field_2.url.href }}" {% if module.menu_links.attachments.new_attachements_in_stock.link_field_2.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.attachments.new_attachements_in_stock.link_text }}</a></li>
              {% endif %}
             </ul>
           </li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">{{ module.menu_links.parts.parts_text }}</a>
   <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ module.menu_links.parts.excavators.link_field_12.url.href }}" {% if module.menu_links.parts.excavators.link_field_12.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.parts.excavators.aftermarket_parts_text }}</a></li>
{% for row in hubdb_table_rows(module.hubdbtable_field) %}
   {% if request.cookies.name == row.province.name %}
     {% if row.oem_parts %}
      <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">OEM Parts</a>     
    <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
        {% if row.oem_parts_brands %}
   {% for item in row.oem_parts_brands %}
    {% if item.link  %}
       <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="{{ item.link }}" role="menuitem">{{ item.name }}</a></li>
      {% endif %}
   {% endfor %}
     {% endif %}
       </ul></li>  
   {% endif %}
    
     {% if row.undercarriage_parts %}
      <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">UNDERCARRIAGE PARTS</a>     
    <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
        {% if row.undercarriage_brands %}
   {% for item in row.undercarriage_brands %}
    {% if item.link  %}
       <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="{{ item.link }}" role="menuitem">{{ item.name }}</a></li>
      {% endif %} 
   {% endfor %}
     {% endif %}
       </ul></li>  
   {% endif %}
     
     {% if row.wear_parts %}
      <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Wear PARTS</a>    
    <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
        {% if row.wear_parts_brands %}
   {% for item in row.wear_parts_brands %}
      {% if item.link  %}
       <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="{{ item.link }}" role="menuitem">{{ item.name }}</a></li>
     {% endif %}
   {% endfor %}
     {% endif %}
       </ul></li>  
   {% endif %}
     {% endif %}
    {% endfor %}  
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ module.menu_links.parts.dozers.link_field_13.url.href }}" {% if module.menu_links.parts.dozers.link_field_13.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.parts.dozers.mining_text }}</a></li>
   </ul></li>
           
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_links.service.link_field_14.url.href }}" {% if module.menu_links.service.link_field_14.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.service.branch_text }}</a></li>
  <li class="hs-menu-item  hs-menu-depth-1" role="none"><a href="{{ module.menu_links.selix.link_field_15.url.href }}" {% if module.menu_links.selix.link_field_15.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.selix.branch_text }}</a>      
  
  </li>  
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_links.safety.link_field_17.url.href }}" {% if module.menu_links.safety.link_field_17.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.safety.safety_text }}</a></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_links.about_us.link_field_18.url.href }}" {% if module.menu_links.about_us.link_field_18.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.about_us.about_us_text }}</a></li>
            <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">{{ module.menu_links.branch.branch_text }}</a>
         <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
        {% for item in module.menu_links.branch.text %} 
           
       <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ item.link_field_2.url.href }}" {% if item.link_field_2.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ item.link_text }}</a></li>
   {% endfor %}
           </ul></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_links.careers.link_field_19.url.href }}" {% if module.menu_links.careers.link_field_19.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.careers.careers_text }}</a></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">{{ module.menu_links.resources.resources_text }}</a>
   <ul role="menu" class="hs-menu-children-wrapper" style="display: none;">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ module.menu_links.resources.video.link_field_20.url.href }}" {% if module.menu_links.resources.video.link_field_20.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.resources.video.video_text }}</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ module.menu_links.resources.financing.link_field_21.url.href }}" {% if module.menu_links.resources.financing.link_field_21.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.resources.financing.financing_text }}</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none" data-login="{{ request.cookies.name }}"><a href="{{ module.menu_links.resources.news.link_field_22.url.href }}" {% if module.menu_links.resources.news.link_field_22.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.resources.news.news_text }}</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none" data-login="{{ request.cookies.name }}"><a href="{{ module.menu_links.resources.blog.link_field_23.url.href }}" {% if module.menu_links.resources.blog.link_field_23.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.resources.blog.blog_text }}</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="{{ module.menu_links.resources.accessibility.link_field_24.url.href }}" {% if module.menu_links.resources.accessibility.link_field_24.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.resources.accessibility.accessibility_text }}</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="{{ module.menu_links.contact_main.link_field_25.url.href }}" {% if module.menu_links.contact_main.link_field_25.open_in_new_tab %}target="_blank"{% endif %} role="menuitem">{{ module.menu_links.contact_main.contact_main_text }}</a></li>

              
              </ul>
</div>
            
            
          </div>  
        </div>
        <div class="header-search">
          <div class="search-btn"><img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/search-icon.png"></div>   
          <div class="hs-search-field"> 
            <div class="hs-search-field__bar"> 
              <form action="/{{ site_settings.content_search_results_page_path }}">
                {% if module.field_label %}
                <label for="term">{{ module.field_label }}</label>
                {% endif %}
                <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="{{ module.field_label || "Search" }}" placeholder="{{ module.placeholder }}">

                {% if module.content_types.website_pages %}
                <input type="hidden" name="type" value="SITE_PAGE">
                {% endif %}
                {% if module.content_types.landing_pages %}
                <input type="hidden" name="type" value="LANDING_PAGE">
                {% endif %}
                {% if module.content_types.blog_posts %}
                <input type="hidden" name="type" value="BLOG_POST">
                <input type="hidden" name="type" value="LISTING_PAGE">
                {% endif %}
                {% if module.content_types.knowledge_articles %}
                <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
                {% endif %}

                {% if module.include_search_button %}
                <button aria-label="Search"><img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/search-icon.png"></button>
                {% endif %}
              </form>
            </div>
            <ul class="hs-search-field__suggestions"></ul>
          </div>
        </div>  
      </div>  

    </div>  
  </div>  
  
  
 
</header>

{% endif %}

{% require_css %}
<style>
  {% if module.style.section_background.gradient_color_1.color or module.style.section_background.gradient_color_2.color or module.style.section_background.gradient_color_3.color %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: linear-gradient(180deg, {{ module.style.section_background.gradient_color_1.color }} 0%, {{ module.style.section_background.gradient_color_2.color }} 16%, {{ module.style.section_background.gradient_color_3.color }} 100%); }
  {% endif %}

  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }

  /***  Responsive Media Query ***/
  @media(max-width: 991px){

  }

  @media(max-width: 767px){

  }

</style>  
{% end_require_css %}


{% require_js %}
  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'en',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        multilanguagePage: false
      }, 'google_translate_element');
    }
  </script>
{% end_require_js %}