.header-logo.page-wrap p{margin:0!important;font-size: 14px;line-height: initial;}
.header-logo-container a.second-logo img{max-width:50px!important;width:100%;margin:10px;}
.header-logo-container a.first-logo img{max-width:125px!important;width:100%;}

.header-logo.page-wrap{flex-flow:column;}
.hs-search-field {
  position: relative;
}
.hs-search-field__input {
  box-sizing: border-box;
  width: 100%;
}
.hs-search-field__bar button svg {
  height: 10px;
}
.hs-search-field__suggestions {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hs-search-field--open .hs-search-field__suggestions {
  border: 1px solid #000;
}
.hs-search-field__suggestions li {
  display: block;
  margin: 0;
  padding: 0;
}
.hs-search-field__suggestions #results-for {
  font-weight: bold;
}
.hs-search-field__suggestions a,
.hs-search-field__suggestions #results-for {
  display: block;
}
.hs-search-field__suggestions a:hover,
.hs-search-field__suggestions a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

/*  sticky header*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* end  */

li.login{position:relative;display}
li.login ul.login-dropdown{
    justify-content: center;
    flex-direction: column;
  gap:20px;
    width: 100%;
    text-align: left;
  display:none;
  position:absolute;
  min-width: 200px;
  z-index:9999;
  background:#fff;
  padding:20px;
}
li.login ul.login-dropdown li{margin:0; border-bottom:3px solid #140a9a;}

li.login:hover ul.login-dropdown{display:flex;}



body.menu-show .main-header-province.sticky{
overflow-y:scroll;
height:100%;
}

body.menu-show .main-header-province.sticky::-webkit-scrollbar {
    display: none;
}

@media(max-width:767px){
  .header-logo-container a.second-logo img{max-width:35px!important;}
.header-logo-container a.first-logo img{max-width:75px!important;}
  .header-logo.page-wrap p{font-size: 12px;}
  li.login ul.login-dropdown{left:-50px; min-width:150px;}
  li.login ul.login-dropdown li{border-bottom:2px solid #140a9a;}
li.login ul.login-dropdown li a{
background: transparent;
    width: 100%;
    font-size: 14px;
      height: 100%;
}
  .tagline {display:none;}
  #google_translate_element{display:none;}
}


.goog-te-gadget-simple {padding-left: 1px!important;padding-right:1px!important; border-radius:50px;}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span{font-size:16px;}