<div id="column-3-0" class="hse-column hse-size-12">
    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
        <tbody>
            <tr>
                <td class="hs_padded" style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; word-wrap:break-word; padding:10px 20px;">
                    <div id="hs_cos_wrapper_module-3-0-0" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="color: inherit; font-size: inherit; line-height: inherit;" data-hs-cos-general-type="widget" data-hs-cos-type="module">
                        <div class="hs-ecomm-module" style="padding:0; line-height: 150%;">
                            <div style="max-width:100%; width:100%; margin-left:auto; margin-right:auto; border-collapse:collapse; border-spacing:0;">
                                <a href="{{ module.card_1.link_field.url.href }}" style="text-decoration: none;" {% if module.card_1.link_field.open_in_new_tab %}target="_blank" {% endif %} {% if module.card_1.link_field.rel %}rel="{{ module.card_1.link_field.rel|escape_attr }}" {% endif %}>
                                    <div class="hse-column ecomm-column-560-18-size-4" style="{{ module.section_spacing.css }}; background: #FFFFFF; box-shadow: 0px 0px 15px #AAAAAA; border: 1px solid rgba(0,0,0,0.1); border-radius: 3px; opacity: 1;">
                                        <table role="presentation" width="100%" class="hs-ecomm-product" style="display: block; margin-left: auto; margin-right: auto; width: fit-content; border-spacing:0; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                            <tbody>
                                                <tr>
                                                    <td style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; word-wrap:break-word; padding-bottom:8px;" align="left">
                                                        {% if module.card_1.icon.src %}
                                                        {% set sizeAttrs = 'width="{{ module.card_1.icon.width }}" height="{{ module.card_1.icon.height }}"' %}
                                                        {% if module.card_1.icon.size_type == 'auto' %}
                                                        {% set sizeAttrs = 'width="{{ module.card_1.icon.width }}" height="{{ module.card_1.icon.height }}" style="max-width: 100%; height: auto;"' %}
                                                        {% elif module.card_1.icon.size_type == 'auto_custom_max' %}
                                                        {% set sizeAttrs = 'width="{{ module.card_1.icon.max_width }}" height="{{ module.card_1.icon.max_height }}" style="max-width: 100%; height: auto;"' %}
                                                        {% endif %}
                                                        {% set loadingAttr = module.card_1.icon.loading != 'disabled' ? 'loading="{{ module.card_1.icon.loading }}"' : '' %}
                                                        <img src="{{ module.card_1.icon.src }}" {{ loadingAttr }} {{ sizeAttrs }} style="object-fit: contain; outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; display:block; width:100%; max-width:174px;">
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; word-wrap:break-word; padding:8px 0;">
                                                        <div style="font-size:14px; font-family:Arial, sans-serif; color:#23496d; text-decoration:none; font-style:normal; font-weight:bold; text-transform:none;">
                                                            {{ module.card_1.title }}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
