<div class="fullwidth sec-space news-crnSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth news-crnInner">
			<div class="fullwidth news-crnRow">
				<div class="news-crnRght">
					{% for item in module.accordion_group %}
			  	  <div class="news-crnRcls news-crnRcls{{ loop.index }}">
					<h4>
						{{ item.accordion_title }}
						<span></span>
					</h4>
					<div class="ews-crnRctxt">
					<div class="cards_container">
             {% for item2 in item.accordion_cards %}
            <div class="cards">
            <div class="cards_content">
              	<div class="city_name"><h3>{{ item2.city_name }}</h3></div>
	              <div class="city_address"><a href="{{ item2.address_link.url.href }}" target="_blank"><p>{{ item2.address }}</p></a></div>
                <div class="city_time"><p>{{ item2.hours }}</p></div>
              <div class="city_contact">{{ item2.contact_details }}</div>
              </div>
            </div>
            {% endfor %}
            </div>
					</div>
				</div>
					{% endfor %}
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .smpHeader h6 { color: rgba({{ module.sub_title_color.color|convert_rgb }},{{ module.sub_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeader h2 { color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .smpHeaderTxt { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	 {% for rec_post in rec_posts %}
	#hs_cos_wrapper_{{ name }} .news-crnlftCls{{ loop.index }} .insightfimg { background-image: url({{ rec_post.featured_image }}); }
	{% endfor %}
	
	{% for item in module.accordion_group %}
	
	  #hs_cos_wrapper_{{ name }} .news-crnRcls{{ loop.index }} .ews-crnRctxt{ color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>