.news-crnlft { width: 41.66666667%; float: left; }
.news-crnRght { width: 100%; float: left; padding-left: 15px; padding-right: 15px; }
.news-crnlftCls { min-height: 568px; -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: .5s; -o-transition: .5s; -moz-transition: .5s; transition: .5s; position: relative; z-index: 1; border-radius: 5px; display: flex; flex-wrap: wrap; align-items: flex-end; margin: 0 15px 10px; }
.news-crnlftCls:hover { -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); transform: translateY(-10px); }
.news-crnRcls { border-radius: 7px; margin-bottom: 17px; }
.news-crnRcls h4 { position: relative; cursor: pointer; margin-bottom: 0; padding: 16px; padding-right: 50px; background: #fff;    border: solid #252b65 2px;
    font-size: 18px;
    text-transform: uppercase;
    background: transparent;
    color: #252b65;}
.news-crnRcls h4:hover { color: {{ primary_color }}; }
.ews-crnRctxt { display: none; padding: 20px 22px 0; }
.ews-crnRctxt p img { float: left; max-width: 90px !important; margin-top: 6px; margin-right: 28px; }
.news-crnRcls h4.active { background-color: {{ secondary_color }};    color: #252b65; }
.news-crnRcls h4:before { right: 20px; left: auto; position: absolute; content: ''; top: 50%; -webkit-transform: translate(0,-50%); -ms-transform: translate(0,-50%); -o-transform: translate(0,-50%); transform: translate(0,-50%);  height: 22px; width: 22px; background-color: #ffc82f; }
.news-crnRcls h4:after { position: absolute; content: ''; right: 26px; position: absolute; top: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transform: translate(0,-50%); -ms-transform: translate(0,-50%); -o-transform: translate(0,-50%); transform: translate(0,-50%); height: 2px; width: 10px; background-color: #2a2a2a; }
.news-crnRcls h4 span { position: absolute; right: 30px; position: absolute; top: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transform: translate(0,-50%); -ms-transform: translate(0,-50%); -o-transform: translate(0,-50%); transform: translate(0,-50%); width: 2px; height: 10px; background-color: #2a2a2a; }
.news-crnRcls h4.active span { display: none; }
.news-crnInner { width: calc(100% + 30px); margin-left: -15px; margin-right: -15px;  padding:50px 0; }

.cards_container {
    width: calc(100% + 2rem);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-;
    margin-left: -1rem;
    margin-right: -1rem;
}
.cards_container .cards {
    width: calc(50% - 2rem);
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
   border: solid 2px #cbccd2;
      padding: 5%!important;
    min-height: 355px;
}
.cards_content {
    width: 100%;
}
.cards p { margin: 0 0 15px;    line-height: 24px;
}
.city_address a p:hover {
    color: #ffc82f;
}
.city_address a p:hover {
    color: #ffc82f;
}
.city_address a {color:#333; font-weight:800;}
.city_address a:hover {
    color: #ffc82f;
}
.city_address P {color: #333;font-size: 16px; font-weight: 800;}
.city_contact , .city_time {color: #333 !important;font-size: 16px;}


@media(max-width:767px){
  .cards_container .cards{
  width:100%;
  }
}