 
{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color fb-section">
  <div class="content-wrapper">
    <div class="title-color text-yellow text-center"> 
      <h2>{{ module.title }}</h2>
    </div>
    <div class="page-wrap fullwidth fb-videos">
     {% for item in module.columns %}
      <div class="fbvideo-cols">
       <div class="fbv-poster">
         {% if item.poster_image.src %}
         {% set sizeAttrs = 'width="{{ item.poster_image.width }}" height="{{ item.poster_image.height }}"' %}
         {% if item.poster_image.size_type == 'auto' %}
         {% set sizeAttrs = 'width="{{ item.poster_image.width }}" height="{{ item.poster_image.height }}" style="max-width: 100%; height: auto;"' %}
         {% elif item.poster_image.size_type == 'auto_custom_max' %}
         {% set sizeAttrs = 'width="{{ item.poster_image.max_width }}" height="{{ item.poster_image.max_height }}" style="max-width: 100%; height: auto;"' %}
         {% endif %}
         {% set loadingAttr = item.poster_image.loading != 'disabled' ? 'loading="{{ item.poster_image.loading }}"' : '' %}
         <img src="{{ item.poster_image.src }}" alt="{{ item.poster_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
         {% endif %}
         {% if item.select_video_type  == 'youtube_video' %}
         <a data-fancybox href="{{ item.youtube_url }}">
         </a>
         {% elif item.select_video_type  == 'vimeo_video' %}
         <a data-fancybox href="https://vimeo.com/{{ item.vimeo_id }}">
         </a>
         {% elif item.select_video_type  == 'mp4_video' %}
         <a data-fancybox data-width="640" data-height="360" href="{{ item.mp4_url }}">
         </a>
         {% else %}
         {% endif %}
  
       </div>
       <div clas="fb-content">
         <div class="text-yellow fb-title-color">
           <h3>{{ item.col_title }}</h3>
         </div>  
         <div class="text-color">
           {{ item.short_description }}
         </div>  
       </div>  
      </div>
     {% endfor %}
      
    </div>  
  </div>  
</div>  
{% endif %}
  

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
   
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  {% if module.style.color_settings.columns_title_color.color %}
  #hs_cos_wrapper_{{ name }} .fb-title-color h1,
  #hs_cos_wrapper_{{ name }} .fb-title-color h2,
  #hs_cos_wrapper_{{ name }} .fb-title-color h3,
  #hs_cos_wrapper_{{ name }} .fb-title-color h4,
  #hs_cos_wrapper_{{ name }} .fb-title-color h5,
  #hs_cos_wrapper_{{ name }} .fb-title-color h6 { color: rgba({{ module.style.color_settings.columns_title_color.color|convert_rgb }}, {{ module.style.color_settings.columns_title_color.opacity ~ '%' }}); }
  {% endif %}
   
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}