

.video-js *{
  box-sizing: inherit;
  object-fit: cover!important;
}


.slide-max.video-max {
  position: absolute;
  top: 40%;
  z-index: 1;
}
.video-wrapper{
  position: relative;
  overflow: hidden;

  width:100%;
  z-index:1;
}

#background-video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  object-fit: cover!important;
  transform: translate(-50%,-50%);
}

.slide-max.video-max {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  padding:0;
}

.video-wrapper video{
  object-fit:cover;
  width:100%;
  height:70vh;
}

@media(max-width:767px){
  .video-container{max-width:800px;width:100%;}
  .video-wrapper {height:auto;}
  .slide-max.video-max{
    
    left: 0;
    padding: 0 25px;}
  .video-wrapper video{
    height:50vh;
  }
}


