<!-- module html  -->
<table class="hse-image-wrapper" role="presentation" width="100%" cellpadding="0" cellspacing="0"
    style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
    <tbody>
        <tr>
            <td
                style="width: 100%;text-align: center; color: #ffffff !important; font-family: Arial, sans-serif;">
                <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:100%;height:auto;">
                    <v:fill type="frame" src="{{ module.background_image.src|escape_url }}" color="#ffffff" />
                    <v:textbox inset="0,0,0,0">
                <![endif]-->
                <div
                    style="background-image: url('{{ module.background_image.src|escape_url }}'); background-repeat: no-repeat; background-size: cover; background-position: top; {{ module.section_spacing.css }};">
                    <div style="padding-bottom: 20px;    
                    font-size: 20px;
                    text-align: center;
                    width: 80%;
                    margin: auto;
                    line-height: 30px;
                    font-family: Arial, sans-serif;
                    padding-bottom: 20px;">
                        {{ module.text }}
                    </div>
                    {% set href = module.button_link.url.href %}
                    {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a href="{{ href|escape_url }}" {% if module.button_link.open_in_new_tab %}target="_blank"
                        {% endif %}
                        style="background: #FFC82F; padding: 10px 20px; border-radius: 2px; text-decoration: none; color: #000000; font-family: Arial, sans-serif; text-transform: uppercase; font-weight: 600;"
                        {% if module.button_link.rel %}rel="{{ module.button_link.rel|escape_attr }}" {% endif %}>
                        {{ module.button_text }}
                    </a>
                </div>
                <!--[if gte mso 9]>
                    </v:textbox>
                </v:rect>
                <![endif]-->
            </td>
        </tr>
    </tbody>
</table>