<!-- module html  -->
<table class="hse-image-wrapper" role="presentation" width="100%" cellpadding="0" cellspacing="0"
    style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;background-color: #fff;">
    <tbody>
        <tr>
            <td class="hs_padded" align="center" valign="top"
                style="background-color: #ffff; border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; color:#23496d; word-break:break-word; {{ module.section_spacing.css }}; font-size:0px">
                {% set href = module.logo_link.url.href %}
                {% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href|escape_url }}" {% if module.logo_link.open_in_new_tab %}target="_blank" {% endif %}
                    style="color:#00a4bd; mso-line-height-rule:exactly" data-hs-link-id="0"
                    {% if module.logo_link.rel %}rel="{{ module.logo_link.rel|escape_attr }}" {% endif %}>
                    {% if module.logo_image.src %}
                    {% set sizeAttrs = 'width="{{ module.logo_image.width|escape_attr }}" height="{{ module.logo_image.height|escape_attr }}"' %}
                    {% if module.logo_image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ module.logo_image.width|escape_attr }}" height="{{ module.logo_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% elif module.logo_image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ module.logo_image.max_width|escape_attr }}" height="{{ module.logo_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = module.logo_image.loading != 'disabled' ? 'loading="{{ module.logo_image.loading|escape_attr }}"' : '' %}
                    <img src="{{ module.logo_image.src|escape_url }}" alt="{{ module.logo_image.alt|escape_attr }}"
                        {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}

                </a>
            </td>
        </tr>
    </tbody>
</table>