<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: ESS - email backup unsubscribe
  
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base-province.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Unsubscribe" %}

{% block body %}
<div class="systemSec fullwidth">
  <div class="content-wrapper">
    <div class="systems-page">
      {% module "backup_unsubscribe"
        extra_classes="backup-unsubscribe",
        path="@hubspot/email_simple_subscription"
      %}
    </div>
  </div>
</div>
{% endblock body %}
