<!--
  templateType: membership_register_page
  isAvailableForNewContent: true
  label: ESS - membership registration
  
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base-province.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Membership | Register" %}

{% block header %}
{% endblock %}

{% block body %}
<div class="systemSec fullwidth">
  <div class="content-wrapper">
  <div class="systems-page">
    {% module "content"
      path="@hubspot/rich_text",
      html="<h1>Welcome!</h1><p>Set up your password to sign in and see the content you now have access to.</p>"
    %}
    <div class="form-container">
      {% member_register "my_register"
        email_label="Email",
        password_confirm_label="Confirm Password",
        password_label="Password",
        submit_button_text="Save Password"
      %}
    </div>
    <div>
      {% module_block module "membership_admin_content"
        label="Contact admin",
        path="@hubspot/rich_text"
      %}
        {% module_attribute "html" %}
          <p>Having trouble? <a href="{{"mailto:" ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
        {% end_module_attribute %}
      {% end_module_block %}
    </div>
  </div>
</div>
</div>
{% endblock %}
