<table class="hse-image-wrapper" role="presentation" width="100%" cellpadding="0" cellspacing="0"
    style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;background-color: #fff;">
    <tbody>
        <tr>
            <td style="width: 100%; text-align: center;">
                <!--[if mso]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:100%;height:300px;">
                    <v:fill type="frame" src="{{ module.image_field.src|escape_url }}" color="#ffffff" />
                    <v:textbox inset="0,0,0,0">
                <![endif]-->
                {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
                <img src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}"
                    {{ loadingAttr }} width="100%" height="auto" style="display: block; width: 100%; height: auto;"
                    alt="Descriptive Alt Text">
                <!--[if mso]>
                    </v:textbox>
                </v:rect>
                <![endif]-->
            </td>
        </tr>
    </tbody>
</table>