.cs-yellow-ul {
    background-color: #edbd3c;
    height: 15px;
    width: 50px;
    margin: 5px 0;

}

.cs-connect-section .content-wrapper {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.cs-connect-section {
    width: 100%;
    position: relative;
    margin: 50px 0;

}

.skew_div1 {
    background-color: white;
    height: 2rem;
    position: absolute;
    top: -17px;
    width: 102%;
    transform: rotate(-4deg);
    z-index: 1;
    left: -2px;
}

.skew-div2 {
    background: white;
    height: 4rem;
    left: -1px;
    position: absolute;
    top: 18rem;
    transform: rotate(-5deg);
    width: 103%;
}

.cs-title {
    font-size: 30px;
    margin: 0 0 2px 0;
}

.cs-image-container a img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.image-container img {
    width: 25px;
}

.cs-social-container {
    padding: 15px 0 18px;
    display: flex;
    gap: 10px;
}


@media(max-width:1200px) {

    .skew-div2,
    .skew_div1 {
        display: none;
    }

    .cs-connect-section {
        width: 100%;
        margin: 50px 0 0px !important;
    }
}