{% if module.styles.section_show_hide_ %}
<div class="fullwidth cs-connect-section">
    <div class="content-wrapper">
        <div class="cs-container-wrapper">
            <div class="skew_div1"></div>
            <div class="cs-container">
                <div class="cs-title-container">
                    <h2 class="cs-title">
                        {{ module.title }}
                    </h2>
                    <div class="cs-yellow-ul">
                    </div>
                </div>
                <div class="cs-social-container">
                    {% for item in module.social_images %}
                    {% set href = item.social_media_link.url.href %}
                    {% if item.social_media_link.url.type is equalto "EMAIL_ADDRESS" %}
                        {% set href = "mailto:" + href %}
                    {% endif %}
                    <a href="{{ href }}"
                        {% if item.social_media_link.open_in_new_tab %}target="_blank"{% endif %}
                        {% if item.social_media_link.rel %}rel="{{ item.social_media_link.rel }}"{% endif %}
                        >
                        <div class="image-container">
                            <img src="{{ item.social_image.src }}" alt="{{ item.social_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="cs-image-container">
                    {% set href = module.image.page_link.url.href %}
                    {% if module.image.page_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a href="{{ href }}" {% if module.image.page_link.open_in_new_tab %}target="_blank" {% endif %}
                        {% if module.image.page_link.rel %}rel="{{ module.image.page_link.rel }}" {% endif %}>
                        <img src="{{ module.image.google_image.src }}" alt="{{ module.image.google_image.alt }}"
                            {{ loadingAttr }} {{ sizeAttrs }}>

                    </a>

                </div>
            </div>
            <div class="skew-div2"></div>
        </div>
    </div>
</div>
{% endif %}

{% require_css %}
<style>
{% scope_css %}
.cs-connect-section{
    background-color: {{ module.styles.background_color.color }};
    opacity:{{ module.styles.background_color.opacity }};
    {{ module.styles.spacing.desktop_spacing.css }}
}

.cs-title{
    {% if  module.styles.color_settings.title_color.color %}
    color:{{ module.styles.color_settings.title_color.color }} ;
    opacity: {{ module.styles.color_settings.title_color.opacity }}
    {% endif %}
}

{% end_scope_css %}
</style>
{% end_require_css %}





