<!-- module html  -->
{% if module.styles.section_show_hide_ %}
<div class="fullwidth sec-space" id="{{ module.section_id|replace(' ', '_') }}">
    <div class="content-wrapper ">
        <div class="fr-title_container">
            {% if module.title %}
            <div class="fr-title_wrapper">
                <h2>{{ module.title }}</h2>
            </div>
            {% endif %}
            {% if module.description %}
            <div class="fr-description_container">
                {{ module.description }}
            </div>
            {% endif %}
        </div>
        <div class="form-image_container">
            <div class="form-container">
                <div class="form-wrapper">
                {% form
                    form_to_use="{{ module.form_field.form_id }}"
                    response_response_type="{{ module.form_field.response_type }}"
                    response_message="{{ module.form_field.message }}"
                    response_redirect_id="{{ module.form_field.redirect_id }}"
                    response_redirect_url="{{module.form_field.redirect_url}}"
                    gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
                    %}
                </div>
            </div>
        {% if module.image_field.src %}
        <div class="image-container">
            {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
            {% if module.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
            <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }}
            {{ sizeAttrs }}>
        </div>
        {% endif %}
    </div>

    </div>
</div>
{% endif %}


{% require_css %}
<style>
    {% scope_css %}
    .sec-space{
     {% if module.styles.background.background_type == "gradient" %}
         background: {{ module.styles.background.background_gradient.css }};
    {% elif module.styles.background.background_type == "color" %}
        background-color:rgb({{ module.styles.background.background_color.color |convert_rgb }}, {{ module.styles.background.background_color.opacity/100}});
    {% endif %}
        {{  module.styles.desktop_spacing.css }}
    }

    {% if module.styles.color_settings.title_color.color %}
    .fr-title_wrapper h2{
     color: rgba({{ module.styles.color_settings.title_color.color|convert_rgb }}, {{ module.styles.color_settings.title_color.opacity  ~ '%' }})
    }
 
    {% endif %}

    {% if module.styles.color_settings.paragraph_text_color.color %}
    .fr-description_container{
       color: rgba({{ module.styles.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.styles.color_settings.paragraph_text_color.opacity ~ '%' }}) ;
    }

    {% endif %}
    .fr-title_container{
        text-align: {{ module.text_alignment }};
    }
    .form-image_container {
    {% if module.image_field.src %}
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: {{ module.image_direction }};
    {% else %}
         display: block;
    {% endif %}
}

.form-container {
    {% if module.image_field.src %}
    width: 55%;
    {% else %}
    width:100%;
    display:flex;
    justify-content:{{ module.form_alignment }};
    {% endif %}
}
  


 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   .sec-space { {{ module.styles.tablet_spacing.css }} }
   .form-container{
    width: 100%;
   }
   .form-image_container {
    flex-direction: column;
    gap: 30px;
   }
   .image-container{
    width: 100%;
   }

  }
  
  @media(max-width: 767px){
   .sec-space { {{ module.styles.mobile_spacing.css }} }
  }
  

    
    {% end_scope_css %}
</style>
{% end_require_css %}