<!-- module html  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css" id="hs-inline-css">
        /*<![CDATA[*/
        /* everything in this style tag will be inlined onto matching elements */
        .sample-rule {}

        @media(max-width:360px) {

            .footer-social,
            .footer-logo {
                padding: 30px 20px !important;

            }
        }

        /*]]>*/
    </style>
</head>

<body>


    <table class="hse-image-wrapper" role="presentation" width="100%" cellpadding="0" cellspacing="0"
        style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;background-color: #000;">
        <tbody>
            <tr>
                <td class="hs_padded" valign="top"
                    style="border-collapse:collapse; mso-line-height-rule:exactly; font-family: Arial, sans-serif; color:#23496d; word-break:break-word;{{ module.section_spacing.css }}; font-size:0px"
                    class="footer-logo">
                    {% set href = module.logo_link.url.href %}
                    {% if module.logo_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a href="{{ href|escape_url }}" {% if module.logo_link.open_in_new_tab %}target="_blank" {% endif %}
                        style="color:#00a4bd; mso-line-height-rule:exactly" data-hs-link-id="0"
                        {% if module.logo_link.rel %}rel="{{ module.logo_link.rel|escape_attr }}" {% endif %}>
                        {% if module.logo_image.src %}
                        {% set sizeAttrs = 'width="{{ module.logo_image.width|escape_attr }}" height="{{ module.logo_image.height|escape_attr }}"' %}
                        {% if module.logo_image.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ module.logo_image.width|escape_attr }}" height="{{ module.logo_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                        {% elif module.logo_image.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ module.logo_image.max_width|escape_attr }}" height="{{ module.logo_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = module.logo_image.loading != 'disabled' ? 'loading="{{ module.logo_image.loading|escape_attr }}"' : '' %}
                        <img src="{{ module.logo_image.src|escape_url }}" alt="{{ module.logo_image.alt|escape_attr }}"
                            {{ loadingAttr }}>
                        {% endif %}

                    </a>
                    <p
                        style="line-height:15px;color: #FFFFFF;margin-top:5px;font-size: 10px;font-family: Arial, sans-serif; ">
                        {{ module.copy_right_text }}</p>
                </td>
                <td valign="top" style="width: 50%; padding:30px; text-align: right; " class="footer-social">
                    <table role="presentation" cellpadding="0" cellspacing="0"
                        style="border-spacing: 0; border-collapse: collapse; margin-left: auto;">
                        <tr>
                            {% for item in module.social_icons %}
                            <td style="padding: 0 5px; text-align: center;">
                                {% set href = item.icon_link.url.href %}
                                {% if item.icon_link.url.type is equalto "EMAIL_ADDRESS" %}
                                {% set href = "mailto:" + href %}
                                {% endif %}
                                <a href="{{ href|escape_url }}" {% if item.icon_link.open_in_new_tab %}target="_blank"
                                    {% endif %} {% if item.icon_link.rel %}rel="{{ item.icon_link.rel|escape_attr }}"
                                    {% endif %}>
                                    {% if item.image.src %}
                                    {% set sizeAttrs = 'width="{{ item.image.width|escape_attr }}" height="{{ item.image.height|escape_attr }}"' %}
                                    {% if item.image.size_type == 'auto' %}
                                    {% set sizeAttrs = 'width="{{ item.image.width|escape_attr }}" height="{{ item.image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                    {% elif item.image.size_type == 'auto_custom_max' %}
                                    {% set sizeAttrs = 'width="{{ item.image.max_width|escape_attr }}" height="{{ item.image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                    {% endif %}
                                    {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading|escape_attr }}"' : '' %}
                                    <img src="{{ item.image.src|escape_url }}" alt="{{ item.image.alt|escape_attr }}"
                                        {{ loadingAttr }} {{ sizeAttrs }} style="display: inline-block;">
                                    {% endif %}
                                </a>
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <table role="presentation" width="100%" cellpadding="0" cellspacing="0"
                        style="border-spacing: 0; border-collapse: collapse; margin-top: 10px;">
                        <tr>
                            <td style="text-align: right;">
                                <a style="color: #FFFFFF; font-size: 12px; display: block;font-family: Arial, sans-serif;line-height: 20px;"
                                    class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link }}">
                                    Update your email preferences
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <p style="display: none;">
                                    {{ site_settings.company_name }}&nbsp;
                                    {{ site_settings.company_street_address_1 }}&nbsp;
                                    {{ site_settings.company_street_address_2 }}&nbsp;
                                    {{ site_settings.company_city }}&nbsp;
                                    {{ site_settings.company_state }}&nbsp;
                                    {{ site_settings.company_zip }}&nbsp;
                                    {{ site_settings.company_country }}&nbsp;
                                </p>
                                    <a style="color: #FFFFFF; font-size: 12px; display: block;font-family: Arial, sans-serif;line-height: 20px;"
                                    class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link_all }}">
                                    Unsubscribe
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
        </tbody>
    </table>
</body>

</html>