.overlay_form_close{
position:absolute;
  background:#f5f5f512;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  
}
.overlay_form_close.overlay-active{
z-index:99;
}

.form-outer{ z-index:9999!important;position:relative;}

 