.pro-tab-desc table, .pro-tab-desc table td{width:100%;}
.pro-tab-desc table tr td:first-child{border-left:1px solid #f6f6f6;border-right:none;background-color:#f6f6f6;}
.noResult { display:none; text-align: center; padding: 200px 0; } 

.product-block.filter-block:hover {
    background: #f1efef!important;
    border-radius: 10px!important;
    box-shadow: 0 0 11px #93939380!important;
  
}


.ui-content div strong{
  font-size: 20px;
color: #140a9a;
    font-family: Saira Condensed,sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.text-color.spec{
  font-size:14px!Important;
  display: flex;
    align-items: center;
    justify-content: space-between;
border-bottom: 2px dotted #000;}


.form-header {
    background: rgba(20, 10, 154, 100%);
}

.form-header h2{
    color:white;
}

.form-main form {
    text-transform: none;
}
@media (max-width: 370px) {
  ..grecaptcha-badge {
    transform: scale(0.8)!important;
    margin: 0 -20px !important;
  }
}

#myCarousel {
	max-width: 640px;
	margin: 0 auto;
}

#myCarousel .f-carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
  max-height: 800px;
}

#myCarousel .f-carousel__slide a {
	height: 100%
}

#myCarousel .f-carousel__slide a img {
	object-fit: contain;
	height: 100%;
	width: 100%;
  padding:0 50px;
}

@media (max-width: 1220px) {
#myCarousel .f-carousel__slide {

  max-height: 500px;
}
}

.spec-tab{border:none;}
.spec-tab.pro-tabs ul{
display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  padding:0;
}
.spec-tab.pro-tabs ul li, .spec-tab.pro-tabs ul li a{width:100%}
.pro-tab-specs.news-crnRcls {
	border-radius: 7px;
	margin: 17px 0px;
  
}

.pro-tab-specs.news-crnRcls h4 {
	position: relative;
	margin-bottom: 0;
	padding: 16px;
	padding-right: 50px;
	background: #fff;
	font-size: 20px;
	text-transform: uppercase;
	background: #f6f6f6;
	color: #2a2a2a;
  font-family: Roboto Condensed,sans-serif;
  font-weight:bold;
  cursor:default;
}


.ews-crnRctxt.ews-crnRctxt {
	display: none;
	padding: 20px;
background-color:#f6f6f6;
  line-height: 2;
}

.ews-crnRctxt.ews-crnRctxt p img {
	float: left;
	max-width: 90px !important;
	margin-top: 6px;
	margin-right: 28px;
}

.pro-tab-specs.news-crnRcls h4.active {
	background-color: #140a9a;
	color: #fff;
  font-weight: bold;
}

.pro-tab-specs.news-crnRcls h4:before {
	right: 0px;
	left: auto;
	position: absolute;
	content: '';
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	height: 54px;
	width: 54px;
	background-color: #140a9a;
  cursor:pointer;
}
.pro-tab-specs.news-crnRcls h4.active:before{
background-color: #f6f6f6;
}
.pro-tab-specs.news-crnRcls h4:after {
	position: absolute;
	content: '';
	right: 21px;
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	height: 2px;
	width: 10px;
	background-color: #fff;
}

.pro-tab-specs.news-crnRcls h4 span {
	position: absolute;
	right: 25px;
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 2px;
	height: 10px;
	background-color: #fff;
  
}
.pro-tab-specs.news-crnRcls h4.active:after{
background-color:#2a2a2a;
}
.pro-tab-specs.news-crnRcls h4.active span {
	display: none;
}

.news-crnInner {
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
	padding: 50px 0;
}

@media (max-width: 991px){
.spec-tab ul{
    flex-direction:column;
  }}
