{% set accordion_items = [
    {
        'title': 'Accordion Item 1',
        'content': 'This is the content of accordion item 1.'
    },
    {
        'title': 'Accordion Item 2',
        'content': 'This is the content of accordion item 2.'
    },
    {
        'title': 'Accordion Item 3',
        'content': 'This is the content of accordion item 3.'
    }
] %}

<div class="accordion">
   {% for item in module.accordion_items %}
        <div class="accordion-item">
            <button class="accordion-item__title">
                <span class="accordion-item__icon">+</span> <!-- Add a + icon -->
                {{ item.title }}
            </button>
            <div class="accordion-item__content">
               {{ item.location_name }}
            </div>
        </div>
    {% endfor %}
</div>

<style>
    .accordion-item__content {
        display: none;
    }
    
    .accordion-item__title {
        background-color: #f5f5f5;
        border: none;
        outline: none;
        padding: 10px;
        width: 100%;
        text-align: left;
        cursor: pointer;
    }
    
    .accordion-item__title.active {
        background-color: #e0e0e0;
    }
    
    .accordion-item__content.active {
        display: block;
    }
    
    .accordion-item__icon {
        float: left;
        margin-right: 5px;
        transition: transform 0.3s;
    }
    
    .accordion-item__title.active .accordion-item__icon {
        transform: rotate(45deg);
    }
</style>

<script>
    // Add event listeners to each accordion item
    var accordionItems = document.querySelectorAll('.accordion-item');
    accordionItems.forEach(function(item) {
        var title = item.querySelector('.accordion-item__title');
        title.addEventListener('click', function() {
            item.classList.toggle('active');
        });
    });
</script>

