<!-- module html  -->
<table class="hse-image-wrapper" role="presentation" width="100%" cellpadding="0" cellspacing="0"
    style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;background-color: #fff;">
    <tbody>
        <tr>
            <td style="width: 100%; {{ module.section_spacing.css }};line-height:20px; font-family: Arial, sans-serif;">
                {{ module.text }}

            </td>
        </tr>
    </tbody>
</table>