<table role="presentation" width="100%" cellpadding="0" cellspacing="0"
    style="border-spacing:0; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; background-color: #fff; text-align: center;">
    <tbody>
        <tr>
            <td style="padding: 20px; font-family: Arial, sans-serif; text-align: center;">
                <table role="presentation" cellpadding="0" cellspacing="0" width="100%"
                    style="margin: 0 auto; border-spacing: 0; border-collapse: collapse;">
                    <tr style="display: inline-block; width: 100%; vertical-align: top; box-sizing: border-box;">
                        <td class="hs_icon" style="padding: 10px 0px; width: 100%; box-sizing: border-box;">
                            <table role="presentation" cellpadding="0" cellspacing="0" width="100%"
                                style="border-spacing: 0; border-collapse: collapse; background-color: #fff; border-radius: 8px; border: 1px solid #e0e0e0; box-sizing: border-box;">
                                <tr>
                                    <td
                                        style="padding: 20px; text-align: center; border: 1px solid rgba(0,0,0,0.1); box-shadow: 0 2px 20px rgba(0,0,0,0.1);">
                                        <a href="{{ module.card_link.url.href }}" style="text-decoration: none;">
                                            {% if module.image.src %}
                                            {% set sizeAttrs = 'width="{{ module.image.width|escape_attr }}" height="{{ module.image.height|escape_attr }}"' %}
                                            {% if module.image.size_type == 'auto' %}
                                            {% set sizeAttrs = 'width="{{ module.image.width|escape_attr }}" height="{{ module.image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                            {% elif module.image.size_type == 'auto_custom_max' %}
                                            {% set sizeAttrs = 'width="{{ module.image.max_width|escape_attr }}" height="{{ module.image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                                            {% endif %}
                                            {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading|escape_attr }}"' : '' %}
                                            <img src="{{ module.image.src|escape_url }}"
                                                alt="{{ module.image.alt|escape_attr }}" {{ loadingAttr }}
                                                {{ sizeAttrs }} style="display: block; margin: 0 auto;">
                                            {% endif %}
                                            <p
                                                style="margin: 0; padding: 20px 0 15px; color: #333; font-size: 14px; font-weight: bold; line-height: 20px;">
                                                {{ module.text }}</p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>