.point {
	position: relative;
}

.locationModal {
	display: none;
}

.map-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 1000;
  overflow-y: scroll;
}

.locationModal.show {
	display: block;
}

.location-modal {
	position: relative;
	width: 100%;
	max-width: 85%;
	margin: auto;
	z-index: 10000;
	margin-top: 50px;
}

  .show_pv-text{
  display : none;
  }

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999999999;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
  overflow-y: scroll;
}

.map-image.whole {
	display: flex;
	align-items: center;
	justify-content: center;
}

.map-image svg {
	display: inline-block;
	margin-top: 25px;
	position: relative;
	width: 100%;
	max-width: 800px;
	height: auto;
}

.point::after {}

.alert-warning {
	background: #edbd3c;
	border: none;
	font-family: Saira Condensed,sans-serif;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 1px;
	font-weight: 600;
	padding: 0 2%;
	width: 100%;
  color:#fff;
}
.header-top-province{
padding:0;}
.prov-btn:hover {
	background: #fff;
	color: #2a338f;
}

.white-link {
	background-color: inherit !important;
	line-height: 14px !important;
	font-size: 10px !important;
	color: inherit !important;
	font-weight: bold !important;
	text-align: center;
	text-transform: uppercase !important;
	cursor: pointer;
}

.prov-btn {
	border-radius: 0px;
	border: solid 2px #2a338f;
	background: #2a338f;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.03em;
	padding: 3px 15px;
	color: #fff;
	margin: 5px 0;
	cursor: pointer;
}

.modal-header,
.sh-modal-header {
	background-color: #3f638c;
	position: relative;
}

.modal-title {
	font-family: 'Oswald', sans-serif;
	color: #fff !important;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
	margin: 0;
	line-height: 1.42857143;
	padding: 15px;
}

.modal-body>.close,
.modal-header>.close {
	top: 50%;
	margin-top: -0.5em;
	right: 10px;
	left: auto;
	position: absolute;
	background-color: transparent !important;
	transform: translateY(-50%);
}

.modal-body>.locationclose,
.modal-header>.locationclose {
	position: absolute;
	margin: 0;
}

.map-container {
	position: relative;
	background: #fff;
}

.map-image svg g path.point,
.map-image svg g path.point-name {
	cursor: pointer;
}

.map-image svg g path.point:hover {
	fill: #EBBC3A;
}


#yukon {}

.country-container {
	position: relative;
	text-align: center;
	background: #fff;
}

.country-dropdown {
	padding: 15px;
}

.desktop-hide {
	display: none;
}

#province {
	border: solid 2px #ccc;
	padding: 8px;
	font-family: 'Lato', sans-serif;
}

.modal-footer {
	border: none;
	text-align: center;
}

.gen-btn {
	padding: 15px 30px;
	border: none;
	background-color: #edbd3c;
	color: #fff;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

.modaltxt {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 10px 0;
}

.modal-link {
	color: #7a878e;
	cursor: pointer;
}


@media(max-width:1199px) {
	.mobile-hide {
		display: none !important;
	}

	.desktop-hide {
		display: block !important;
	}
}
path.point-name{pointer-events:none;}