.product-img img {
	margin: 0 0 10px;
	width: 100%;
	height: 50px;
	object-fit: contain;
	max-width: 155px;
}

.grid-row-iso.tab-content.brand-tab-content {
	position: relative !important;
	height: auto !important;
	display: flex !important;
	gap: 50px;
	flex-wrap: wrap;

	padding: 50px 0 0 50px;

}

.tab-column.brand-tabs {
	margin: 0;
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	min-height: 400px;
}

.tab-logo-img.product-img.full-image {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tab-logo-img.product-img.full-image img {
	width: 100%;
	height: 100%;
	max-width: 250px;
}

.tab-column.brand-tabs {
	width: calc(33.33% - 50px);
}


@media (max-width: 1220px) {
	.tab-column.brand-tabs {
		width: calc(50% - 50px);
	}
}
@media (max-width: 500px) {
  .grid-row-iso.tab-content.brand-tab-content{
  padding:0px;
  }
	.tab-column.brand-tabs {
		width: 100%;
	}
}