{% if module.style.section_show_hide_ %}
{% set hubTable = hubdb_table(module.hubdbtable_field) %}

  {% set choose_province = hubdb_table_column(module.hubdbtable_field, "choose_province").options %}

<div class="fullwidth sec-space sec-bg-color tab-hubdb-section o2">

  <div class="content-wrapper">
    <div class="fullwidth button-group-tab tab-hubdb pro-tabs text-upper">
      <ul>
        {% for row in hubdb_table_rows(module.hubdbtable_field) %}
                {% set hubT =  module.choose_province|lower|replace(" ", "-")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '')|replace("_", '-') %}
        {% set choose =  row.province.name|lower|replace(" ", "-")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '')|replace("_", '') %}
       
        {% if hubT == choose %}    
        <li data-value="{{ row.tab_category_assign.name|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
              <a {% if loop.first %}class="addIso btn-iso"{% else %} class="btn-iso"{% endif %} data-filter=".{{ row.tab_category_assign.name|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ row.tab_category_assign.name }}</a>
            </li>
        {% endif %}
        {% endfor %}
      </ul> 
    </div>  
    
    
        <div class="fullwidth tab-content-wrap"> 
      <div class="grid-row-iso tab-content brand-tab-content" {# id="{{ item.tab|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}" #}>
        {% for row in hubdb_table_rows(module.hubdbtable_field) %}
      
        {% set hubT =  module.choose_province|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '')|replace("_", '-') %}
        {% set choose =  row.province.name|lower|replace(" ", "-")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '')|replace("_", '') %}
       
      
          {% if hubT == choose %}    
          {% for tab in row.equipment %}
          <div class="tab-column brand-tabs {{ hubT }} {{ row.province.name|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '')|replace("_", '') }} {{ row.tab_category_assign.name|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
         
            <div class="tab-logo-img product-img {% if tab.full_image.name == "Full-image" %}full-image{% endif %}">
             {% if tab.full_image.name == "Full-image" %}<a href="{{ tab.page_link }}"><img src="{{ tab.logo_image.url }}"></a>
              {% else if %}<img src="{{ tab.logo_image.url }}">{% endif %}
            </div>
            {% if tab.full_image.name != "Full-image" %}
            <div>
              <h3>
                {{ tab.brand_name }}
              </h3>
            </div>{% endif %}
            <div class="tab-list-item">
              {% if tab.filter_option_1 %}
              <p data-login="{{ hubT }}" ><a class="data-option" href="{{ tab.page_link }}" data-option="{{ tab.filter_option_1|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ tab.filter_option_1 }}</a></p>
              {% endif %}
              {% if tab.filter_option_2 %}
              <p data-login="{{ hubT }}"><a class="data-option" href="{{ tab.page_link }}" data-option="{{ tab.filter_option_2|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ tab.filter_option_2 }}</a></p>
              {% endif %}
              {% if tab.filter_option_3 %}
              <p data-login="{{ hubT }}"><a class="data-option" href="{{ tab.page_link }}" data-option="{{ tab.filter_option_3|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" >{{ tab.filter_option_3 }}</a></p>
              {% endif %}
              {% if tab.filter_option_4 %}
              <p data-login="{{ hubT }}"><a class="data-option" href="{{ tab.page_link }}" data-option="{{ tab.filter_option_4|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" >{{ tab.filter_option_4 }}</a></p>
              {% endif %}
              {% if tab.filter_option_5 %}
              <p data-login="{{ hubT }}"><a class="data-option" href="{{ tab.page_link }}" data-option="{{ tab.filter_option_5|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" >{{ tab.filter_option_5 }}</a></p>
              {% endif %}
              {% if tab.filter_option_6 %}
              <p data-login="{{ hubT }}"><a class="data-option" href="{{ tab.page_link }}" data-option="{{ tab.filter_option_6|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" >{{ tab.filter_option_6 }}</a></p>
              {% endif %}
              {% if tab.filter_option_7 %}
              <p data-login="{{ hubT }}"><a class="data-option" href="{{ tab.page_link }}" data-option="{{ tab.filter_option_7|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" >{{ tab.filter_option_7 }}</a></p>
              {% endif %}
              {% if tab.filter_option_8 %}
              <p data-login="{{ hubT }}"><a class="data-option" href="{{ tab.page_link }}" data-option="{{ tab.filter_option_8|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" >{{ tab.filter_option_8 }}</a></p>
              {% endif %}
            </div>  
          </div> 
        {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div> 
  </div>  
</div>  
{% endif %}


{% require_js %}
<script src="{{ get_asset_url('/ESS LTD - Theme 2022/js/isotope.js') }}"></script>

<script>
  $(document).ready(function(){
   if($('.grid-row-iso').length > 0){ 
      
     
$('.grid-row-iso').isotope({
  itemSelector: '.tab-column',
  layoutMode: "fitRows"
});

// filter items on button click
$('.button-group-tab li').on( 'click', '.btn-iso', function() {
  var filterValue = $(this).attr('data-filter');
  $('.grid-row-iso').isotope({ filter: filterValue });
  $('.button-group-tab li a').removeClass('active');
  $(this).addClass('active');
});
     
  $(".pro-tabs ul li:first-child > a").trigger('click');
  }
  });
</script>  



{% end_require_js %}

{% require_css %}
<style>

  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}

  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}

  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }

  /***  Responsive Media Query ***/
  @media(max-width: 991px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }

</style>  
{% end_require_css %}