.blog-author-heading,
.blog-tag-heading {
  padding: 0 1rem;
}

.blog-index {
  display: flex;
  flex-wrap: wrap;
}

.blog-index__post {
  flex: 0 0 100%;
  padding: 1.4rem 1rem;
}

@media screen and (min-width: 768px) {
  .blog-index__post--small {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-index__post--small {
    flex: 0 0 calc(100% / 3);
  }
}

@media screen and (min-width: 768px) {
  .blog-index__post--large {
    display: flex;
    flex: 1 0 100%;
  }
}

.blog-index__post-image {
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .blog-index__post-image-wrapper--large {
    flex: 1 1 48%;
  }

  .blog-index__post-content--large {
    flex: 1 1 48%;
    padding-left: 2rem;
  }

  .blog-index__post-content--full-width {
    flex: 1 1 100%;
    padding-left: 0;
  }
}

.blog-index__post-title {
  font-size: 1.25rem;
}

.blog-index__post-timestamp {
  display: block;
}

.blog-index__post-author {
  align-items: center;
  display: flex;
}

.blog-index__post-author-image {
  border-radius: 50%;
  height: auto;
  margin-right: 0.35rem;
  width: 30px;
}

.blog-index__post-tags,
.blog-index__post-title,
.blog-index__post-timestamp,
.blog-index__post-author,
.blog-index__post-image--small {
  margin: 0 0 0.7rem;
}
.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pagination__link {
  display: inline-flex;
  margin: 0 0.35rem;
}

.pagination__link,
.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  text-decoration: none;
}

.pagination__link--disabled {
  cursor: default;
  pointer-events: none;
}

.pagination__link--disabled .pagination__link-text {
  color: #B0C1D4 !important;
}

.pagination__link--first,
.pagination__link--prev {
  margin-right: 0.7rem;
}

.pagination__link--first {
  margin-left: 0;
}

.pagination__link--number {
  border: 2px solid transparent;
  border-radius: 6px;
  margin: 0 0.175rem;
  padding: 0.25rem 0.4rem;
}

.pagination__link--number:hover,
.pagination__link--number:focus,
.pagination__link--active {
  border-color: #B0C1D4;
}

.pagination__link--last,
.pagination__link--next {
  margin-left: 0.7rem;
}

.pagination__link--last {
  margin-right: 0;
}

.pagination__link-icon svg,
.pagination__link-icon svg {
  height: 16px;
  margin: 0 0.3rem;
  width: 16px;
}

.pagination__link--disabled .pagination__link-icon svg,
.pagination__link--disabled .pagination__link-icon svg {
  fill: #B0C1D4 !important;
}

.hs-search-field {
  position: relative;
}
.hs-search-field__input {
  box-sizing: border-box;
  width: 100%;
}
.hs-search-field__bar button svg {
  height: 10px;
}
.hs-search-field__suggestions {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hs-search-field--open .hs-search-field__suggestions {
  border: 1px solid #000;
}
.hs-search-field__suggestions li {
  display: block;
  margin: 0;
  padding: 0;
}
.hs-search-field__suggestions #results-for {
  font-weight: bold;
}
.hs-search-field__suggestions a,
.hs-search-field__suggestions #results-for {
  display: block;
}
.hs-search-field__suggestions a:hover,
.hs-search-field__suggestions a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}
 
