{% set dynamic_page_hubdb_table_id = module.hubdbtable_field %}
{% set dynamic_listing = dynamic_page_hubdb_table_id %}
 
{% if dynamic_page_hubdb_row %}        
<div class="fullwidth hs-product-detail">
  <div class="content-wrapper">
    <div class="fullwidth page-wrap">
      <div class="hs-inner-left">
        
        <div class="slider-nav">
            
          <div class="slide-img" style="background: url({{ dynamic_page_hubdb_row.slide_image_1.url }}) no-repeat center top/cover;">
          </div> 
          <div class="slide-img" style="background: url({{ dynamic_page_hubdb_row.slide_image_2.url }}) no-repeat center top/cover;">
          </div>  
          <div class="slide-img" style="background: url({{ dynamic_page_hubdb_row.slide_image_3.url }}) no-repeat center top/cover;">
            <a href="#tcVid21" class="vidPlay hubspot"></a>
          </div> 
          <div class="slide-img" style="background: url({{ dynamic_page_hubdb_row.slide_image_4.url }}) no-repeat center top/cover;">
          </div>
          
        </div>
        <div class="slider-for slick-arrow-graylight">
          <div class="slide-img" style="background: url({{ dynamic_page_hubdb_row.slide_image_1.url }}) no-repeat center top/cover;">
          </div> 
          <div class="slide-img" style="background: url({{ dynamic_page_hubdb_row.slide_image_2.url }}) no-repeat center top/cover;">
          </div>  
          <div class="slide-img" style="background: url({{ dynamic_page_hubdb_row.slide_image_3.url }}) no-repeat center top/cover;">
            <a href="#tcVid21" class="vidPlay hubspot"></a>
          </div> 
          <div class="slide-img" style="background: url({{ dynamic_page_hubdb_row.slide_image_4.url }}) no-repeat center top/cover;">
          </div>
        </div>
      </div>
      <div class="hs-inner-right">
        <div class="product-crumb fullwidth">
          <ul>
            <li>Home <span class="line-divider">/</span></li>
            <li>Products <span class="line-divider">/</span></li>
            <li>{{ dynamic_page_hubdb_row.product_title }}</li>
          </ul> 
        </div>
        <div class="fullwidth page-wrap">
          <div class="title-color fullwidth">
            <h1>{{ dynamic_page_hubdb_row.product_title }}</h1>
          </div>
          <div class="pro-share-social fullwidth">
            <ul>
              <li><a href="mailto:?subject={{ dynamic_page_hubdb_row.location.name }}&body={{ dynamic_page_hubdb_row.request_url }}/{{ dynamic_page_hubdb_row.hs_path }}"><img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/ic_share_24px.svg"></a></li>
              <li>Share</li>
            </ul>  
          </div> 

          <div class="btn-yellow fullwidth text-upper">
            <a href="{{ dynamic_page_hubdb_row.get_a_qoute_button_link }}" target="blank_">{{ dynamic_page_hubdb_row.get_a_qoute_button_text }}</a>
            <a href="{{ dynamic_page_hubdb_row.download_button_link }}" target="blank_">{{ dynamic_page_hubdb_row.download_specs }}</a>
          </div>
          <div class="fullwidth product-details">
            <div class="pro-details-wrap">
              <div class="specs-title text-upper">
                Year
              </div>
              <h3>{{ dynamic_page_hubdb_row.year.name }}</h3>  
            </div>
            <div class="pro-details-wrap">
              <div class="specs-title text-upper">
                Manufacturer
              </div>
              <h3>{{ dynamic_page_hubdb_row.manufacturer.name }}</h3>  
            </div>
            <div class="fullwidth pro-details-wrap">
              <div class="specs-title text-upper">
                Model
              </div>
              <h3>{{ dynamic_page_hubdb_row.model.name }}</h3>  
            </div>
            <div class="fullwidth pro-details-wrap">
              <div class="specs-title text-upper">
                Condition
              </div>
              <h3>{{ dynamic_page_hubdb_row.condition.name }}</h3>  
            </div>
            <div class="fullwidth pro-details-wrap">
              <div class="specs-title text-upper">
                Location
              </div>
              <h3>{{ dynamic_page_hubdb_row.location.name }}</h3>  
            </div>
            
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>
<div class="fullwidth pro-tab-sec">
  <div class="content-wrapper">
    <div class="pro-tabs fullwidth">
      <ul>
        <li><a href="#{{ dynamic_page_hubdb_row.tab_1_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_1_category }}</a></li>
        <li><a href="#{{ dynamic_page_hubdb_row.tab_2_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_2_category }}</a></li>
        <li><a href="#{{ dynamic_page_hubdb_row.tab_3_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_3_category }}</a></li>
      </ul>
    </div>
    <div class="pro-tab-content fullwidth">
      <div class="pro-tab-desc" id="{{ dynamic_page_hubdb_row.tab_1_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_1_content }}
      </div>
      <div class="pro-tab-desc" id="{{ dynamic_page_hubdb_row.tab_2_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_2_content }}
      </div>
      <div class="pro-tab-desc" id="{{ dynamic_page_hubdb_row.tab_3_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_3_content }}
      </div>
    </div>  
  </div>  
</div>
 <div class="advantage-section fullwidth">
  <div class="content-wrapper">
    <div class="text-center advg-title">
    <h2>{{ dynamic_page_hubdb_row.advantage_section_title }}</h2>
    </div>  
    <div class="page-wrap fullwidth adv-outer">
      <div class="advantage-col">
        <h3>{{ dynamic_page_hubdb_row.advantage_1_title  }}</h3>
        <div class="advantage-text">
          {{ dynamic_page_hubdb_row.advantage_1_content }}
        </div>  
      </div>  
      <div class="advantage-col">
        <h3>{{ dynamic_page_hubdb_row.advantage_2_title  }}</h3>
        <div class="advantage-text">
          {{ dynamic_page_hubdb_row.advantage_2_content }}
        </div>  
      </div>  
      <div class="advantage-col">
        <h3>{{ dynamic_page_hubdb_row.advantage_3_title  }}</h3>
        <div class="advantage-text">
          {{ dynamic_page_hubdb_row.advantage_3_content }}
        </div>  
      </div>  
    </div>  
  </div>
</div> 
 
{% if dynamic_page_hubdb_row.slide_video  %}  
<div id="tcVid21" class="videoPopup fullwidth">
  <div class="content-wrapper">
    <a class="tcClose hubspot">X</a>
    <div class="tcInner fullwidth o2">
      {% video_player "embed_player" player_id="{{ dynamic_page_hubdb_row.slide_video }}" %}
    </div>
  </div>
</div>
{% endif %}
  
{% if dynamic_page_route_level == 1 %}
 <div class="feature-section fullwidth">  
  <div class="content-wrapper">
    <div class="feature-outer slick-arrow-dark">
      {% for row in hubdb_table_rows(dynamic_listing) %}
         {% if row.set_as_featured_post %}
          <div class="product-block {#{{ row.types.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.inventory_type.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.manufacturer.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.modal.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.condition.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.modal.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.location.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.year.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} #}">
            <a href="{{ row.hs_path }}" class="pro-link-wrap"></a>
            <div class="product-featured" style="background: url({{ row.product_image.url }}) no-repeat center top/cover;">
            </div>
            <div class="title-color">
              <h3>{{ row.product_title }}</h3>
            </div>
            <div class="title-color text-yellow">
              <h3><span>{{ row.price }}</span></h3>
            </div> 
            <div class="text-color">
              {{ row.location.name }}
            </div>  
          </div>
         {% endif %}
      {% endfor %} 
    </div>  
  </div>  
</div>  
 {% endif %}

{% elif dynamic_listing %}
  
  {% set types = hubdb_table_column(dynamic_listing, "types").options %}  
  {% set inventory_type = hubdb_table_column(dynamic_listing, "inventory_type").options %}
  {% set category = hubdb_table_column(dynamic_listing, "category").options %}  
  {% set manufacturer = hubdb_table_column(dynamic_listing, "manufacturer").options %} 
  {% set model = hubdb_table_column(dynamic_listing, "model").options %}
  {% set condition = hubdb_table_column(dynamic_listing, "condition").options %}
  {% set location = hubdb_table_column(dynamic_listing, "location").options %} 
  {% set year = hubdb_table_column(dynamic_listing, "year").options %} 

 <div class="fullwidth products-listing sec-space sec-bg-color">
  <div class="content-wrapper">
  <div class="product-left">  
    <div class="product-filter">
      <div class="title-color text-yellow">
        <h3><span>Filters</span></h3>
      </div>  
      <div class="filters">
        <!--  Types -->
        <div class="ui-group">
          <span>Type</span>
          <ul class="button-group js-radio-button-group" data-filter-group="type">
            <li><a class="is-checked is-first" data-filter="*">All</a></li> 
            {% for row in types %} 
             <li><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
          </ul>  
        </div>

       <!-- Inventory Type -->
        <div class="ui-group">
          <span>Inventory Type</span>
          <ul class="button-group js-radio-button-group" data-filter-group="inventory">
            <li><a class="is-checked is-first" data-filter="*">All</a></li> 
            {% for row in inventory_type %}
              <li><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
          </ul>  
        </div>

        <!-- Category -->
        <div class="ui-group">
          <span>Category</span>
          <ul class="button-group js-radio-button-group" data-filter-group="category">
            <li><a class="is-checked is-first" data-filter="*">All</a></li> 
            {% for row in category %}
              <li><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
          </ul>  
        </div>

         <!-- Manufacturer -->
        <div class="ui-group">
          <span>Manufacturer</span>
          <ul class="button-group js-radio-button-group" data-filter-group="manufacturer">
            <li><a class="is-checked is-first" data-filter="*">All</a></li> 
            {% for row in manufacturer %}
              <li><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
          </ul>   
        </div>

        <!-- Modal -->
        <div class="ui-group">
          <span>Model</span>
          <ul class="button-group js-radio-button-group" data-filter-group="model">
            <li><a class="is-checked is-first" data-filter="*">All</a></li> 
            {% for row in model %}
              <li><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
          </ul>  
        </div>

        <!-- Condition -->
        <div class="ui-group">
          <span>Condition</span>
          <ul class="button-group js-radio-button-group" data-filter-group="condition">
            <li><a class="is-checked is-first" data-filter="*">All</a></li> 
            {% for row in condition %}
              <li><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
          </ul>  
        </div>

        <!-- Location -->
        <div class="ui-group">
          <span>Location</span>
          <ul class="button-group js-radio-button-group" data-filter-group="location">
            <li><a class="is-checked is-first" data-filter="*">All</a></li> 
            {% for row in location %}
              <li><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
          </ul>  
        </div>

        <!-- Year -->
        <div class="ui-group">
          <span>Year</span>
          <ul class="button-group js-radio-button-group" data-filter-group="year">
              <li><a class="is-checked is-first" data-filter="*">All</a></li> 
            {% for row in year %}
              <li><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
          </ul>  
        </div>

      </div> 
    </div>
    <div class="ess-ltd-block">
      <div class="title-color text-yellow">
        <h3><span>{{ module.title }}</span></h3>
      </div>
      <div class="text-color">
        {{ module.description }}
      </div>  
    </div>  
  </div>   
  <div class="product-list-right">
    <div class="product-crumb fullwidth">
       {% menu "breadcrumb" id=module.menu_field, site_map_name='Breadcrumb Menu ESS - 2022', overrideable=False, root_type='breadcrumb', flyouts='false', max_levels='8', flow='horizontal', label='Breadcrumb Menu ESS - 2022' %} 
    </div>  
    <div class="product-list-layout fullwidth grid O1"> 
        {% for row in hubdb_table_rows(dynamic_listing) %}
          <div class="product-block {{ row.types.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.inventory_type.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.manufacturer.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.modal.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.condition.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.modal.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.location.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.year.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">
            <a href="{{ request.path }}/{{ row.hs_path }}" class="pro-link-wrap"></a>
            <div class="product-featured" style="background: url({{ row.product_image.url }}) no-repeat center top/cover;">
            </div>
            <div class="title-color">
              <h3>{{ row.product_title }}</h3>
            </div>
            <div class="title-color text-yellow">
              <h3><span>{{ row.price }}</span></h3>
            </div> 
            <div class="text-color">
              {{ row.location.name }}
            </div>  
          </div>
        {% endfor %}
     </div>
       
     
    <div class="fullwidth" id="custom-pagination"></div>
    </div>  
    
    <div class="ess-ltd-block is-smalller-device">
      <div class="title-color text-yellow">
        <h3><span>{{ module.title }}</span></h3>
      </div>
      <div class="text-color">
        {{ module.description }}
      </div>  
    </div>
    
    
  </div>    
</div>
  

{% require_js %}
<script src="{{ get_asset_url('/ESS LTD - Theme 2022/js/pagination.js') }}"></script>
<script src="{{ get_asset_url('/ESS LTD - Theme 2022/js/isotope.js') }}"></script>
{% end_require_js %}





{% endif %} 
 

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .ui-group ul li a, #hs_cos_wrapper_{{ name }} .ui-group > span, #hs_cos_wrapper_{{ name }} .ess-ltd-block .text-color { color: rgba({{ module.style.color_settings.filters_text_color.color|convert_rgb }}, {{ module.style.color_settings.filters_text_color.opacity ~ '%' }}); }
  
   
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}