{% if module.style.section_show_hide_ %}
<div class="fullwidth video-section sec-space sec-bg-color">
  <div class="content-wrapper">
    <div class="video-outer page-wrap">
      <div class="video-left">
        <div class="title-color text-yellow">
          <h2>{{ module.title }}</h2>
        </div>
        <div class="text-color">
          {{ module.content }}
        </div>
        {% if module.button_text %}
          <div class="btn-yellow btn-color">
            {% set href = module.button_link.url.href %}
            {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
               {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
               {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
               >
              {{ module.button_text }}
            </a>
          </div>
        {% endif %}
      </div>
      <div class="video-right" style="background: url({{ module.video_poster_image.src }}) no-repeat center center/cover;">
        <a href="#tcVid2" class="vidPlay {{ module.select_video_type }}"></a>
      </div>
    </div>  



  </div>  
</div>  
{% endif %}

<div id="tcVid2" class="videoPopup fullwidth">
  <div class="content-wrapper">
    <a class="tcClose {{ module.select_video_type }}">X</a>
    <div class="tcInner fullwidth {% if module.select_video_type == "hubspot" %}o2{% endif %}">
       {% if module.select_video_type == "hubspot" %}
      {% if module.videoplayer_field.player_id %}
      {% set max_width = module.videoplayer_field.size_type == 'auto_custom_max' ? module.videoplayer_field.max_width : module.videoplayer_field.width %}
      {% set max_height = module.videoplayer_field.size_type == 'auto_custom_max' ? module.videoplayer_field.max_height : module.videoplayer_field.height %}
      {% video_player "embed_player"
          player_id={{ module.videoplayer_field.player_id }}
          type={{ module.videoplayer_field.player_type || 'scriptV4' }}
          full_width={{ module.videoplayer_field.size_type == 'auto_full_width' }},
          conversion_asset={{ module.videoplayer_field.conversion_asset|tojson|safe }}
        %}
      {% endif %}
      {% else %}
        <iframe width="560" height="315" src="{{ module.youtube|replace('watch?v=','embed/') }}?autoplay=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
    </div>
  </div>
</div>
 



{% require_css %}
<style>

  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }};  }
  {% endif %}

  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}

  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }

  /***  Responsive Media Query ***/
  @media(max-width: 991px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }

</style>  
{% end_require_css %}