{% if module.style.section_show_hide_ %}
<div class="fullwidth logo-section sec-space sec-bg-color">
  <div class="content-wrapper">
    {% if module.title %}
    <div class="title-color text-yellow text-center">
      <h2>{{ module.title }}</h2>
    </div>
    {% endif %}
    {% if module.subtitle %}
    <div class="text-color text-center">
      {{ module.subtitle }}
    </div>
    {% endif %}
    {% if module.button_text %}
    <div class="btn-yellow btn-color text-center">
      {% set href = module.button_link.url.href %}
      {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}"
         {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
         {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
         >
        {{ module.button_text }}
      </a>
    </div>  
    {% endif %}
    {% if module.sider_show_hide_ %}
    <div class="fullwidth  province-logo-slides slick-arrow-dark text-center {{loop.length}}">
     {% for row in hubdb_table_rows( module.choose_table) %} 
   {% if request.cookies.name == row.province.name %}
     {% if row.oem_parts %}
           
              {% if row.oem_parts_brands %}
              {% for item in row.oem_parts_brands %}
      <div class="logo-slide-box province-logo-slide-box " >
        <a href="{{ item.link }}" target="_blank">
               <img src="{{ item.image.url }}" alt="{{ item.name }}" {{ loadingAttr }} {{ sizeAttrs }}>
              </a> 
      </div>  
   {% endfor %}
     {% endif %}
            
           {% endif %}
     {% endif %}
    {% endfor %} 
    </div>  
    {% endif %}
  </div>  
</div>  
{% endif %}

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}