.map-section .text-color{
    font-size:18px!important;
    line-height: 28px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
}
.map-loc-box{
/* display:block; */
  left:30%;
}

/* .map-center.new-map{
margin:0;
} */

.map-loc-city.text-upper {
    color: #2a338f;
    font-family: Saira Condensed;
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    padding-bottom: 15px;
}
.map-block {
  margin: 46px 0 0;
  position: relative;
/*   display: flex; */
  width: 100%;
}

.map-section .text-color{
    font-size:18px!important;
    line-height: 28px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
}


.map-loc-boxes{
  border: 5px #ccc dashed;;
  border-radius:0px;
  background:#fff;
  box-shadow:none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding:30px;
/*   width: 40%; */
  left: 80%;
  position: absolute;
  text-align: left;
  top: 30%;
  transform: translate(-50%,-50%);
}


.map-loc-boxes .map-btn-yellow {
  display: flex;
  flex-direction: column;
  width:100%;
}

.map-loc-boxes .map-btn-yellow .btn-yellow{width:100%;}

.map-loc-boxes .btn-yellow a{
  width:100%;
  padding: 10px 30px;
  letter-spacing: 1px; 
    color:#fff;  
}

.map-loc-boxes .map-btn-yellow > div:last-child { margin-bottom:5px ;}

@media(max-width:1220px){.map-loc-city { font-size: 27px;}}

@media(max-width:991px){
  .map-block{width:100%; flex-direction:column; margin: 0; align-items: center;}
  .map-center {width: 100%;}
  .map-loc-boxes {
    width: 100%;
    margin: 40px auto 0;
    position: static;
    transform: none;
}
 .map-block .image-holder { display:block;}
}

@media(max-width:415px){.map-loc-city {font-size: 22px;}}
@media(max-width:360px){.map-loc-boxes.btn-yellow a {font-size: 12px;}}
@media(max-width:335px){.map-loc-city {font-size: 18px;}}