.parts-tab-content{
margin:50px 0 0 0!important;
}
.parts-tab-column .tab-logo-img img{
width: 100%;
    height: 120px;
}
.parts-tab-column,.image-slider-container a{width:100%;}
.parts-tab-column .tab-logo-img.tab-column:hover{border: 1px solid #FFC82F;}
.image-slider-container.slick-slide img{max-width:800px;margin:auto;width: 100%;}


