
{% if module.style.section_show_hide_ %}

<div class="fullwidth sec-space sec-bg-color tab-hubdb-section o2">
  <div class="content-wrapper">
    <div class="fullwidth button-group-tab tab-hubdb pro-tabs text-upper">
      <ul>
        {% for item in module.tabs %}
          
            <li data-value="tab-{{ loop.index }}">
              <a {% if loop.first %}class="addIso btn-iso"{% else %} class="btn-iso"{% endif %} data-filter=".tab-{{ loop.index }}">{{ item.tab_title }}</a>
            </li>
        {% endfor %}
      </ul> 
    </div>  

    <div class="fullwidth tab-content-wrap"> 
      <div class="grid-row-iso tab-content parts-tab-content" >
      {% for item in module.tabs %}
         
          <div class="parts-tab-column tab-{{ loop.index }}">
            
            <div class="tab-description">
              <p>
                {{ item.tab_content }}
              </p>
            </div>
            
            {% for item2 in item.logo_slider %}
            {% if item2.logo_or_image_slider == "logo" %}
            {% for item3 in item2.logo %}
            <div class="tab-logo-img tab-column">
              <a href="{{ item3.logo_link }}">
                <img src="{{ item3.logo.src }}" alt="{{ item3.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              </a>
             
            </div>
             {% endfor %}
            {% endif %}
            {% if item2.logo_or_image_slider == "image" %}
            <div class="parts-image-slider slick-arrow-dark">
            {% for item3 in item2.image_slider %}
            
               <div class="image-slider-container">
              <a href="{{ item3.image_link }}">
                <div class="image-slides">
                  <img src="{{ item3.slider_image.src }}" alt="{{ item3.slider_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                 </div>
              </a>
            </div>
           
           
             {% endfor %}
               </div>
             {% endif %}
            {% endfor %}  
          </div>  
        {% endfor %}
      </div>
    </div> 
  </div>  
</div>  
{% endif %}


{% require_js %}
<script src="{{ get_asset_url('/ESS LTD - Theme 2022/js/isotope.js') }}"></script>

<script>
  $(document).ready(function(){
   if($('.grid-row-iso').length > 0){ 
      
     
$('.grid-row-iso').isotope({
  itemSelector: '.parts-tab-column',
  layoutMode: "fitRows"
});

// filter items on button click
$('.button-group-tab li').on( 'click', '.btn-iso', function() {
  var filterValue = $(this).attr('data-filter');
  $('.grid-row-iso').isotope({ filter: filterValue });
  $('.button-group-tab li a').removeClass('active');
  $(this).addClass('active');
});
  $(".pro-tabs ul li:first-child > a").trigger('click');
  }
  });
</script>  



{% end_require_js %}

{% require_css %}
<style>

  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}

  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}

  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }

  /***  Responsive Media Query ***/
  @media(max-width: 991px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }

</style>  
{% end_require_css %}