.ts-slide {
  width: 50%;
}

.ts-right {
  width: 100%;
}

.ts-align.slick-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:25px;
}

.ts-slide,.ts--img {
  width: 50%;
}

/* .ts--img img{height:300px!important; object-fit:contain;} */

.ts-slide{
  background: linear-gradient(270deg,#140a9a,#000);
  border-radius: 5px;
  padding: 100px 53px 90px 64px;
}

.ts-slide { border-radius: 5px; padding: 100px 53px 90px 64px; background: linear-gradient(270deg,  {{ primary_color }} 0%, #000000 100%); position: relative; margin-top: 40px;}
.ts-slide:before { content: " "; position: absolute; left: 57px; top: -40px; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/quote-img.png) no-repeat center top/contain; width: 68px; height: 59px; }
.ts-slide:after { content: " "; position: absolute; right: 10px; top: 0; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/Group%201584.svg) no-repeat center top/contain; width: 153px; height: 96px; }


.ts-slide-bg {
  background: none;
  border-radius: 0px;
  padding: 0px;
  position: relative;
}

.ts-slide-bg:before { content: " "; background: none; }
.ts-slide-bg:after { content: " "; background: none;}

@media(max-width:1300px){.ts--img, .ts-slide {width: 48%; }}

@media(max-width:992px){
  .ts-align.slick-slide {
    flex-direction: column-reverse;
  }
  .ts-slide,.ts--img {
    width: 98%;
  }
  /* .ts-align.slick-slide img {
  display: none;
} */     
  
  .ts--img img{margin:0 auto;}

  .ts-slide { border-radius: 5px; padding: 0px; background: none; overflow-wrap: break-word;}
  .ts-slide:before { background: none;}
  .ts-slide:after { background: none; }

  /* .ts-slide-bg { border-radius: 5px; padding: 100px 53px 90px 64px; background: linear-gradient(270deg,  {{ primary_color }} 0%, #000000 100%); position: relative;} */
  .ts-slide-bg { border-radius: 5px; padding: 50px 30px; background:  linear-gradient(270deg,#140a9a,#000); position: relative;} 
  .ts-slide-bg:before { content: " "; position: absolute; left: 57px; top: -40px; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/quote-img.png) no-repeat center top/contain; width: 68px; height: 59px; }
  .ts-slide-bg:after { content: " "; position: absolute; right: 10px; top: 0; background: url(https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/Group%201584.svg) no-repeat center top/contain; width: 153px; height: 96px; }

}

@media (max-width: 380px){
.ts-slide-bg:before {
    left: 10px;
    width: 60px;
}
.ts-slide-bg:after {
    right: 0px;
    width: 105px;
}
}
