.dnd-section .dnd-column {
    padding: 0 0rem;
}

.card_container--lp {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.card_container--lp a {
    text-decoration: none;
    color: inherit;
    width: calc(30% - 10px);
    transition: 0.3s;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_container--lp a:hover {
    background: #f1efef;
    border-radius: 10px;
    box-shadow: 0 0 11px #93939380;
}

.card_container--image {
  height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.card_container--image img {
    width: 100%;
    object-fit: cover;
    height: 100% !important;
    border-radius: 10px;
}

.card_container--description {
    padding: 15px 10px
}

.card_container--description p {
    margin: 0;
}

@media (min-width: 1220px) {
    .card_container--lp a {
        width: calc(30% - 10px);
    }

}

@media (min-width: 750px) and (max-width: 1220px) {
    .card_container--lp a {
        width: calc(45% - 10px);
    }
}


@media (max-width: 749px) {
    .card_container--lp a {
        width: calc(90% - 10px);
    }
    .card_container--lp {
        gap: 40px;
    }
}

