<!-- module html  -->
<div class="fullwidth space-section-ql">
<div class="content-wrapper">
<div class="card-sec--title">
<h2>{{ module.section_title }} </h2>
</div>
<div class="card_container--lp">
{% for item in module.card_container %}
{% set href = item.card_link.url.href %}
{% if item.card_link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
{% endif %}
<a href="{{ href }}"
    {% if item.card_link.open_in_new_tab %}target="_blank"{% endif %}
    {% if item.card_link.rel %}rel="{{ item.card_link.rel }}"{% endif %}
    >    

<div class="card_container--image">
{% if item.image_card.src %}
    {% set sizeAttrs = 'width="{{ item.image_card.width }}" height="{{ item.image_card.height }}"' %}
    {% if item.image_card.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ item.image_card.width }}" height="{{ item.image_card.height }}" style="max-width: 100%; height: auto;"' %}
    {% elif item.image_card.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ item.image_card.max_width }}" height="{{ item.image_card.max_height }}" style="max-width: 100%; height: auto;"' %}
    {% endif %}
        {% set loadingAttr = item.image_card.loading != 'disabled' ? 'loading="{{ item.image_card.loading }}"' : '' %}
    <img src="{{ item.image_card.src }}" alt="{{ item.image_card.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}
</div>
<div class="card_container--description">
{% if item.title %}
<div class="card_description--title">
<h3> {{ item.title }} </h3>
</div>
{% endif %}
{% if item.subtext %}
<div class="card_description--subtext">
<p>{{ item.subtext }}</p>
</div>
{% endif %}
</div>

</a>
{% endfor %}
</div>
</div>
</div>

{% require_css %}
<style>


#hs_cos_wrapper_{{ name }} .space-section-ql {
{% if module.styles.background.background_type == "color" and module.styles.background.color.color %}
    background-color: rgb({{module.styles.background.color.color| convert_rgb}}, {{  module.styles.background.color.opacity ~ '%' }});
      {% elif mmodule.styles.background.background_type == "gradient" %}
    background: {{ module.styles.background.gradient_field.css }};
    {% endif %}
}

{% if module.styles.color_setting.title_color.color %}
    #hs_cos_wrapper_{{ name }} .card_description--title h1,
    #hs_cos_wrapper_{{ name }} .card_description--title h2, .card-sec--title h2,
    #hs_cos_wrapper_{{ name }} .card_description--title h3,
    #hs_cos_wrapper_{{ name }} .card_description--title h4,
    #hs_cos_wrapper_{{ name }} .card_description--title h5,
    #hs_cos_wrapper_{{ name }} .card_description--title h6 { color: rgba({{ module.styles.color_setting.title_color.color|convert_rgb }}, {{ module.styles.color_setting.title_color.opacity ~ '%' }}); }
    {% endif %}
    
    /*  Paragraph Text Color */
    {% if module.styles.color_setting.subtitle_color.color %}
    #hs_cos_wrapper_{{ name }} .card_description--subtext p{ color: rgba({{ module.styles.color_setting.subtitle_color.color|convert_rgb }}, {{ module.styles.color_setting.subtitle_color.opacity ~ '%' }}); }
    {% endif %}

    .card_container--lp {justify-content: {{ module.row_alignment }};}


{% if module.styles.desktop_spacing.css %}
#hs_cos_wrapper_{{ name }} .space-section-ql { {{ module.styles.desktop_spacing.css }} }
{% endif %}

@media(max-width: 992px){
#hs_cos_wrapper_{{ name }} .space-section-ql { {{ module.styles.tablet_spacing.css }} }
}  

@media(max-width: 768px){
#hs_cos_wrapper_{{ name }} .space-section-ql { {{ module.styles.mobile_spacing.css }} }
}

</style>
{% end_require_css %}

