<!--
    templateType: email
    label: Email Test
    isAvailableForNewContent: true
-->
<!doctype html>
<html>

<head>
  <title>
    {% if content.html_title and content.html_title != '' %}{{ content.html_title }}{% else %}{{ content.body.subject }}{% endif %}
  </title>
  {% if content.meta_description %}
  <meta name="description" content="{{ content.meta_description }}" />{% endif %}
  <style type="text/css" id="hs-inline-css">
    /*<![CDATA[*/
    /* everything in this style tag will be inlined onto matching elements */
    .sample-rule {}

    /*]]>*/
  </style>
</head>

<body style="margin:0;">
  <!-- Preview text (text which appears right after subject in certain email clients) -->
  <div id="preview_text" style="display:none!important">
    {% text "preview_text" label="Preview Text <span class=help-text>This will be used as the preview text that displays in some email clients</span>", value="", no_wrapper=True %}
  </div>
  {% module "module_17180056850591" path="/ESS LTD - Theme 2022/email-modules/email-header", label="email-header" %}

  <!-- View as webpage link -->
  <p id="footer">
    {% module "module_17180071237162" path="/ESS LTD - Theme 2022/email-modules/email-footer", label="email-footer" %}
    <!-- {{ site_settings.company_name }}&nbsp;
    {{ site_settings.company_street_address_1 }}&nbsp;
    {{ site_settings.company_street_address_2 }}&nbsp;
    {{ site_settings.company_city }}&nbsp;
    {{ site_settings.company_state }}&nbsp;
    {{ site_settings.company_zip }}&nbsp;
    {{ site_settings.company_country }}&nbsp; -->

   <a style="display: none;" class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link }}">email preferences</a>
    <a class="hubspot-mergetag" style="display: none;" data-unsubscribe="true" href="{{ unsubscribe_link_all }}">Unsubscribe from all future
      emails</a>
  </p>
</body>

</html>