{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color fitab-section">
  <div class="content-wrapper">
   <div class="fullwidth text-center"> 
    {% if module.title %}
    <div class="title-color text-yellow">
      <h2>{{ module.title }}</h2>
    </div>
    {% endif %}
    {% if module.subtitle_content %}
    <div class="text-color">
      {{ module.subtitle_content }}
    </div>
    {% endif %}
    {% if module.button_text %}
    <div class="btn-yellow btn-color">
      {% set href = module.button_link.url.href %}
      {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %} 
      {% endif %}
      <a href="{{ href }}"
         {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
         {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
         >
        {{ module.button_text }}
      </a>
    </div> 
    {% endif %}
   </div>
    
    <div class="page-wrap fullwidth fitab-outer">
      <div class="fitab-left ui-tab">
        <ul>
          {% for item in module.tabs %}
           <li><a href="#{{ name }}_{{ item.tab_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ item.tab_category }}</a></li>
          {% endfor %}
        </ul>  
      </div>
      <div class="fitab-right">
        {% for item in module.tabs %}
          <div class="fitab-block ui-content" id="{{ name }}_{{ item.tab_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
            {% if item.tab_title %}
            <div class="title-color">
            <h3>{{ item.tab_title }}</h3>
            </div>  
            {% endif %}
            {% if item.tab_content %}
            <div class="fitab-text text-color">
              {{ item.tab_content }}
            </div>
            {% endif %}
          </div> 
        {% endfor %}
      </div>  
    </div>  
  </div>  
</div>  
{% endif %}
  

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .ui-tab li a { color: rgba({{ module.style.color_settings.tab_text_color.color|convert_rgb }}, {{ module.style.color_settings.tab_text_color.opacity ~ '%' }}); }
  #hs_cos_wrapper_{{ name }} .ui-tab li.active a, #hs_cos_wrapper_{{ name }} .ui-tab li a:hover { background: rgba({{ module.style.color_settings.tab_text_color.color|convert_rgb }}, {{ module.style.color_settings.tab_text_color.opacity ~ '%' }}); color: rgba({{ module.style.color_settings.tab_active_color.color|convert_rgb }}, {{ module.style.color_settings.tab_active_color.opacity ~ '%' }}); }
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}