<!-- module html  -->
<div class="fullwidth space-section">
<div class="overlay"></div>
<div class="content-wrapper">
<div class="banner_text text-yellow">
{% if module.h1_tag %}
<h1>{{ module.banner_text }} </h1>
{% else %}
<h2>{{ module.banner_text }}</h2>
{% endif %}
{% if module.sub_title %}
<div class="sub-title text-color">
<p>{{ module.sub_title }}</p>
</div>
{% endif %}
{% if module.button.button_text %}
<div class="btn-yellow btn-color">
{% set href = module.button.button_link.url.href %}
{% if module.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
{% set href = "mailto:" + href %}
{% endif %}
<a href="{{ href }}"
{% if module.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
{% if module.button.button_link.rel %}rel="{{ module.button.button_link.rel }}"{% endif %}
>
{{ module.button.button_text }}
</a>
</div>
{% endif %}
</div>
<div class="side_element">
{% if module.side_blue_image.src %}
{% set sizeAttrs = 'width="{{ module.side_blue_image.width }}" height="{{ module.side_blue_image.height }}"' %}
{% if module.side_blue_image.size_type == 'auto' %}
    {% set sizeAttrs = 'width="{{ module.side_blue_image.width }}" height="{{ module.side_blue_image.height }}" style="max-width: 100%; height: auto;"' %}
{% elif module.side_blue_image.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="{{ module.side_blue_image.max_width }}" height="{{ module.side_blue_image.max_height }}" style="max-width: 100%; height: auto;"' %}
{% endif %}
    {% set loadingAttr = module.side_blue_image.loading != 'disabled' ? 'loading="{{ module.side_blue_image.loading }}"' : '' %}
<img src="{{ module.side_blue_image.src }}" alt="{{ module.side_blue_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
{% endif %}
</div>
</div>
</div>

{% require_css %}
<style>

{% if module.styles.background_setting.image_field.src %}
#hs_cos_wrapper_{{ name }} .space-section{ background: url({{ module.styles.background_setting.image_field.src }}) no-repeat center center/cover; }
#hs_cos_wrapper_{{ name }} .space-section .overlay { 
{# background: rgba(0, 0, 0, {{ module.styles.background_setting.overlay_opacity ~ '%' }} );  #}
background: linear-gradient(
91deg, 
rgba(0, 0, 0, {{ module.styles.background_setting.overlay_opacity ~ '%' }} ), 
rgba(2, 2, 2, {{ module.styles.background_setting.overlay_opacity ~ '%' }} ), 
rgba(1, 1, 1, {{ module.styles.background_setting.overlay_opacity ~ '%' }} ), 
rgba(0, 0, 0, 0)
);
}
{% endif %}

.banner_text{ {{ module.styles.text_alignment_field.css }} }

/*  Title Color */
{% if module.styles.color_setting.title_color.color %}
#hs_cos_wrapper_{{ name }} .banner_text h1,
#hs_cos_wrapper_{{ name }} .banner_text h2,
#hs_cos_wrapper_{{ name }} .banner_text h3,
#hs_cos_wrapper_{{ name }} .banner_text h4,
#hs_cos_wrapper_{{ name }} .banner_text h5,
#hs_cos_wrapper_{{ name }} .banner_text h6 { color: rgba({{ module.styles.color_setting.title_color.color|convert_rgb }}, {{ module.styles.color_setting.title_color.opacity ~ '%' }}); }
{% endif %}

/*  Paragraph Text Color */
{% if module.styles.color_setting.subtitle_color.color %}
#hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.styles.color_setting.subtitle_color.color|convert_rgb }}, {{ module.styles.color_setting.subtitle_color.opacity ~ '%' }}); }
{% endif %}

/*** Button Color ***/
#hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .btn-color a {border-color: {{ module.button_color_settings.button_default_state.button_background_color.color }} }
#hs_cos_wrapper_{{ name }} .btn-color a:hover {border-color: {{ module.button_color_settings.button_hover_state.button_background_color.color }} }

{% if module.style.desktop_spacing.css %}
#hs_cos_wrapper_{{ name }} .space-section { {{ module.styles.spacing_field.desktop_spacing.css }} }
{% endif %}

/***  Responsive Media Query ***/
@media(max-width: 991px){
#hs_cos_wrapper_{{ name }} .space-section { {{ module.styles.spacing_field.tablet_spacing.css }} }
}

@media(max-width: 767px){
#hs_cos_wrapper_{{ name }} .space-section { {{ module.styles.spacing_field.mobile_spacing.css }} }
}

#hs_cos_wrapper_{{ name }}  .banner_text{max-width:{{ module.styles.content_max_width_px_ ~ 'px'}}}

</style>
{% end_require_css %}

