.dnd-section .dnd-column {
    padding: 0 0rem;
}
.space-section {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}
.banner_text {
  width: 100%;
  position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .side_element {
    max-width: 130px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
}