{% if module.style.section_show_hide_ %}
<div class="fullwidth lt-section sec-space sec-bg-color">
  <div class="content-wrapper">
    <div class="lt-column lt-news">
      <div class="title-color text-yellow">
        <h2>{{ module.left_columns.title }}</h2>
      </div>
      <div class="text-color">
        {{ module.left_columns.short_description }}
      </div> 
      <div class="title-color text-yellow">
        <h3>{{ module.left_columns.blogs_title }}</h3>
      </div>
      <div class="lt-blog-post">
        {% set rec_posts = blog_recent_posts(module.left_columns.select_blog, 2) %}
        {% for rec_post in rec_posts %}
        <div class="lt-box page-wrap align-center">
          <div class="lt-img" style="background: url({{ rec_post.featured_image }}) no-repeat center top/cover;">
          </div>
          <div class="lt-body">
            <div class="title-color">
              <h5><a data-login="{{ request.cookies.name }}" href="{{ rec_post.absolute_url }}">{{ rec_post.name|truncatehtml(30, ' ', false) }}</a></h5>
            </div>
            <div class="text-color">
              {{ rec_post.post_body|safe|striptags|truncatehtml(72, '...', false)|replace("&nbsp;", "") }}
            </div>
            <div class="text-link">
              <a data-login="{{ request.cookies.name }}" href="{{ rec_post.absolute_url }}">Read more</a>
            </div>  
          </div>  
        </div>  
        {% endfor %}
      </div> 
      <div class="btn-yellow btn-color fullwidth">
        {% set href = module.left_columns.button_link.url.href %}
        {% if module.left_columns.button_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
           {% if module.left_columns.button_link.open_in_new_tab %}target="_blank"{% endif %}
           {% if module.left_columns.button_link.rel %}rel="{{ module.left_columns.button_link.rel }}"{% endif %}
           >
         {{ module.left_columns.button_text }}
        </a>
      </div>  
    </div>
    <div class="lt-column lt-blogs">
      <div class="title-color text-yellow">
        <h2>{{ module.right_column.title }}</h2>
      </div>
      <div class="text-color">
        {{ module.right_column.short_description }}
      </div> 
      <div class="title-color text-yellow">
        <h3>{{ module.right_column.blogs_title }}</h3>
      </div>
      <div class="lt-blog-post">
        {% set rec_posts2 = blog_recent_posts(module.right_column.select_blog, 2) %}
        {% for rec_post2 in rec_posts2 %}
          <div class="lt-box page-wrap align-center">
            <div class="lt-img" style="background: url({{ rec_post2.featured_image }}) no-repeat center top/cover;">
            </div>
            <div class="lt-body">
              <div class="title-color">
                <h5><a data-login="{{ request.cookies.name }}" href="{{ rec_post2.absolute_url }}?cookies={{ request.cookies.name }}?reload">{{ rec_post2.name|truncatehtml(30, '', false) }}</a></h5>
              </div>
              <div class="text-color">
                {{ rec_post2.post_body|striptags|truncatehtml(72, '...', false)|replace("&nbsp;", "") }}
              </div>
              <div class="text-link">
                <a data-login="{{ request.cookies.name }}" href="{{ rec_post2.absolute_url }}?cookies={{ request.cookies.name }}?reload">Read more</a> 
              </div>  
            </div>  
          </div>  
        {% endfor %}
      </div>
      <div class="btn-yellow btn-color fullwidth">
        {% set href = module.right_column.button_link.url.href %}
        {% if module.right_column.button_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}"
           {% if module.right_column.button_link.open_in_new_tab %}target="_blank"{% endif %}
           {% if module.right_column.button_link.rel %}rel="{{ module.right_column.button_link.rel }}"{% endif %}
           >
          {{ module.right_column.button_text }}
        </a>
      </div>  
    </div> 
  </div>  
</div>  
{% endif %}
 
 

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .text-link a { {% if module.button_color_settings.button_default_state.button_background_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .text-link a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} }
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
  
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}