{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color cta-section {{ module.addclass_don_t_remove_ }} text-center">
  <div class="content-wrapper">
    <div class="hs-max-content">
    {% if module.title %}
      <div class="title-color text-yellow">
        <h2>{{ module.title }}</h2>
      </div>
    {% endif %}
    {% if module.content %}
    <div class="text-color">
      {{ module.content }}
    </div>
    {% endif %}
    <div class="btn-yellow btn-color yellow-form-btn">
      {% set href = module.button_link.url.href %}
      {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}"
         {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
         {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
         >
        {{ module.button_text }}
      </a>
      {% if module.request_a_quote_button %}
	      
            <a class="btn-pop-quote" href="" target="blank_">Request a Quote</a>


            <div class="form-popup fullwidth fm-act-not">
              <div class="content-wrapper">
                <div class="form-outer">
                  <div class="form-header">
                    <h2>{{ module.request_a_quote_.form_title }}</h2>
                    <div class="form-close">
                      Close
                    </div>  
                  </div> 
                  <div class="form-main">
    {% form
	form_to_use="{{ module.request_a_quote_.form_field.form_id }}"
	response_response_type="{{ module.request_a_quote_.form_field.response_type }}"
	response_message="{{ module.request_a_quote_.form_field.message }}"
	response_redirect_id="{{ module.request_a_quote_.form_field.redirect_id }}"
	response_redirect_url="{{module.request_a_quote_.form_field.redirect_url}}"
	gotowebinar_webinar_key="{{ module.request_a_quote_.form_field.gotowebinar_webinar_key }}"
%}
                  </div>  
                </div>  
              </div>
            </div>
{% endif %}
    </div> 
    </div>   
  </div>  
</div>  
{% endif %}

{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  .form-header {
	background: rgba(20, 10, 154, 100%);
}

.form-header h2 {
	color: white;
}
  .btn-yellow.btn-color.yellow-form-btn{
  display: flex;
    padding: 0 10px;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn-yellow.btn-color.yellow-form-btn form .hs_submit.hs-submit{ text-align:left;}
  
</style>  
{% end_require_css %}
{% require_js %}
<script>


 document.addEventListener('DOMContentLoaded', function () {
    let btnPopQuote = document.querySelector('.btn-pop-quote ');

    btnPopQuote.addEventListener('click', function (event) {
      event.preventDefault(); 
      let formPopup = document.querySelector('.form-popup');
      formPopup.classList.remove('fm-act-not');

      formPopup.classList.add('form-active');
    });
  });
</script>
{% end_require_js %}