<script>
$.get("https://ipinfo.io", function (response) {
  var url = "{{ content.absolute_url }}";
  if ( (response.region == "Gujarat" && url == "http://essltd-4079460-hs-sites-com.sandbox.hs-sites.com/financing-get-approved") || (response.region == "Gujarat" && url == "https://essltd-4079460-hs-sites-com.sandbox.hs-sites.com/financing-get-approved") ){ 
    window.location.href = "https://www.google.com/"
  }
}, "jsonp");
</script>
{% if module.style.section_show_hide_ %}
{% if module.style.hero_image_show_hide_ %}
<div data-url="{{ group.absolute_url }}-{{ content.absolute_url }}-{{ request.geoip_country }}" class="fullwidth sec-space sec-bg-color hero-others {% if module.banner_text_center %}text-center{% endif %}">
  {% if module.banner_title %}
  <div class="content-wrapper">
    <div class="hs-v1">
      <div class="title-color text-yellow">
        <h2>{{ module.banner_title }}</h2>
      </div>
    </div>
  </div>
  {% endif %}
</div>  
{% endif %}
{% if module.title_bottom_show_hide_ %}
<div class="fullwidth hero-outer-part">
  <div class="content-wrapper">
    <div class="hs-max-others">
      {% if module.title %}
      <div class="title-color text-yellow">
        {% if module.is_heading_h1 %}
        <h1>{{ module.title }}</h1>
        {% else %}
        <h2>{{ module.title }}</h2>
        {% endif %}
      </div>
      {% endif %}
    </div>  
  </div>  
</div>
{% endif %}
{% endif %}





{% require_css %}
<style>

  {% if module.style.section_background.background_image.src %}  
  {% if module.style.section_background.overlay_show_hide_ %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: linear-gradient(91deg, #000000 0%, #090909 51%, #00000000 100%), url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover;  }
  {% else %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: url({{ module.style.section_background.background_image.src }}) no-repeat center center/cover;  }
  {% endif %}
  {% endif %}

  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}

  {% if module.style.content_max_width_px_ %}
  #hs_cos_wrapper_{{ name }} .hs-max-others { max-width: {{ module.style.content_max_width_px_ ~ 'px' }}; }
  {% endif %}

  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .hs-max-others .title-color h1,
  #hs_cos_wrapper_{{ name }} .hs-max-others .title-color h2,
  #hs_cos_wrapper_{{ name }} .hs-max-others .title-color h3,
  #hs_cos_wrapper_{{ name }} .hs-max-others .title-color h4,
  #hs_cos_wrapper_{{ name }} .hs-max-others .title-color h5,
  #hs_cos_wrapper_{{ name }} .hs-max-others .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}

  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .hs-v1 .title-color h1,
  #hs_cos_wrapper_{{ name }} .hs-v1 .title-color h2,
  #hs_cos_wrapper_{{ name }} .hs-v1 .title-color h3,
  #hs_cos_wrapper_{{ name }} .hs-v1 .title-color h4,
  #hs_cos_wrapper_{{ name }} .hs-v1 .title-color h5,
  #hs_cos_wrapper_{{ name }} .hs-v1 .title-color h6 { color: rgba({{ module.style.color_settings.title_color_banner_.color|convert_rgb }}, {{ module.style.color_settings.title_color_banner_.opacity ~ '%' }}); }
  {% endif %}


  /* Paragraph Text Color */
  {# {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}

  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_radius_px_ %} border-radius: {{ module.button_radius_px_ ~ 'px' }};{% endif %} {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} } #}

  /***  Responsive Media Query ***/

  @media(max-width: 991px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }

  @media(max-width: 767px){
    #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }

</style>  
{% end_require_css %}