{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color breadcrumb-menu">
  <div class="content-wrapper">
    <div class="text-color">
      {% menu "breadcrumb" id=module.breadcrumb_menu, site_map_name='Breadcrumb Menu ESS Province - 2023', overrideable=False, root_type='breadcrumb', flyouts='false', max_levels='8', flow='horizontal', label='Breadcrumb Menu ESS Province - 2023' %}
    </div>  
  </div>  
</div>  


{% require_css %}
<style>
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
 {# {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %} #}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
    #hs_cos_wrapper_{{ name }} .text-color .hs-breadcrumb-menu-item:not(.last-crumb) a { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
 {#  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} } #}
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}
{% endif %}