<!-- module html  -->
<div class="fullwidth space-section-It">
<div class="content-wrapper">
<div class="group_img--text ">
<div class="content_sec">
<div class="title-color text-yellow">
<h2>{{ module.title }}</h2>
</div>
<div class="text-color">
<p>{{ module.sub_text }}</p>
</div>
<div class="button_group">
<div class="quote_button btn-yellow">
{% set href = module.quote_button.button_link.url.href %}
{% if module.quote_button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
{% set href = "mailto:" + href %}
{% endif %}
<a href="{{ href }}"
{% if module.quote_button.button_link.open_in_new_tab %}target="_blank"{% endif %}
{% if module.quote_button.button_link.rel %}rel="{{ module.quote_button.button_link.rel }}"{% endif %}
>
{{ module.quote_button.button_text }}
</a>
</div>
<div class="call_button btn-yellow">
{% set href = module.call_now_button.button_link.url.href %}
{% if module.call_now_button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
{% set href = "mailto:" + href %}
{% endif %}
<a href="{{ href }}"
{% if module.call_now_button.button_link.open_in_new_tab %}target="_blank"{% endif %}
{% if module.call_now_button.button_link.rel %}rel="{{ module.call_now_button.button_link.rel }}"{% endif %}
>
{{ module.call_now_button.button_text }}
</a>
</div>
</div>
</div>

<div class="media_sec">
{% if module.image_video == "media_type_selection" %}
{# Code for video to be played pop-up #}
{% if module.media_type_selection.video_popup == true %}
<div class="eq-video-boxs">
{% if module.media_type_selection.media_type  == 'youtube_video' %}
<a data-fancybox href="{{ module.media_type_selection.youtube_url }}"><i class="fas fa-play-circle"></i></a>
{% elif module.media_type_selection.media_type  == 'vimeo_video' %}
<a data-fancybox href="https://vimeo.com/{{ module.media_type_selection.vimeo_id }}"><i class="fas fa-play-circle"></i></a>
{% elif module.media_type_selection.media_type  == 'mp4_video' %}
<a data-fancybox data-width="640" data-height="360" href="{{ module.media_type_selection.mp4_url }}"><i class="fas fa-play-circle"></i></a>
{% elif module.media_type_selection.media_type  == 'external_video' %}
{% set href = module.media_type_selection.video_external_link.url.href %}
{% if module.media_type_selection.video_external_link.url.type is equalto "EMAIL_ADDRESS" %}
{% set href = "mailto:" + href %}
{% endif %}
<a href="{{ href }}"
    {% if module.media_type_selection.video_external_link.open_in_new_tab %}target="_blank"{% endif %}
    {% if module.media_type_selection.video_external_link.rel %}rel="{{ module.media_type_selection.video_external_link.rel }}"{% endif %}
    >
<i class="fas fa-play-circle"></i>
</a>
{% endif %}
</div>
{% endif %}
{# Code for video to be played inline (no pop-up) #}
{% if module.media_type_selection.video_popup == false %}
<div class="eq-video-box-no_pop">
{% if module.media_type_selection.media_type  == 'youtube_video' %}
{% set youtube_id = module.media_type_selection.youtube_url.split('=')[1].split('&')[0] %}
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;border-radius: 24px;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/{{ youtube_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% elif module.media_type_selection.media_type  == 'vimeo_video' %}
{% set vimeo_id = module.media_type_selection.vimeo_id %}
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;border-radius: 24px;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://player.vimeo.com/video/{{ vimeo_id }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
{% elif module.media_type_selection.media_type  == 'mp4_video' %}
{% set mp4_url = module.media_type_selection.mp4_url %}
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;border-radius: 24px;">
        <video style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" controls>
            <source src="{{ mp4_url }}" type="video/mp4">
        </video>
    </div>
{% elif module.media_type_selection.media_type  == 'external_video' %}
    {% set href = module.media_type_selection.video_external_link.url.href %}
        {% if module.media_type_selection.video_external_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: 24px;">
            <iframe src="{{ href }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" allowfullscreen></iframe>
        </div>
{% endif %}
</div>
{% endif %}


{% else %}
{% if module.image.src %}
{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
{% if module.image.size_type == 'auto' %}
{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}" style="max-width: 100%; height: auto;"' %}
{% elif module.image.size_type == 'auto_custom_max' %}
{% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
{% endif %}
{% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
<img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>

{% endif %}
{% endif %}


</div>

</div>
</div>
</div>

{% require_css %}
<style>

#hs_cos_wrapper_{{ name }} .quote_button a { {% if module.quote_button.button_setting_static.buton_color.color %} background: rgba({{ module.quote_button.button_setting_static.buton_color.color|convert_rgb }}, {{ module.quote_button.button_setting_static.buton_color.opacity ~ '%' }});{% endif %} {% if module.quote_button.button_setting_static.button_text_color.color %} color: rgba({{ module.quote_button.button_setting_static.button_text_color.color|convert_rgb }}, {{ module.quote_button.button_setting_static.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .quote_button a:hover { {% if module.quote_button.button_setting_hover.buton_color.color %}background: rgba({{ module.quote_button.button_setting_hover.buton_color.color|convert_rgb }}, {{ module.quote_button.button_setting_hover.buton_color.opacity ~ '%' }});{% endif %} {% if module.quote_button.button_setting_hover.button_text_color.color %}color: rgba({{ module.quote_button.button_setting_hover.button_text_color.color|convert_rgb }}, {{ module.quote_button.button_setting_hover.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .quote_button a {border-color: {{ module.quote_button.button_setting_static.buton_color.color }} }
#hs_cos_wrapper_{{ name }} .quote_button a:hover {border-color: {{ module.quote_button.button_setting_hover.buton_color.color }} }

#hs_cos_wrapper_{{ name }} .call_button a { {% if module.call_now_button.button_setting_static.buton_color.color %} background: rgba({{ module.call_now_button.button_setting_static.buton_color.color|convert_rgb }}, {{ module.call_now_button.button_setting_static.buton_color.opacity ~ '%' }});{% endif %} {% if module.call_now_button.button_setting_static.button_text_color.color %} color: rgba({{ module.call_now_button.button_setting_static.button_text_color.color|convert_rgb }}, {{ module.call_now_button.button_setting_static.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .call_button a:hover { {% if module.call_now_button.button_setting_hover.buton_color.color %}background: rgba({{ module.call_now_button.button_setting_hover.buton_color.color|convert_rgb }}, {{  module.call_now_button.button_setting_hover.buton_color.opacity ~ '%' }});{% endif %} {% if module.call_now_button.button_setting_hover.button_text_color.color %}color: rgba({{ module.call_now_button.button_setting_hover.button_text_color.color|convert_rgb }}, {{ module.call_now_button.button_setting_hover.button_text_color.opacity ~ '%' }});{% endif %} }
#hs_cos_wrapper_{{ name }} .call_button a {border-color: {{ module.call_now_button.button_setting_static.buton_color.color }} }
#hs_cos_wrapper_{{ name }} .call_button a:hover {border-color: {{ module.call_now_button.button_setting_hover.buton_color.color }} }

#hs_cos_wrapper_{{ name }}  .eq-video-boxs {background: url({{ module.media_type_selection.thumbnail_image.src }}) no-repeat center top/cover;}

#hs_cos_wrapper_{{ name }} .eq-video-boxs::before {background: rgba(0, 0, 0,{{ module.media_type_selection.thumbnail_image_overlay_opacity ~ '%'}}); }

/*  Title Color */
{% if module.styles.color_setting.title_color.color %}
    #hs_cos_wrapper_{{ name }} .title-color h1,
    #hs_cos_wrapper_{{ name }} .title-color h2,
    #hs_cos_wrapper_{{ name }} .title-color h3,
    #hs_cos_wrapper_{{ name }} .title-color h4,
    #hs_cos_wrapper_{{ name }} .title-color h5,
    #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.styles.color_setting.title_color.color|convert_rgb }}, {{ module.styles.color_setting.title_color.opacity ~ '%' }}); }
    {% endif %}
    
    /*  Paragraph Text Color */
    {% if module.styles.color_setting.subtitle_color.color %}
    #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.styles.color_setting.subtitle_color.color|convert_rgb }}, {{ module.styles.color_setting.subtitle_color.opacity ~ '%' }}); }
    {% endif %}

    .space-section-It {
    {% if module.styles.background.background_type == "color" and module.styles.background.color.color %}
    background-color: rgb({{ module.styles.background.color.color|convert_rgb }}, {{ module.styles.background.color.opacity ~ '%' }});
    {% elif module.styles.background.background_type == "gradient" %}
    background: {{ module.styles.background.gradient_field.css }};
    {% elif module.styles.background.background_type == "image" %}
    {{ module.styles.background.background_image_field.css}}
    {% endif %}
}

@media(min-width:993px){
.group_img--text {flex-direction:{{ module.swap_choice }}}
}

{% if module.styles.desktop_spacing.css %}
    #hs_cos_wrapper_{{ name }} .space-section-It { {{ module.styles.desktop_spacing.css }} }
    {% endif %}

@media(max-width: 992px){
   #hs_cos_wrapper_{{ name }} .space-section-It { {{ module.styles.tablet_spacing.css }} }
  }  
  
  @media(max-width: 768px){
   #hs_cos_wrapper_{{ name }} .space-section-It { {{ module.styles.mobile_spacing.css }} }
  }
</style>
{% end_require_css %}

