.dnd-section .dnd-column {
padding: 0 0rem;
}
.group_img--text {
display: flex;
width: 100%;
gap:30px;
}
.content_sec,
.media_sec {
width: 50%;
}
.button_group {
display: flex;
gap: 15px;
text-transform: uppercase;
}

.media_sec .eq-video-boxs {
padding: 180px;
position: relative;
border-radius: 10px; 
position: relative;
}

.eq-video-boxs a .fas {
color: #fff;
font-size: 75px;
left: 40%;
position: absolute;
top: 40%;
}

.eq-video-boxs::before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: 10px; 
}

.media_sec img{
max-height: 350px;
object-fit: cover;
height: 100%;
border-radius:10px;
}



.eq-video-box-no_pop { position: relative; border-radius: 10px;}

@media (max-width: 992px) {
.group_img--text { flex-direction: column; }
.content_sec, .media_sec { width: 100%;}
.button_group {flex-wrap: wrap;}
}

@media (max-width: 430px) {
.media_sec .eq-video-boxs { padding: 150px 25px; }
}