{% if module.style.section_show_hide_ %}
<div id="{{ module.add_section_id }}" class="fullwidth sec-space sec-bg-color ov-color yslides-section">
  <div class="content-wrapper">
    <div class="fullwidth year-slider">
      <div class="yslide-left slider-nav-year">
        {% for item in module.slides %}
          {% if item.year %}
          <div class="yslide-box title-color">
            <h2>{{ item.year }}</h2>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="yslide-right slider-for-year">
        {% for item in module.slides %}
        <div class="yslide-text">
          {% if item.year %}
          <div class="title-color">
            <h2>{{ item.year }}</h2>
          </div>
          {% endif %}
          {% if item.content %}
          <div class="text-color">
            {{ item.content }}
          </div>
          {% endif %}
        </div>  
        {% endfor %}
      </div>
       
    </div>  
     
    
  </div>  
</div>  
{% endif %}
  

{% require_css %}
<style>
  
 
  {% if module.style.section_background.background_image.src %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover; }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .ov-color:before { background: linear-gradient(269deg, #000000 0%, #020202EA 28%, #090909A6 60%, #140A9A 75%, #140A9A 100%); }
  
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
  
  @media(min-width: 1800px){
    #hs_cos_wrapper_{{ name }} .ov-color:before { background: linear-gradient(269deg, #000000 0%, #020202EA 28%, #090909A6 56%, #140A9A 66%, #140A9A 100%); }
  }
  
  @media(min-width: 3100px){
  #hs_cos_wrapper_{{ name }} .ov-color:before { background: linear-gradient(269deg, #000000 0%, #020202EA 28%, #090909A6 51%, #140A9A 58%, #140A9A 100%); }
  }
  
  @media(max-width: 1220px){
   #hs_cos_wrapper_{{ name }} .ov-color:before { background: linear-gradient(269deg, #000000 0%, #020202EA 28%, #090909A6 52%, #140A9A 66%, #140A9A 100%); }
  } 
  
  
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
   #hs_cos_wrapper_{{ name }} .ov-color:before { background: linear-gradient(0deg, #000000 0%, #020202EA 28%, #090909A6 60%, #140A9A 80%, #140A9A 100%); } 
    
  }
  
</style>  
{% end_require_css %}