<!-- module html  -->
{% if module.styles.section_show_hide_ %}
<div class="fullwidth sec-space">
    {% if module.styles.overlay_show_hide_ %}
    <div class="overlay"></div>
    {% endif %}
    <div class="content-wrapper bg_form-main--container">
        <div class="bg_form-container ">
            <div class="bg_title-container">
                {% if module.title %}
                <div class="bg-title_wrapper">
                    <h2>{{ module.title }}</h2>
                </div>
                {% endif %}
                {% if module.description %}
                <div class="bg-description_container">
                    {{ module.description }}
                </div>
                {% endif %}
            </div>
            <div class="bg_form-conatiner">
                {% form
                    form_to_use="{{ module.form_field.form_id }}"
                    response_response_type="{{ module.form_field.response_type }}"
                    response_message="{{ module.form_field.message }}"
                    response_redirect_id="{{ module.form_field.redirect_id }}"
                    response_redirect_url="{{module.form_field.redirect_url}}"
                    gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
                    %}
            </div>

        </div>
    </div>
</div>
{% endif %}


{% require_css %}
<style>
    {% scope_css %}
    .sec-space{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        {{ module.styles.background_image_field.css }} ;
        {{  module.styles.desktop_spacing.css }}

    }
 .overlay {
    background: rgba(0, 0, 0, 46.5% );
    width: 100%;
 }

    .bg-title_wrapper h2{
        margin: 0;
        {% if module.styles.color_settings.title_color.color %}
        color: rgb({{ module.styles.color_settings.title_color.color | convert_rgb }},{{ module.styles.color_settings.title_color.opacity /100 }});
        {% endif %}
    }

    .bg-description_container{
        padding: 15px 0;
        {% if module.styles.color_settings.paragraph_text_color.color %}
        color:rgb({{ module.styles.color_settings.paragraph_text_color.color | convert_rgb}},{{ module.styles.color_settings.paragraph_text_color.opacity/100 }});
        {% endif %}
    }

    .bg_form-main--container{
        display: flex;
        justify-content: {{ module.form_alignment }};
        position: relative;
    }
    
    .bg_form-container{
        background: rgb({{ module.styles.color_settings.form_background_color.color  | convert_rgb }},{{ module.styles.color_settings.form_background_color.opacity /100 }});
        padding: 50px;
        border-radius: 10px;
        width: 60%;
    }



 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   .sec-space { {{ module.styles.tablet_spacing.css }}
}
.bg_form-container{  
    width: 100%;
    }
}
  
  @media(max-width: 767px){
   .sec-space { {{ module.styles.mobile_spacing.css }} }
  }
  

    
    {% end_scope_css %}
</style>
{% end_require_css %}

