.bg_form-conatiner form .form-columns-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;

}


.bg_form-conatiner form .form-columns-2 div {
    margin: 0;
}

.bg_form-conatiner form .input .hs-input::placeholder,
.bg_form-conatiner form .input .hs-fieldtype-textarea::placeholder {
    color: #7A7676 !important;
}

.bg_form-conatiner form input[type=email]:focus,
.bg_form-conatiner form input[type=file]:focus,
.bg_form-conatiner form input[type=number]:focus,
.bg_form-conatiner form input[type=password]:focus,
.bg_form-conatiner form input[type=tel]:focus,
.bg_form-conatiner form input[type=text]:focus,
.bg_form-conatiner form select:focus,
.bg_form-conatiner form textarea:focus {
    outline: none;
}

.bg_form-conatiner form input[type=email],
.bg_form-conatiner form input[type=file],
.bg_form-conatiner form input[type=number],
.bg_form-conatiner form input[type=password],
.bg_form-conatiner form input[type=tel],
.bg_form-conatiner form input[type=text],
.bg_form-conatiner form select,
.bg_form-conatiner form textarea {
    color: #000;

}

.bg_form-conatiner form .form-columns-2 .input input,
.bg_form-conatiner form select,
.bg_form-conatiner form .input .hs-fieldtype-textarea {
    background-color: #F0F2FF;
    border-radius: 2px;
    border: none;
}

.bg_form-conatiner form .hs-fieldtype-intl-phone select.hs-input:not([type=checkbox]):not([type=radio]) {
    width: 32% !important;
}


.bg_form-conatiner form .hs-fieldtype-intl-phone input[type="tel"] {
    width: 64% !important;
}

.bg_form-conatiner form .input .hs-fieldtype-textarea {
    height: 43px;
}

.bg_form-conatiner form .hs-submit {
    margin-top: 25px;
}

.bg_form-conatiner form input[type=submit] {
    font-size: 22px;
    border-radius: 4px;
    position: relative;
    padding: 15px 35px;

}

.bg_form-conatiner form .form-columns-2 .hs-form-field:last-child {
    margin-left: 0 !important;
}

@media(max-width: 767px) {
    .bg_form-conatiner form .form-columns-2 {
        flex-direction: column;
        margin: 0;
    }

    .bg_form-conatiner form .form-columns-2 .hs-form-field {
        width: 100% !important;
    }

    .bg_form-conatiner form .hs-fieldtype-intl-phone {
        padding: 0 !important;
    }

    .bg_form-conatiner form .form-columns-2 .input {
        margin-bottom: 15px;
    }
}