{# Module styles #}

<div class="side-search-box">
  {# Need help setting up site search?
   Start here: https://knowledge.hubspot.com/articles/kcs_article/cos-general/how-do-i-set-up-a-results-page-for-my-search-field-in-hubspot #}

  <div class="hs-search-field"> 
    <div class="hs-search-field__bar"> 
      <form action="/{{ site_settings.content_search_results_page_path }}">
        {% if module.field_label %}
        <label for="term">{{ module.field_label }}</label>
        {% endif %}
        <input type="text" class="hs-search-field__input" name="term" autocomplete="off" aria-label="{{ module.field_label || "Search" }}" placeholder="{{ module.placeholder }}">

        {% if module.content_types.website_pages %}
        <input type="hidden" name="type" value="SITE_PAGE">
        {% endif %}
        {% if module.content_types.landing_pages %}
        <input type="hidden" name="type" value="LANDING_PAGE">
        {% endif %}
        {% if module.content_types.blog_posts %}
        <input type="hidden" name="type" value="BLOG_POST">
        <input type="hidden" name="type" value="LISTING_PAGE">
        {% endif %}
        {% if module.content_types.knowledge_articles %}
        <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
        {% endif %}

        {% if module.include_search_button %}
        <button aria-label="Search">{% icon name="search" style="solid" %}</button>
        {% endif %}
      </form>
    </div>
    <ul class="hs-search-field__suggestions"></ul>
  </div>
</div>  
<div class="sidebar-tags">
  <h3>Tags</h3>
  <ul>
    {% set my_tags = blog_tags(module.select_blog, 250) %} 
    {% for item in my_tags|sort(False, False, 'name') %}
    <li><a class="{% if tag == item.slug  %} active{% endif %}" href="{{ blog_tag_url(group.id, item.slug) }}">{{ item }}</a></li>
    {% endfor %}
  </ul>
  <div class="see-more-tags">
    <a class="see-more-btn">See all</a>
  </div>  

</div>    

<div class="similar-posts">
  <h3>{{ module.related_post_title }}</h3>
  <div class="fullwidth blog-index similar-listing">
    {% if content.topic_list %}
    {% set max_posts = 3 %} 
    {% set post_list = [] %}
    {% for topic in content.topic_list %} 
    {% set post_list = post_list + blog_recent_topic_posts(module.select_blog, topic.slug, max_posts + 1 ) %} {# 18026690255 #}
    {% if loop.last %}
    {% set post_list = post_list|unique('name') %}
    {% set i = 0 %}
    {% for topic_post in post_list %} 
    {% if content.absolute_url != topic_post.absolute_url  and i < max_posts %} 
    
    <article class="blog-index__post blog-index__post--small" aria-label="Blog post summary: {{ topic_post.name }}">
      {# Featured image #}
      {% if topic_post.featured_image %}
      <a style="background: url({{ topic_post.featured_image }}) no-repeat center top/cover;" class="blog-index__post-image-wrapper blog-index__post-image-wrapper--small" href="{{ topic_post.absolute_url }}" aria-label="{% if topic_post.featured_image_alt_text %}Featured image: {{ topic_post.featured_image_alt_text }} - {% endif %}Read full post: {{ topic_post.name }}">
        <img class="blog-index__post-image blog-index__post-image--small" src="{{ topic_post.featured_image }}" loading="lazy" alt="{{ topic_post.featured_image_alt_text }}" width="{{ small == "small" ? "365" : "596" }}">
      </a>
      {% endif %}

      {# Article content #}
      <div class="blog-index__post-content  blog-index__post-content--small">
       

        {# Title #}
        {% if topic_post.name %}
        <h2 class="blog-index__post-title"><a class="blog-index__post-title-link" href="{{ topic_post.absolute_url }}">{{ topic_post.name }}</a></h2>
        {% endif %}
        {# Author #}
        <div class="page-wrap author-time-row"> 
          {% if topic_post.blog_author %}
          <div class="blog-index__post-author">
            By <a class="blog-index__post-author-name" href="{{ blog_author_url(group.id, topic_post.blog_post_author.slug) }}">{{ topic_post.blog_author.display_name }}</a>
          </div>
          {% endif %}
          {# Publish date #}
          {% if topic_post.publish_date %}
          <time class="blog-index__post-timestamp" datetime="{{ topic_post.publish_date }}">
            {# {{ content.publish_date_localized }} #}
            {{ topic_post.publish_date|datetimeformat("%e %B %Y") }},
          </time>
          {% endif %}
        </div>
        {# Summary #}
        {% if topic_post.post_list_content %}
        <div class="blog-index__post-summary">
          {{ topic_post.post_list_content|striptags|truncatehtml(100) }}
        </div>
        {% endif %}
        {# Read more button #}
        <div class="page-wrap post-btm-row">
          <div class="blog-index__post-button-wrapper">
            <a class="readMore" href="{{ topic_post.absolute_url }}">Read More ></a>
          </div>
          <div class="bpost-social-share">
            <ul>
              <li><a href="mailto:?subject={{ topic_post.name }}&body={{ topic_post.absolute_url }}"><img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/share-icon-white.svg"></a></li>
            </ul>  
          </div> 
        </div>
      </div>
    </article>
    {% set i = i + 1 %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
   {% endif %}

  </div>  
</div> 
 










