<!-- Module HTML -->
<div class="fullwidth space-section-tab">
<div class="content-wrapper">
        <div class="title-color text-yellow">
            <h2>{{ module.title }}</h2>
        </div>
<!-- Start of tabs -->
<div class="tabs-container">
<!-- Tabs buttons -->
<div class="tabs_button">
{% for item in module.tab_group %}
    <div class="tab-button {% if forloop.first %}active{% endif %}" data-tab="{{ forloop.index }}">{{ item.tabs_heading }}</div>
{% endfor %}
</div>
<!-- Tabs Content -->
<div class="tabs-contents">
{% for item in module.tab_group %}
    <div class="tab-content {% if forloop.first %}active{% endif %}" data-tab="{{ forloop.index }}">
        <div class="left--side">
            {{ item.content }}
        </div>
        <div class="right--side">
        {% if item.image.src %}
            {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
            {% if item.image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif item.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
             {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        </div>
    </div>
{% endfor %}
</div>
</div>
<!-- End of tabs -->

    
</div>
</div>


{% require_css %}
<style>

{% if module.styles.spacing.desktop_spacing.css %}
#hs_cos_wrapper_{{ name }} .space-section-tab{ {{ module.styles.spacing.desktop_spacing.css }} }
{% endif %}

/***  Responsive Media Query ***/
@media(max-width: 991px){
#hs_cos_wrapper_{{ name }} .space-section-tab { {{ module.styles.spacing.tablet_spacing.css }} }
}

@media(max-width: 767px){
#hs_cos_wrapper_{{ name }} .space-section-tab  { {{ module.styles.spacing.mobile_spacing.css }} }
}

.tab-button { background-color:{{ module.styles.color_setting.tabs_color_bg.color }};   color: {{module.styles.color_setting.tabs_color_text.color}};
}

.tab-button.active { background-color:{{ module.styles.color_setting.tabs_color_bg_active.color }} ; color: {{ module.styles.color_setting.tabs_color_text_active.color }};
}


{% if module.styles.title_color.color %}
    #hs_cos_wrapper_{{ name }} .title-color h2
    { color: rgba({{ module.styles.title_color.color |convert_rgb }}, {{ module.styles.title_color.opacity ~ '%' }}); }
    {% endif %}


</style>
{% end_require_css %}
