.dnd-section .dnd-column {
    padding: 0 0rem;
}

.tabs_button {
    display: flex;
}

.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    border:none;
}

.tabs-contents {
    display: flex;
    flex-direction: column;
}

.tab-content {
    display: none;
    padding: 20px;
  padding-left:0px;
}

.tab-content.active {
    display: flex;
}

.left--side,
.right--side {
    width: 50%;
    padding: 10px;
}
.left--side{padding-left:0px;}
.right--side img {
    max-width: 500px !important;
    /* max-height: 400px; */
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
}

.right--side{ text-align: center;}

 .left--side ul li::before {
    content: "";
    display: inline-block;
    width: 20px; 
    height: 20px;
    vertical-align: text-top;
    margin-right: 5px;
    background-image: url('https://www.essltd.com/hubfs/ESS%20LP/Vector.png'); 
  }

@media(max-width:992px){

.tabs_buttons {
    display: flex;
    flex-wrap: wrap;
}

.tab-button {
    flex-grow: 1;
}
.tabs-content,.tabs-content .active {
    flex-direction: column;
    padding: 0px;
}

.left--side,
.right--side {
    width: 100%;
}
}