<table class="hse-image-wrapper" role="presentation" width="100%" cellpadding="0" cellspacing="0"
    style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; background-color: #fff;text-align: center;">
    <tbody>
        <tr>
            <td
                style="width: 100%; font-family: Arial, sans-serif; {{ module.section_spacing.css }}; background-color: rgba({{ module.section_background_color.color|convert_rgb }}, {{ module.section_background_color.opacity/100 }}); text-align: center;">
                <div>
                    <h2
                        style="margin-top:0; text-align: {{ module.title_alignment }}; font-weight: 900; color: {{ module.title_font.color|escape_attr }}; font-size: {{ module.title_font.size|escape_attr }}{{ module.title_font.size_unit|escape_attr }};font-family: Arial, sans-serif;">
                        {{ module.title }}
                    </h2>
                </div>
                <table role="presentation" cellpadding="0" cellspacing="0"
                    style="margin: 0 auto; border-spacing: 0 !important; border-collapse: collapse; width: 100%;">
                    <tr>
                        <td
                            style="vertical-align: top; text-align: center; padding: 0; padding-bottom: 10px;display: inline-block;">
                            {% for item in module.location_details %}
                            <p style="margin: 0;display: inline-block;margin: 20px;font-family: Arial, sans-serif;">
                                <strong>{{ item.city_name }}</strong><a href="tel:{{ item.phone_details }}"
                                    style="color: #140A9A;padding-left: 10px;font-family: Arial, sans-serif;">{{ item.phone_details }}</a>
                                {% endfor %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>