<!-- module html -->
<table class="hse-image-wrapper" role="presentation" width="100%" cellpadding="0" cellspacing="0"
    style="border-spacing:0 !important; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;background-color: #fff;">
    <tbody>
        <tr>
            <td
                style="width: 100%; {{ module.section_spacing.css }}; font-family: Arial, sans-serif; background-color: rgba({{ module.section_background_color.color|convert_rgb }}, {{ module.section_background_color.opacity/100 }}); text-align: center;">
                <div style="padding-bottom: 20px;">
                    <h2
                        style="margin-top:0;text-align: {{ module.title_alignment }}; font-weight: 900; color: {{ module.title_font.color|escape_attr }}; font-size: {{ module.title_font.size|escape_attr }}{{ module.title_font.size_unit|escape_attr }};font-family: Arial, sans-serif;">
                        {{ module.title }}
                    </h2>
                </div>
                <table role="presentation" cellpadding="0" cellspacing="0"
                    style="margin: 0 auto; border-spacing: 0 !important; border-collapse: collapse;">
                    {% for item in module.extension_section %}
                    <tr>
                        <td style="vertical-align: top; padding: 10px 15px; text-align: left;">
                            <div>
                                {% if item.extension_image.src %}
                                {% set sizeAttrs = 'width="{{ item.extension_image.width|escape_attr }}" height="{{ item.extension_image.height|escape_attr }}"' %}
                                {% if item.extension_image.size_type == 'auto' %}
                                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                {% elif item.extension_image.size_type == 'auto_custom_max' %}
                                {% set sizeAttrs = 'style="max-width: {{ item.extension_image.max_width|escape_attr }}; height: auto;"' %}
                                {% endif %}
                                {% set loadingAttr = item.extension_image.loading != 'disabled' ? 'loading="{{ item.extension_image.loading|escape_attr }}"' : '' %}
                                <img src="{{ item.extension_image.src|escape_url }}"
                                    alt="{{ item.extension_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                                {% endif %}
                            </div>
                        </td>
                        <td style="padding: 10px 15px; text-align: left;">
                            <div>
                                <p style="margin: 0;font-family: Arial, sans-serif;">
                                    {{ item.extension_text }}
                                </p>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </tbody>
</table>