.dnd-section .dnd-column {
  padding: 0 0rem;
}
.space-section--sm {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.sm--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:20px;
}
.small_banner_text {
  width: 70%;
  position: relative;
  
}
.overlay--sm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sm-btn {
  position: relative;
  width: 30%;
  text-align:center;
}
.small_banner_text h2 {
  margin-bottom: 0px !important;
  display: flex;
  gap: 10px;
  flex-wrap:wrap;
}
.sm-image_icon {
    width: 30px;
    height: 40px;
}


@media(max-width:992px) {
  .sm--container {
    flex-direction: column;
  }
  .small_banner_text,
  .sm-btn {
    width: 100%;
  }
  .sm-btn {
  text-align:left;
}
}
