{% set dynamic_page_hubdb_table_id = module.select_hubdb_table %}
{% set dynamic_listing = dynamic_page_hubdb_table_id %}
 
{# <!-- {% if dynamic_page_route_level == 0 %}
	Top Level Template
{% elif dynamic_page_route_level == 1 %}
	Parent table template (/food /beverage)
{% elif dynamic_page_route_level == 2 %}
	Child table template (/food/banana etc., /beverage/soda etc.)
{% endif %} --> #}


{% if dynamic_page_hubdb_row %}    

<div class="fullwidth hs-product-detail">
  <div class="content-wrapper">
    <div class="fullwidth page-wrap">
        <div class="hs-inner-left">
        <div class="f-carousel" id="myCarousel">
          
          {% if dynamic_page_hubdb_row.slide_image_1.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_1.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_1.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_1.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_2.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_2.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_2.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_2.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_3.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_3.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_3.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_3.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_4.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_4.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_4.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_4.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_5.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_5.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_5.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_5.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_6.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_6.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_6.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_6.url }}" /></a>
        </div>
           {% endif %}
          {% if dynamic_page_hubdb_row.slide_image_7.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_7.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_7.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_7.url }}" /></a>
        </div>
           {% endif %} 
          {% if dynamic_page_hubdb_row.slide_image_8.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_8.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_8.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_8.url }}" /></a>
        </div>
           {% endif %} 
          {% if dynamic_page_hubdb_row.slide_image_9.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_9.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_9.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_9.url }}" /></a>
        </div>
           {% endif %} 
          {% if dynamic_page_hubdb_row.slide_image_10.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_10.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_10.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_10.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_11.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_11.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_11.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_11.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_12.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_12.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_12.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_12.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_13.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_13.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_13.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_13.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_14.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_14.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_14.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_14.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_15.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_15.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_15.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_15.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_16.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_16.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_16.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_16.url }}" /></a>
        </div>
           {% endif %}     
          {% if dynamic_page_hubdb_row.slide_image_17.url %}  
        <div class="f-carousel__slide" data-thumb-src="{{ dynamic_page_hubdb_row.slide_image_17.url }}">
          <a href="{{ dynamic_page_hubdb_row.slide_image_17.url }}" data-fancybox="gallery"><img width="640" height="480" alt="" data-lazy-src="{{ dynamic_page_hubdb_row.slide_image_17.url }}" /></a>
        </div>
           {% endif %}      
      </div>
        {% require_js %}
        
      <script>
      document.addEventListener("DOMContentLoaded", function () {
        const container = document.getElementById("myCarousel");
        const options = {
          Dots: false,
          Thumbs: true,
        };

        new Carousel(container, options, { Thumbs });

        Fancybox.bind("[data-fancybox]", {
          // Your custom options
        });
      });
    </script>
        {% end_require_js %}
      </div>
      <div class="hs-inner-right">
     {#  <div class="product-crumb fullwidth">
          <ul>
            <li>Home <span class="line-divider">/</span></li>
            <li>Products <span class="line-divider">/</span></li>
            <li>{{ dynamic_page_hubdb_row.product_title }}</li>
          </ul> 
        </div>  #}
        <div class="fullwidth page-wrap">
          <div class="title-color fullwidth">
            <h1>{{ dynamic_page_hubdb_row.product_title }}</h1>
          </div>
          <div class="pro-share-social fullwidth">
            <ul>
              <li><a href="mailto:?subject={{ dynamic_page_hubdb_row.location.name }}&body=Check out this link : {{ request.full_url }}"><img src="https://4079460.fs1.hubspotusercontent-na1.net/hubfs/4079460/Assets%20ESS%20Theme%20-%202022/Images/ic_share_24px.svg"></a></li>
              <li>Share</li>
            </ul>  
          </div> 

          <div class="btn-yellow fullwidth text-upper">

       
              <a class="btn-pop-quote" href="{{ dynamic_page_hubdb_row.get_a_qoute_button_link }}" target="blank_">Request a Quote</a>
             
            
            <div class="form-popup fullwidth fm-act-not">
           <div class="content-wrapper">
           <div class="form-outer">
          <div class="form-header">
          <h2>{{ module.form_title }}</h2>
          <div class="form-close">
          Close
         </div>  
         </div> 
         <div class="form-main">
       {% form
	        form_to_use="{{ module.request_a_quote_form.form_id }}"
	        response_response_type="{{ module.request_a_quote_form.response_type }}"
	        response_message="{{ module.request_a_quote_form.message }}"
	        response_redirect_id="{{ module.request_a_quote_form.redirect_id }}"
	        response_redirect_url="{{module.request_a_quote_form.redirect_url}}"
	        gotowebinar_webinar_key="{{ module.request_a_quote_form.gotowebinar_webinar_key }}"
       %}
      </div>  
    </div>  
  </div>  
</div>  
            
            {% if dynamic_page_hubdb_row.download_button_link %}
              <a href="{{ dynamic_page_hubdb_row.download_button_link }}" target="blank_">{{ dynamic_page_hubdb_row.download_specs }}</a>

            {% endif %}
          </div>
          <div class="fullwidth product-details">
            <div class="pro-details-wrap">
              {% if dynamic_page_hubdb_row.year.name %}   
              <div class="specs-title text-upper">
                Year
              </div>
              <h3>{{ dynamic_page_hubdb_row.year.name }}</h3>  
              {% endif %}
            </div>
            
            <div class="pro-details-wrap">
              {% if dynamic_page_hubdb_row.manufacturer.name %}   
              <div class="specs-title text-upper">
                Manufacturer
              </div>
              <h3>{{ dynamic_page_hubdb_row.manufacturer.name }}</h3>  
              {% endif %}
            </div>
             <div class="fullwidth pro-details-wrap">
              {% if dynamic_page_hubdb_row.vin_serial_number %}   
              <div class="specs-title text-upper">
                Serial Number
              </div>
              <h3>{{ dynamic_page_hubdb_row.vin_serial_number }}</h3>  
              {% endif %}
            </div>
            <div class="fullwidth pro-details-wrap">
              {% if dynamic_page_hubdb_row.model.name %}   
              <div class="specs-title text-upper">
                Model
              </div>
              <h3>{{ dynamic_page_hubdb_row.model.name }}</h3>  
              {% endif %}
            </div>
            <div class="fullwidth pro-details-wrap">
              {% if dynamic_page_hubdb_row.condition.name %}
              <div class="specs-title text-upper">
                Condition
              </div>
              <h3>{{ dynamic_page_hubdb_row.condition.name }}</h3>  
              {% endif %}
            </div>
            <div class="fullwidth pro-details-wrap">
              {% if dynamic_page_hubdb_row.location.name %}
              <div class="specs-title text-upper">
                Location
              </div>
              <h3>{{ dynamic_page_hubdb_row.location.name }}</h3>  
              {% endif %}
            </div>
            
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>
<div class="fullwidth pro-tab-sec">
  <div class="content-wrapper">
    <div class="pro-tabs ui-tab fullwidth">
      <ul>
        {% if dynamic_page_hubdb_row.tab_1_category %}
          <li><a href="#{{ dynamic_page_hubdb_row.tab_1_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_1_category }}</a></li>
        {% endif %}
        {% if dynamic_page_hubdb_row.tab_2_category %}
          <li><a href="#{{ dynamic_page_hubdb_row.tab_2_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_2_category }}</a></li>
        {% endif %}
        {% if dynamic_page_hubdb_row.tab_3_category %}
          <li><a href="#{{ dynamic_page_hubdb_row.tab_3_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">{{ dynamic_page_hubdb_row.tab_3_category }}</a></li>
        {% endif %}
        
      </ul>
    </div>
    <div class="pro-tab-content fullwidth">
      {% if dynamic_page_hubdb_row.tab_1_content %}
      <div class="pro-tab-desc ui-content" id="{{ dynamic_page_hubdb_row.tab_1_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_1_content }}
      </div>
      {% endif %}
      {% if dynamic_page_hubdb_row.tab_2_content %}
      <div class="pro-tab-desc ui-content" id="{{ dynamic_page_hubdb_row.tab_2_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_2_content }}
      </div>
      {% endif %}
      {% if dynamic_page_hubdb_row.tab_3_content %}
      <div class="pro-tab-desc ui-content" id="{{ dynamic_page_hubdb_row.tab_3_category|lower|replace(" ", "")|replace("&", '')|replace("%", '')|replace("(", '')|replace(")", '')|replace("'", '')|replace("`", '')|replace(",", '')|replace(".", '') }}">
        {{ dynamic_page_hubdb_row.tab_3_content }}
      </div>
      {% endif %}
    </div>  
  </div>  
</div>
{% if dynamic_page_hubdb_row.advantages_section_show_hide %} 
  <div class="advantage-section fullwidth"> 
    <div class="content-wrapper">
      <div class="text-center advg-title">
      <h2>{{ dynamic_page_hubdb_row.advantage_section_title }}</h2>
      </div>  
      <div class="page-wrap fullwidth adv-outers">
        <div class="advantage-col">
          {% if dynamic_page_hubdb_row.advantage_block_1_link  %}
          <a class="adv-linkwrap" href="{{ dynamic_page_hubdb_row.advantage_block_1_link  }}"></a>
          {% endif %}
          <h3>{{ dynamic_page_hubdb_row.advantage_1_title  }}</h3>
          <div class="advantage-text">
            {{ dynamic_page_hubdb_row.advantage_1_content }}
          </div>  
        </div>  
        <div class="advantage-col">
          {% if dynamic_page_hubdb_row.advantage_block_2_link  %}
          <a class="adv-linkwrap" href="{{ dynamic_page_hubdb_row.advantage_block_2_link  }}"></a>
          {% endif %}
          <h3>{{ dynamic_page_hubdb_row.advantage_2_title  }}</h3>
          <div class="advantage-text">
            {{ dynamic_page_hubdb_row.advantage_2_content }}
          </div>  
        </div>  
        <div class="advantage-col">
          {% if dynamic_page_hubdb_row.advantage_block_3_link  %}
          <a class="adv-linkwrap" href="{{ dynamic_page_hubdb_row.advantage_block_3_link  }}"></a>
          {% endif %}
          <h3>{{ dynamic_page_hubdb_row.advantage_3_title  }}</h3>
          <div class="advantage-text">
            {{ dynamic_page_hubdb_row.advantage_3_content }}
          </div>  
        </div>  
      </div>  
    </div>
  </div>  
{% endif %} 
{% if dynamic_page_hubdb_row.slide_video  %}  
<div id="tcVid21" class="videoPopup fullwidth">
  <div class="content-wrapper">
    <a class="tcClose hubspot">X</a>
    <div class="tcInner fullwidth o2">
      {% video_player "embed_player" player_id="{{ dynamic_page_hubdb_row.slide_video }}" %}
    </div>
  </div>
</div>
{% endif %}
  

{% elif dynamic_listing %}
  
  {% set operating_weight = hubdb_table_column(dynamic_listing, "operating_weight").options %}  
  {% set blade_capacity = hubdb_table_column(dynamic_listing, "blade_capacity").options %} 
  {% set horse_power = hubdb_table_column(dynamic_listing, "horse_power").options %}
  {% set specialities = hubdb_table_column(dynamic_listing, "specialities").options %}
  {% set category = hubdb_table_column(dynamic_listing, "category").options %}  


  {% if module.hide_filter_and_listing_show_no_available_message_ %}
    <div class="fullwidth products-listing sec-space sec-bg-color">
  <div class="content-wrapper">
  <div class="product-left">  
    <div class="product-filter">
      <div class="title-color text-yellow">
        <h3><span>{{ module.filter_title }}</span></h3>
      </div>  
      <div class="filters">
        
         <!-- Category -->
        <div class="ui-group group-1">
          <span>{{ module.category_filter_text }}</span>
          <ul class="button-group js-radio-button-group" data-filter-group="category">
            <li class="grp-filter grp1all" ><a class="is-checked is-first" data-filter="" data-option="grp1all"  >All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %} 
            {% for row in row.category %}
              <li class="filter-con grp-filter {{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" data-option="{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" >{{ row.name }} {{ module.category_filter_unit_text_ }}</a></li> 
            {% endfor %}
            {% endfor %}     
          </ul>  
        </div>
        
        <!--  Operating Weight -->
        
        <div class="ui-group group-2">
          <span>{{ module.operating_weight_filter_text }}</span>
          <ul class="button-group js-radio-button-group" data-filter-group="operating_weight">
            <li class="grp-filter grp2all"><a class="is-checked is-first" data-filter="" data-option="grp2all">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %}
              {% for row in row.operating_weight %} 
                <li class="filter-con grp-filter {{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}"><a data-option="{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "")|replace(">", "") }}">{{ row.name }} {{ module.operating_weight_unit_filter_text }}</a></li> 
              {% endfor %}
            {% endfor %}
          </ul>  
        </div>

       <!-- Horse Power -->
        <div class="ui-group group-3">
          <span>{{ module.horsepower_filter_text }}</span>
          <ul class="button-group js-radio-button-group" data-filter-group="horse_power">
            <li class="grp-filter grp3all"><a class="is-checked is-first" data-filter="" data-option="grp3all">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing, "&orderBy=horse_power") %}        
            {% for row in row.horse_power %}
              <li class="filter-con grp-filter {{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}"><a data-option="{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "")|replace(">", "") }}">{{ row.name }} {{ module.horsepower_unit_filter_text }}</a></li> 
            {% endfor %}
            {% endfor %}
          </ul>  
        </div>
        
          <!-- Blade -->
        <div class="ui-group group-4">
          <span>{{ module.blade_filter_text }}</span>
          <ul class="button-group js-radio-button-group" data-filter-group="blade_capacity">
            <li class="grp-filter grp4all"><a class="is-checked is-first" data-filter="" data-option="grp4all">All</a></li> 
         
           {% for row in hubdb_table_rows(dynamic_listing) %} 
            {% for row in row.blade_capacity %}           
              <li class="filter-con grp-filter {{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "")|replace(">", "") }}"><a data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "")|replace(">", "") }}" data-option="{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }} {{ module.blade_unit_filter_text }}</a></li> 
            {% endfor %}     
            {% endfor %}     
          </ul>  
        </div>

        <!-- specialities -->
        <div class="ui-group group-5">
          <span>{{ module.specialities_filter_text }}</span>
          <ul class="button-group js-radio-button-group" data-filter-group="specialities">
            <li class="grp-filter grp5all"><a class="is-checked is-first" data-filter="" data-option="grp5all">All</a></li> 
            {% for row in hubdb_table_rows(dynamic_listing) %} 
            {% for row in row.specialities %}
              <li class="filter-con grp-filter {{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}"><a data-option="{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" data-filter=".{{ row.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">{{ row.name }}</a></li> 
            {% endfor %}
            {% endfor %}     
          </ul>  
        </div>
        
        
        <p><button class="button button--reset">Reset</button></p>
        

     

      </div> 
    </div>
    <div class="ess-ltd-block">
      <div class="title-color text-yellow">
        <h3><span>{{ module.title }}</span></h3>
      </div>
      <div class="text-color">
        {{ module.description }}
      </div>  
    </div>  
  </div>   
  <div class="product-list-right">

    <div class="product-list-layout fullwidth grid O1"> 
        {% for row in hubdb_table_rows(dynamic_listing) %}
        {% if row.display_on_site.name == "TRUE" %}
          <div class="product-block filter-block {% for item in row.category %} {{ item.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {% endfor %} {{ row.blade_capacity.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.horse_power.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "")|replace(">", "") }} {{ row.specialities.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "")|replace(">", "") }}  {{ row.operating_weight.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "")|replace(">", "") }} {{ row.inventory_type.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.manufacturer.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.model.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.condition.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.model.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.location.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.year.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}" style="background:#fff;">
            <a href="{{ request.path }}/{{ row.hs_path }}"  class="pro-link-wrap"></a>
            <div class="product-featured" style="background: url({{ row.product_image.url }}) no-repeat center top/contain;">
            </div>
            <div class="title-color">
              <h3>{{ row.product_title }}</h3>
            </div>
            {% if row.sub_text %}
            <div class="product-stext">
              {{ row.sub_text }}
            </div>      
            {% endif %}
            {% if row.price %}
            <div class="title-color text-yellow price">
              {% if row.price == "CONTACT US FOR PRICING" %}
              <h3><span>{{ row.price }}</span></h3>
              {% else %}
              <h3><span>{{ row.price }}</span></h3>
              {% endif %}
            </div> 
            {% endif %}
            {% if row.currency %}
             <div class="title-color text-yellow currency">
              <h3>Currency - ><span>{{ row.currency }}</span></h3>
            </div> 
            {% endif %}
             {% if row.hours %}
             <div class="title-color text-yellow hours">
              <h3>Hours - <span>{{ row.hours }}</span></h3>
            </div> 
              {% endif %}
            

            {% if module.card_details.show_horsepower %}

            <div class="text-color spec">
              <div>
                {{ module.horsepower_filter_text }}:
              </div> 
              <div>
              {{ row.hp }}
              </div>
                  </div>
{% endif %}
            {% if module.card_details.show_operating_weight %}
	
             <div class="text-color spec">
              <div>
                {{ module.operating_weight_filter_text }}:
               </div><div>
               {{ row.op }}
               </div>
                  </div>
{% endif %}
            {% if module.card_details.show_blade_boom_section %}

            {% if row.blade_capacity %}
             <div class="text-color spec">
              <div>
                {{ module.blade_filter_text }}:
               </div><div>
               {{ row.blade_capacity.name }}
               </div>
                  </div>
            {% endif %}
{% endif %}
          </div>
      {% endif %}
        {% endfor %}
     </div>
      <div class="noResult">{{ module.no_result_text }}</div>
      <div class="fullwidth loadmore-listing"><a class="button" id="load-more"> Load More</a></div> 
     
    <div class="fullwidth" id="custom-pagination"></div>
    </div>  
    
    <div class="ess-ltd-block is-smalller-device">
      <div class="title-color text-yellow">
        <h3><span>{{ module.title }}</span></h3>
      </div>
      <div class="text-color">
        {{ module.description }}
      </div>  
    </div>
    
    
  </div>    
</div>
   {% else %}
   <div class="no-available-mess fullwidth sec-space sec-bg-color text-center">{{ module.no_result_text }}</div>  
  {% endif %}   



{% require_js %}
<script src="{{ get_asset_url('/ESS LTD - Theme 2022/js/pagination.js') }}"></script>
<script src="{{ get_asset_url('/ESS LTD - Theme 2022/js/isotope.js') }}"></script>
<script>
  $(document).ready(function(){
    
    if ($('.ui-group ul li').hasClass("filter-con")) {
      $('li.filter-con').parents('.ui-group').addClass('add-sec');
    }
    
    
     var seen = {};
     $('.ui-group ul li.filter-con a').each(function() {
      var txt = $(this).text();
      if (seen[txt])
          $(this).parent().remove();
      else
          seen[txt] = true;
     });
    
     if($('.grid').length > 0){ 
      
  //   let companyList = $('.grid .product-block'); 
     
 // init Isotope
    
    var $grid = $('.grid').isotope({
      layoutMode: 'fitRows',
      itemSelector: '.product-block',
      
    });
    
    // store filter for each group
    var filters = {};

    $('.filters').on( 'click', 'a', function( event ) {
      var $button = $( event.currentTarget );
      
      // get group key
      var $buttonGroup = $button.parents('.button-group');
      var filterGroup = $buttonGroup.attr('data-filter-group');
       
      // set filter for group
      filters[ filterGroup ] = $button.attr('data-filter');
      
      // combine filters
      var filterValue = concatValues( filters );
       
      // set filter for Isotope
      $grid.isotope({ filter: filterValue });

      
    });
       
       var $anyButtons = $('.filters').find('a[data-filter=""]');
        var $buttons = $('.filters a');
       
        $('.button--reset').on( 'click', function() {
    // reset filters
    filters = {};
    $grid.isotope({ filter: '*' });
    // reset buttons
    $buttons.removeClass('is-checked');
    $anyButtons.addClass('is-checked');
    $.removeCookie('type', { path: '/' });      
  });

    // change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
      var $buttonGroup = $( buttonGroup );
      $buttonGroup.on( 'click', 'a', function( event ) {
        $buttonGroup.find('.is-checked').removeClass('is-checked');
        var $button = $( event.currentTarget );
        $button.addClass('is-checked');
         
//         if($(".is-first").hasClass("is-checked")){
           
//           setTimeout(function(){
           
//             $('#custom-pagination').pagination({

//               dataSource: function(done){
//                 var result = [];
//                 for (var i = 1; i <= companyList.length; i++) {
//                   result.push(i);
//                 }
//                 done(result);
//               },
//               pageSize: 12,
//             //  pageRange: 1,
//               callback: function(data, pagination) {
//                 console.log(data);
//                 companyList.hide();
//                 companyList.slice(data[0] - 1 , data.pop()).show();
                 
//                 // companyList.slice(data[0] - 1 , data.pop()).css('display', 'block')
//                 $grid.isotope();
//               }
//             });
//           }, 300);
//         }
          
           
      });
       
    });
       
       
       

    // flatten object by concatting values
    function concatValues( obj ) {
      var value = '';
      for ( var prop in obj ) {
        value += obj[ prop ];
      }
      return value;
    }
//        companyList.hide();
//        if($("#custom-pagination").length > 0){
//          function setPagination(){
//          $('#custom-pagination').pagination({
//            dataSource: function(done){
//              var result = [];
//              for (var i = 1; i <= companyList.length; i++) {
//                result.push(i);

//              }
//              done(result);
//            },
//            prevText: '',
//            nextText: '',
//            pageSize: 12,
//            pageRange: 1,
//            showPrevious: true,
//            showNext: true,
//            callback: function(data, pagination) {
//              console.log(data);
//              companyList.hide();
//              companyList.slice(data[0] - 1 , data.pop()).show();
//              //  companyList.slice(data[0] - 1 , data.pop()).css('display', 'block');
//              $grid.isotope();
//            }
//          });
//        }
//   }
//        // Pagination Function call 
//        setPagination();
   
       
  //****************************
  // Isotope Load more button
  //****************************
  var initShow = 12; //number of items loaded on init & onclick load more button
  var counter = initShow; //counter for load more button
  var iso = $grid.data('isotope'); // get Isotope instance

  loadMore(initShow); //execute function onload

  function loadMore(toShow) {
    $grid.find(".hidden").removeClass("hidden");

    var hiddenElems = iso.filteredItems.slice(toShow, iso.filteredItems.length).map(function(item) {
      return item.element;
    });
    $(hiddenElems).addClass('hidden');
    $grid.isotope('layout');

    //when no more to load, hide show more button
    if (hiddenElems.length == 0) {
      jQuery("#load-more").hide();
    } else {
      jQuery("#load-more").show();
    };

  }

  //append load more button
  

  //when load more button clicked
  $("#load-more").click(function() {
    if ($('.filters').data('clicked')) {
      //when filter button clicked, set initial value for counter
      counter = initShow;
      $('.filters').data('clicked', false);
    } else {
      counter = counter;
    };

    counter = counter + initShow;

    loadMore(counter);
  });

  //when filter button clicked
  $(".filters").click(function() {
    $(this).data('clicked', true);
    loadMore(initShow);
    if ( !$grid.data('isotope').filteredItems.length ) {
     $('.noResult').show();
      } else {
        $('.noResult').hide();
     }
    
    
  });
    
       {% if module.trigger_excavators %}
       $('.ui-group ul li.filter-con.excavatorscrawler a').trigger('click');
       {% endif %} 
       
       {% if module.trigger_dozers %}        
       $('.ui-group ul li.filter-con.dozerscrawler a').trigger('click');
       {% endif %} 
       
       {% if module.trigger_motor_graders %}        
       $('.ui-group ul li.filter-con.motorgraders a').trigger('click');
       {% endif %} 
       
       {% if module.trigger_cranes %}        
       $('.ui-group ul li.filter-con.cranes a').trigger('click');
       {% endif %} 
       
       {% if module.trigger_drills %}        
       $('.ui-group ul li.filter-con.drillsvertical a').trigger('click');
       {% endif %} 
       
       
       
       
       
       
  }
  });
  
    $( window ).ready(function() { 
  var cookiefilter = $.cookie("type");
  var cookiefilter1 = $.cookie("key1");
  var cookiefilter2 = $.cookie("key2");
  var cookiefilter3 = $.cookie("key3");
  var cookiefilter4 = $.cookie("key4");
  if (typeof $.cookie('type') != 'undefined'){
 console.log(cookiefilter);
    console.log("cookie added");
      $("li.filter-con a").each(function() {
    var optt = $(this).attr("data-option");
    if ( optt === cookiefilter) {
      $('.ui-group ul li.grp-filter.'+optt+' a').trigger('click');
    }
        else if( optt === cookiefilter1) {
      $('.ui-group.group-2 ul li.grp-filter.'+optt+' a').trigger('click');
    }
           else if( optt === cookiefilter2) {
      $('.ui-group.group-3 ul li.grp-filter.'+optt+' a').trigger('click');
    }
           else if( optt === cookiefilter3) {
      $('.ui-group.group-4 ul li.grp-filter.'+optt+' a').trigger('click');
    }
           else if( optt === cookiefilter4) {
      $('.ui-group.group-5 ul li.grp-filter.'+optt+' a').trigger('click');
    }
  });
}

if (typeof $.cookie('type') === 'undefined'){
console.log("cookie removed");
 $.removeCookie('type', { path: '/' });
 $.removeCookie('key1', { path: '/' });
 $.removeCookie('key2', { path: '/' });
 $.removeCookie('key3', { path: '/' });
 $.removeCookie('key4', { path: '/' });
}
});
  
//   $(window).unload(function() {
//     $.removeCookie('type', { path: '/' });
    
// });
  

</script>  


{% end_require_js %}
 
{% endif %} 

{% if dynamic_page_route_level == 1 %}

    <div class="feature-section fullwidth">  
      <div class="content-wrapper">
        <div class="title-color text-center">
          <h2>{{ module.similar_product_title }}</h2>
        </div>
        <div class="feature-outer slick-arrow-dark">
                    {% set selectedType = [] %}
                    {% for type in dynamic_page_hubdb_row.category %}
                    {% if loop.first %}
                    {% do selectedType.append(type.name|urlencode) %}
                    {% endif %}
                    {% endfor %}
                    {% set query = "&orderBy=-date_published" ~ selectedType[0] %}
                    {% set relatedJobs = hubdb_table_rows(dynamic_page_hubdb_table_id, query) %}
                    {% for row in relatedJobs %}
          
                {% if dynamic_page_hubdb_row.hs_id != row.hs_id %}
           {% if row.display_on_site.name == "TRUE" %}
                <div class="product-block {{ row.types.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.inventory_type.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.manufacturer.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.model.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.condition.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.model.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.location.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }} {{ row.year.name|lower|replace(" ", "")|replace("&", "")|replace("'", "")|replace(".", "")|replace("#", "")|replace("-", "")|replace("(", "")|replace(")", "")|replace("/", "")|replace("|", "")|replace(",", "")|replace("%", "")|replace("$", "")|replace("*", "")|replace("`", "")|replace(";", "") }}">
                  <a href="{{ row.hs_path }}" class="pro-link-wrap"></a>
                  <div class="product-featured" style="background: url({{ row.product_image.url }}) no-repeat center top/contain;">
                  </div>
                  <div class="title-color">
                    <h3>{{ row.product_title }}</h3>
                  </div>
                  {% if row.price %}
            <div class="title-color text-yellow price">
              {% if row.price == "CONTACT US FOR PRICING" %}
              <h3><span>{{ row.price }}</span></h3>
              {% else %}
              <h3><span>{{ row.price }}</span></h3>
              {% endif %}
            </div> 
            {% endif %}
            {% if row.currency %}
             <div class="title-color text-yellow currency">
              <h3>Currency - ><span>{{ row.currency }}</span></h3>
            </div> 
            {% endif %}
             {% if row.hours %}
             <div class="title-color text-yellow hours">
              <h3>Hours - <span>{{ row.hours }}</span></h3>
            </div> 
              {% endif %}
                  <div class="text-color">
                    {{ row.location.name }}
                  </div> 
                </div>
          {% endif %}
                {% endif %}
                {% endfor %}
        </div>  
      </div>  
    </div>  
   
{% endif %}

{% require_css %}
<style>
  
  #hs_cos_wrapper_{{ name }} .sec-space{background:#fff; overflow:hidden;}
  {% if module.show_background_contain %}
	  #hs_cos_wrapper_{{ name }} .product-featured { background-size: contain !important; background-position: center !important; }
  {% endif %}
  
  
  {% if module.style.section_background.css %}
  #hs_cos_wrapper_{{ name }} .sec-bg-color { background: {{ module.style.section_background.css }}; }
  {% endif %}
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .ui-group ul li a, #hs_cos_wrapper_{{ name }} .ui-group > span, #hs_cos_wrapper_{{ name }} .ess-ltd-block .text-color { color: rgba({{ module.style.color_settings.filters_text_color.color|convert_rgb }}, {{ module.style.color_settings.filters_text_color.opacity ~ '%' }}); }
  
   
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6 { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}

