.pro-tab-desc table, .pro-tab-desc table td{width:100%;}
.noResult { display:none; text-align: center; padding: 200px 0; } 

.product-block.filter-block:hover {
    background: #f1efef!important;
    border-radius: 10px!important;
    box-shadow: 0 0 11px #93939380!important;
  
}


.ui-content div strong{
  font-size: 20px;
color: #140a9a;
    font-family: Saira Condensed,sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.text-color.spec{
  font-size:14px!Important;
  display: flex;
    align-items: center;
    justify-content: space-between;
border-bottom: 2px dotted #000;}


.form-header {
    background: rgba(20, 10, 154, 100%);
}

.form-header h2{
    color:white;
}

.form-main form {
    text-transform: none;
}
@media (max-width: 370px) {
  ..grecaptcha-badge {
    transform: scale(0.8)!important;
    margin: 0 -20px !important;
  }
}

#myCarousel {
	max-width: 640px;
	margin: 0 auto;
}

#myCarousel .f-carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
  max-height: 800px;
}

#myCarousel .f-carousel__slide a {
	height: 100%
}

#myCarousel .f-carousel__slide a img {
	object-fit: contain;
	height: 100%;
	width: 100%;
  padding:0 50px;
}

@media (max-width: 1220px) {
#myCarousel .f-carousel__slide {

  max-height: 500px;
}
}
