{% if module.style.section_show_hide_ %}
<div class="fullwidth sec-space sec-bg-color">
  <div class="content-wrapper">
    <div class="hs-blog-max">
    {% if content.name %}
      <div class="title-color text-yellow">
        <h1>{{ content.name }}</h1>
      </div>
    {% endif %}
    {% if module.content %}
    <div class="text-color">
      {{ module.content }}
    </div>
    {% endif %}
    {% if module.button_text %}
    <div class="btn-yellow btn-color">
      {% set href = module.button_link.url.href %}
      {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}"
         {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
         {% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
         >
        {{ module.button_text }}
      </a>
    </div>
    {% endif %}
  </div> 
  </div>  
</div>  
{% endif %}

{% require_css %}
<style>
  {% if content.featured_image %}
    {% if module.style.section_background.overlay_show_hide_ %}
      #hs_cos_wrapper_{{ name }} .sec-bg-color { background: linear-gradient( 91deg, #000000F2 0%, #020202D9 48%, #01010196 77%, #00000000 100%), url({{ content.featured_image }}) no-repeat center top/cover;  }
    {% else %}
      #hs_cos_wrapper_{{ name }} .sec-bg-color { background: url({{ content.featured_image }}) no-repeat center top/cover;  }
    {% endif %} 
  
  {% elif module.style.section_background.background_image.src %}  
    {% if module.style.section_background.overlay_show_hide_ %}
      #hs_cos_wrapper_{{ name }} .sec-bg-color { background: linear-gradient(92deg, #000000 0%, #090909 51%, #00000000 100%), url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover;  }
    {% else %}
      #hs_cos_wrapper_{{ name }} .sec-bg-color { background: url({{ module.style.section_background.background_image.src }}) no-repeat center top/cover;  }
    {% endif %}
  {% endif %}
  
  
  {% if module.style.desktop_spacing.css %}
  #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.desktop_spacing.css }} }
  {% endif %}
  
  /*  Title Color */
  {% if module.style.color_settings.title_color.color %}
  #hs_cos_wrapper_{{ name }} .title-color h1,
  #hs_cos_wrapper_{{ name }} .title-color h2,
  #hs_cos_wrapper_{{ name }} .title-color h3,
  #hs_cos_wrapper_{{ name }} .title-color h4,
  #hs_cos_wrapper_{{ name }} .title-color h5,
  #hs_cos_wrapper_{{ name }} .title-color h6, #hs_cos_wrapper_{{ name }} .title-color span { color: rgba({{ module.style.color_settings.title_color.color|convert_rgb }}, {{ module.style.color_settings.title_color.opacity ~ '%' }}); }
  {% endif %}
  
  /*  Paragraph Text Color */
  {% if module.style.color_settings.paragraph_text_color.color %}
  #hs_cos_wrapper_{{ name }} .text-color { color: rgba({{ module.style.color_settings.paragraph_text_color.color|convert_rgb }}, {{ module.style.color_settings.paragraph_text_color.opacity ~ '%' }}); }
  {% endif %}
  
  #hs_cos_wrapper_{{ name }} .btn-color a { {% if module.button_color_settings.button_default_state.button_background_color.color %} background: rgba({{ module.button_color_settings.button_default_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_default_state.button_text_color.color %} color: rgba({{ module.button_color_settings.button_default_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_default_state.button_text_color.opacity ~ '%' }});{% endif %} }
  #hs_cos_wrapper_{{ name }} .btn-color a:hover { {% if module.button_color_settings.button_hover_state.button_background_color.color %}background: rgba({{ module.button_color_settings.button_hover_state.button_background_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_background_color.opacity ~ '%' }});{% endif %} {% if module.button_color_settings.button_hover_state.button_text_color.color %}color: rgba({{ module.button_color_settings.button_hover_state.button_text_color.color|convert_rgb }}, {{ module.button_color_settings.button_hover_state.button_text_color.opacity ~ '%' }});{% endif %} }
  
 /***  Responsive Media Query ***/
 @media(max-width: 991px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.tablet_spacing.css }} }
  }
  
  @media(max-width: 767px){
   #hs_cos_wrapper_{{ name }} .sec-space { {{ module.style.mobile_spacing.css }} }
  }
  
</style>  
{% end_require_css %}


